@{
    ViewBag.Title = "Dashboard";
}
@section Styles {
    @* <link rel="stylesheet" href="/Content/side_menu.css"> *@
}
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div id="cost_management"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div id="employees"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div id="grade_system"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/loader.js"></script>
    <script src="/Scripts/Chart.min.js"></script>
    <script src="/Scripts/Custome-Reporting.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        @* var clicked = false;
        function CheckBrowser() {
            if (clicked == false) {
                alert("clicked")
                //Browser closed
            }
            else {
                alert("no clicked")
                //redirected
                clicked = false;
            }
        }
     
        function BClose() {
            if (clicked == false)//browser is closed
            {
                alert("browser closed")
                window.location = "logOut.aspx";
            }
        } *@


        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();
        $(function () {
            
            var chat = $.connection.chatHub;
            
            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            };
        });

        $(document).ready(function () {

            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);


            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

            
        });


       
        
    </script>
}