@{
    ViewBag.Title = "ダッシュボードにアクセスする";
}

<div class="row">
    <div class="col-md-12">
        <div id="total_cost_chart" style="width:100%"></div>
    </div>
    
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div id="total_head_count_chart" style="width:100%"></div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div id="monthly_cost_chart" style="width:100%"></div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div id="monthly_head_count_chart" style="width:100%"></div>
    </div>
</div>

@section Scripts {
    <script src="/Scripts/loader.js"></script>
    <script src="/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/dash.js"></script>

    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>            
}