
@{
    ViewBag.Title = "Roles Registration";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/roles_ver02.css" />
}
    <div class="content container-fluid">
        <!-----------------Roles Master: Roles Registration Form----------------->
        @if (Convert.ToBoolean(ViewBag.linkFlag))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <table id="roles_reg_tbl">
                                <thead style="border:none;">
                                    <tr></tr>
                                    <tr>
                                        <th>役割 (Roles Name)</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="roles_reg_frm_td">
                                            <input type="text" value="" placeholder="役割 氏名(Roles Name)" id="role_name">
                                            @* <div class="department_name_err" id="department_name_err">
                                                Please provide a department name.
                                            </div> *@
                                        </td>
                                        <td id="roles_reg_frm_td">
                                            <a href="javascript:void(0);" class="" id="roles_reg_cancel_btn" data-dismiss="modal">Cancel</a>
                                            <a href="javascript:void(0);" class="" id="roles_reg_save_btn" onclick="InsertRoles();">Save</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
        }


        <!-----------------Roles Master: Roles list are showing on this part----------------->
        <div id="roles_list" style="display: block;">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="" id="roles_list_tbl">
                            <thead>
                                <tr>
                                    <th colspan="6">役割 リスト(Roles List)</th>
                                </tr>
                                <tr>
                                    <th class="roles_list_theader">Check</th>
                                    <th class="roles_list_theader">役割 (Roles Name)</th>
                                </tr>
                            </thead>
                            <tbody id="role_list_tbody"></tbody>
                        </table>
                        @if (Convert.ToBoolean(ViewBag.linkFlag))
                        {
                            <label id="roles_delete_btn">
                                <a id="role_inactive_btn" href="javascript:void();" data-toggle="modal" data-target="#inactive_role_modal" onClick="onRoleInactiveClick()">Delete</a>
                            </label>
                        }

                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
<br><br>

<input type="hidden" id="role_warning_text" />

<!-----------------Modal: Delete Roles----------------->
<div class="modal custom-modal fade" id="inactive_role_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Roles</h3>
                    <ol class="role_count" style="text-align:left;"></ol>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="role_inactive_confirm_btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{    
    <script src="/Scripts/common.js"></script> 
    <script src="/Scripts/roles_ver02.js"></script>     

    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();

        $(function () {

            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            };
        });



        $(document).ready(function () {


            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);
            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });
                    
        });
    </script>         
}
