/*-----------------
	1. General
-----------------------*/

body {
    overflow-x: auto;
}

.jexcel {
    font-size: 10px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}

.jexcel_content {
    max-height: 800px !important;
}

.jexcel > thead > tr:nth-of-type(2) > td:nth-of-type(2) {
    left: 0px;
    z-index: 3 !important;
    -webkit-box-shadow: 2px 0px 2px 0.2px #ccc !important;
}

.jexcel > thead > tr:nth-of-type(2) > td:nth-of-type(3) {
    left: 0px;
    z-index: 3 !important;
    -webkit-box-shadow: 2px 0px 2px 0.2px #ccc !important;
}

.jexcel > thead > tr:nth-of-type(2) > td:nth-of-type(4) {
    left: 150px;
    z-index: 3 !important;
    -webkit-box-shadow: 2px 0px 2px 0.2px #ccc !important;
}

.jexcel tbody tr td:nth-of-type(3) {
    text-align: left !important;
}

.jexcel tbody tr td:nth-of-type(4) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(5) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(6) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(7) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(8) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(9) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(10) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(11) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(12) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(13) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(14) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(15) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(16) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(17) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(18) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(19) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(20) {
    text-align: right !important;
}

#actual_cost {
    margin-left: -11px;
    margin-top: -1px;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    height: 30px;
    border: 1px solid #ccc !important;
}

#assignment_year {
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc !important;
    text-align: center;
}

#nav1, #nav2 {
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
}

#actual_cost_table_header {
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
    display: block;
    margin-top: -11px;
}

#actual_cost_list {
    margin-top: -13px;
}

#actual_cost_search {
    margin-top: 11px;
}


/********** sorting **********/
.employee_sorting {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 143px;
    z-index: 100;
}
.section_sorting {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 357px;
    z-index: 100;
}
.department_sorting {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 453px;
    z-index: 100;
}
.incharge_sorting{
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 554px;
    z-index: 100;
}
.role_sorting {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 653px;
    z-index: 100;
}
.explanation_sorting {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 713px;
    z-index: 100;
}
.company_sorting {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 864px;
    z-index: 100;
}

/********cutome modal ***********/