/***************************************************************\                           
	Approve History: YearList,Navigation,Timestamp list: Start
\***************************************************************/ 
#approve_history_navigation{
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
    display: block;
    margin-top: -11px;
}
#nav1,#nav2{
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;    
}
#filter_history_data{
    margin-top: 15px;
}
#history_year{
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    width: 70%;
    height: 30px;
    border: 1px solid #ccc !important;
    text-align: center;
}
#btn_submit{
    margin-top: 2px;
}
#history_data_btn{
    margin-left: -63px;
    margin-top: -2px;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    height: 29px;
    border: 1px solid #ccc !important;
    width: 64px;
    line-height: 1;
}
#timestamp_list{
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
    display: block;
}
.modal-body {
    max-width: 100%;
    overflow-x: auto;
}
.container {
    width:5000px;
}
/***************************************************************\                           
	Approve History: YearList,Navigation,Timestamp list: End
\***************************************************************/ 