/***************************\                           
	Budget: Import Excel And Replicate  Budget Links and views: Start
\***************************/ 
#budget_import_navigation_txt{
  font-size: 12px;
  font-family: "Yu Gothic";
  white-space: nowrap !important;
  display: block;
  margin-top: -11px;
}
#nav1,#nav2{
  font-size: 12px;
  font-family: "Yu Gothic";
  white-space: nowrap !important;    
}

.import_replicate_tbl_header{
  border: none !important;
  padding: 0px !important;
  text-align: left;
  font-size: 0.875rem;
}
.import_forecast_data {
  color: black;
  text-decoration: underline;
  margin-left: 28px;
  font-size: 13px !important;
}
.replicate_forecast_data{
  color: black;
  text-decoration: underline;
  margin-left: 28px;
  font-size: 13px !important;
}
/***************************\                           
	Budget: Import Excel And Replicate  Budget Links and views: End
\***************************/ 


/***************************\                           
	Modal: CSV Import: Start
\***************************/ 
#import_file_excel{
  font-size: 12px;
  margin-left: 6px;
  margin-top: 41px;
}
/***************************\                           
	Modal: CSV Import: End
\***************************/ 


/***************************\                           
	Modal: Replciate from previous year: Start
\***************************/ 
#replicate_modal_header{
  text-align: left;    
  font-size: 19px;
  width: 100%;
}
#duplicate_from_title,#approval_timestamp_title,#duplicate_to_title,#duplicate_budget_type_title{
  float: left;
  font-size: 14px;
}
#duplicate_from,#approval_timestamps,#duplciateYear,#select_duplicate_budget_type{
  border-color: #e3e3e3 !important;
  box-shadow: none !important;
  font-size: 14px !important;
  height: 44px !important;
}
/***************************\                           
	Modal: Replciate from previous year: End
\***************************/ 


/***************************\                           
	Custome
\***************************/ 
.select2-container{
    width:100% !important;
}
#validation_message_success{
  color: green;
}
#validation_message_failed{
  color: red;
} 
input[type=file]{    
    color:transparent;
}

#fileLabel{
  font-size: 13px;
}
#file_label_txt{
  margin-top: 35px;
}
