body {
    overflow-x: auto;
}
.jexcel > thead > tr > td.arrow-down {
    background-image: url('/img/arrow_down.png');
    background-size: 10px 10px;
}

.jexcel > thead > tr > td.arrow-up {
    background-image: url('/img/arrow_up.png');
    background-size: 10px 10px;
}
.jexcel .jexcel_column_filter {
    background-image: url('/img/search.png');
    background-size: 10px 10px;
    background-color: white;
}

/*--------------custom filter form jexcel----------------*/
#filter_asc_desc {
    list-style: none;
    width: 400px;
}

    #filter_asc_desc li a {
        background-color: lightgray;
        display: inline-block;
        width: 100%;
        margin: 10px;
        padding: 10px;
        color: white;
    }

#filter_search {
    width: 400px;
}
.search_p {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 232px;
    z-index: 100;
}
.search_section {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 392px;
    z-index: 100;
}
.search_department {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 493px;
    z-index: 100;
}
.search_incharge{
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 593px;
    z-index: 100;
}
.search_role {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 653px;
    z-index: 100;
}
.search_explanation {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 802px;
    z-index: 100;
}
.search_company {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 643px;
    z-index: 100;
}
.search_grade {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 740px;
    z-index: 100;
}
.search_unit_price {
    height: 157px;
    width: 160px;
    background-color: whitesmoke;
    position: absolute;
    top: 160px;
    left: 799px;
    z-index: 100;
}
#search_p_asc_desc{
    list-style: none;
    width: 100%;
    padding: 10px;
}
#search_section_asc_desc {
    list-style: none;
    width: 100%;
    padding: 10px;
}
#search_department_asc_desc {
    list-style: none;
    width: 100%;
    padding: 10px;
}
#search_incharge_asc_desc {
    list-style: none;
    width: 100%;
    padding: 10px;
}
#search_role_asc_desc {
    list-style: none;
    width: 100%;
    padding: 10px;
}
#search_explanation_asc_desc {
    list-style: none;
    width: 100%;
    padding: 10px;
}
#search_company_asc_desc {
    list-style: none;
    width: 100%;
    padding: 10px;
}
#search_grade_asc_desc {
    list-style: none;
    width: 100%;
    padding: 10px;
}
#search_unit_price_asc_desc {
    list-style: none;
    width: 100%;
    padding: 10px;
}
#search_p_asc_desc li {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 2px;
    display: block;
    color: black;
}
#search_section_asc_desc li {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 2px;
    display: block;
    color: black;
}
#search_department_asc_desc li {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 2px;
    display: block;
    color: black;
}
#search_incharge_asc_desc li {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 2px;
    display: block;
    color: black;
}
#search_role_asc_desc li {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 2px;
    display: block;
    color: black;
}
#search_explanation_asc_desc li {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 2px;
    display: block;
    color: black;
}
#search_company_asc_desc li {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 2px;
    display: block;
    color: black;
}
#search_grade_asc_desc li {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 2px;
    display: block;
    color: black;
}
#search_unit_price_asc_desc li {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 2px;
    display: block;
    color: black;
}
#search_p_asc_desc li i {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: lightsteelblue;
}
#search_section_asc_desc li i {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: lightsteelblue;
}
#search_department_asc_desc li i {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: lightsteelblue;
}
#search_incharge_asc_desc li i {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: lightsteelblue;
}
#search_role_asc_desc li i {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: lightsteelblue;
}
#search_explanation_asc_desc li i {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: lightsteelblue;
}
#search_company_asc_desc li i {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: lightsteelblue;
}
#search_grade_asc_desc li i {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: lightsteelblue;
}
#search_unit_price_asc_desc li i {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: lightsteelblue;
}
#search_p_asc_desc li i:hover {
    background-color: grey;
}
#search_section_asc_desc li i:hover {
    background-color: grey;
}
#search_department_asc_desc li i:hover {
    background-color: grey;
}
#search_incharge_asc_desc li i:hover {
    background-color: grey;
}
#search_role_asc_desc li i:hover {
    background-color: grey;
}
#search_explanation_asc_desc li i:hover {
    background-color: grey;
}
#search_company_asc_desc li i:hover {
    background-color: grey;
}
#search_grade_asc_desc li i:hover {
    background-color: grey;
}
#search_unit_price_asc_desc li i:hover {
    background-color: grey;
}

#search_p_asc_text,#search_section_asc_text,#search_department_asc_text,#search_incharge_asc_text,#search_role_asc_text {
    margin-left: 10px;
}
#search_explanation_asc_text,#search_company_asc_text,#search_grade_asc_text,#search_unit_price_asc_text{
    margin-left: 10px;
}

#search_p_desc_text {
    margin-left: 10px;
}
#search_section_desc_text,#search_department_desc_text,#search_incharge_desc_text,#search_role_desc_text {
    margin-left: 10px;
}
#search_explanation_desc_text,#search_company_desc_text,#search_grade_desc_text,#search_unit_price_desc_text {
    margin-left: 10px;
}

#search_p_search {
    width: 100%;
    height: 100px;
    display: block;
    overflow: auto;
    list-style: none;
}

    #search_p_search li {
        font-size: 12px;
    }

.search_p_footer {
    margin-top: -11px;
    margin-left: 59px;
}

.search_p_footer button {
    font-size: 12px;
    border: 1px solid black;
    margin-left: 35%;
}

#hider {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1600px;
    height: 2000px;
    margin-top: -800px; /*set to a negative number 1/2 of your height*/
    margin-left: -500px; /*set to a negative number 1/2 of your width*/
    z-index: 99;
    background-color: Black;
    opacity: 0;
}

#search_p_text_box {
    height: 20px;
}

/*--------------end of custom filter form jexcel----------------*/
.toast-warning{
    background-color: gray;
    color: white;
}
.toast-success{
    background-color: gray;
    color: white;
}

#input_master{
    font-size: 10px;
    font-weight: bold;
    font-family: Yu Gothic;
    /* white-space: nowrap !important;*/
}

#list_master{
    font-size: 10px;
    font-weight: bold;
    font-family: Yu Gothic;
    /* white-space: nowrap !important;*/
}

/*************
    Delete Modal: master setting value assignment warning
************/
.del_confirm_warning{
    font-size: 12px !important;
    font-family: Yu Gothic;    
    padding-left: 35px;
    text-align: left;
}