/*-----------------Company Master-----------------------*/
body {
    overflow-x: auto;
}

/***************************\                           
	Company Registration Form
\***************************/ 
#company_reg_tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}

#company_reg_tbl thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#company_reg_frm_td{
    height: 25px;
    border: none;
    border: 1px solid black !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    width: 57%;
}
#company_name,#company_name_edit{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#company_reg_cancel_btn,#company_reg_cancel_btn_edit {
    line-height: 1;
	background-color: red;
    color: white;
	border: none;

    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
}
#company_reg_save_btn,#company_reg_save_btn_edit {
    line-height:1;
    background-color: green;
	border: none;

    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

/***************************\                           
	Company List Show
\***************************/ 
#company_list_tbl{
    width: 85%;
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}
#company_list_tbl td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

#company_list_tbl td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}

#company_list_tbl td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#company_list_tbl {
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}

#company_list_tbl thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

#company_list_tbl thead th:nth-of-type(2) {
    width: 200px
}

#company_list_tbl thead th:nth-of-type(3) {
    width: 100px
}

#company_list_tbl thead th:nth-of-type(1) {
    /* width: 45px; */
    width: 10%;
}
.company_list_theader{
    border: 1px solid #ccc !important;
    border-spacing: 4px;
}
/***************************\                           
	Company List
    Button
\***************************/ 
#company_inactive_btn {
    width: 117%;
    font-size: 10px;
    font-family: Yu Gothic;
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    margin-left: -10px !important;
}
#company_delete_btn {
    padding-left: 332px;
}
.company_th{
    border: 1px solid black !important;
}


/*add,edit and delete button */
.add_edit_delete_btn_section{
    margin-top: 6px;
}
.add_master_btn{   
    font-size: 10px;
    font-family: Yu Gothic;
    background: #4472c4;
    color: white;
    line-height: 1;    
    margin-left: -204px; 
}
.edit_master_btn{
    font-size: 10px;
    font-family: Yu Gothic;
    background: #4472c4;
    color: white;
    line-height: 1.3;
    margin-left: -97px;
    float: left;
}
.delete_master_btn{
    font-size: 10px;
    font-family: Yu Gothic;
    background: white;
    color: red;
    line-height: 1.2;    
    border: 2px solid red !important;
}

/*modal*/
#add_modal_body_title{
    font-size: 10px !important;
    font-family: Yu Gothic;
}
#add_modal_header{
    text-align: left;
    margin-left: 25px;
}

/*modal design*/
#main_item_input_tbl, #sub_item_input_tbl, #detail_item_input_tbl, #main_item_edit_tbl, #sub_item_edit_tbl, #detail_item_edit_tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}
.main_item_input_td, .sub_item_input_td, .detail_item_input_td, .main_item_edit_input_td, .sub_item_edit_input_td, .detail_item_edit_input_td {
    height: 26px;
    border: none;
    border: 1px solid black !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    width: 61%;
}
#main_item_input_tbl thead, #sub_item_input_tbl thead, #detail_item_input_tbl thead, #main_item_edit_tbl thead, #sub_item_edit_tbl thead, #detail_item_edit_tbl thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}


/*common modal design*/
.modal_return_btn{
    margin-top: 40px !important;
    line-height: 1 !important;
    margin-right: -12px  !important;
}
.modal-footer{
    margin-top: -38px !important;
}
.custom-modal .modal-footer {
    border: 0;
    justify-content: right;
    /* padding: 0 30px 30px;*/
}
.custom-modal .modal-body{
    padding: 15px !important;
    margin-top: 1px !important;
}