/*-----------------Dynamic Table Format-----------------------*/
body {
    overflow-x: auto;
}

#dynamic_input_frm_header{
    border: 1px solid black !important;
    background-color: lightgray;
}
#dynamic_input_frm{
    border: 1px solid black !important;    
}
.dynamic_page_title{
    text-align: left;
    font-size: 12px !important;
    margin: 4px;
    margin-left: -8px;
}
.form_title{
    font-size: 11px;
    margin-right: 77px;
    padding-top: 8px;
}
.input_table_frm_lbl{
    font-size: 12px;
    margin-right: -41px;
}
.input_table_frm_lbl2{
    font-size: 12px;
    margin-right: -9px;
}
.input_table_text_field{
    font-size: 12px;
    border: 1px solid black !important;
    width: 85%;
    height: 32px;
}
.select_column_no{
    margin-left: -65px;
    font-size: 12px;
    border: 1px solid black !important;
    width: 53%;
    height: 32px;
}
.frm_add_btn{
    line-height: .7;
    background-color: #bfbfbf;
    border: 1px solid black;
    color: white;
    /* padding: 2px; */
    /* border-radius: 5px; */
    /* margin-top: 10px; */
    display: inline-block;
    margin-bottom: 20px;
    width: 111px;
    margin-left: -83px;
}
.frm_setting_btn{
    line-height: .7;
    background-color: #bfbfbf;
    border: 1px solid black;
    color: white;
    /* padding: 2px; */
    /* border-radius: 5px; */
    /* margin-top: 10px; */
    display: inline-block;
    margin-bottom: 20px;
    margin-left: -64px;
    width: 111px;
}
.frm_cancel_btn{
    line-height: .7;
    background-color: #bfbfbf;
    border: 1px solid black;
    color: white;
    /* padding: 2px; */
    /* border-radius: 5px; */
    /* margin-top: 10px; */
    display: inline-block;
    margin-bottom: 20px;
    margin-left: -44px;
    width: 111px;
}
/*dynamic table list*/
#dynamic_table_list {
    border: none;
}
#dynamic_table_list_for_setting{
    border: none;
}
.dynamic_table_list_for_setting_td{
    height: 25px;
    border: none;
    border: 1px solid black !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}

#dynamic_list_tbl{
    width: 85%;
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}
#dynamic_list_tbl td, th {
    border: 1px solid black !important;
    padding: 0px !important;
    text-align: center;
}

#dynamic_list_tbl td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}

#dynamic_list_tbl td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#dynamic_list_tbl {
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}

#dynamic_list_tbl thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
.table_list_th{
    border: 1px solid black !important;
    border-spacing: 4px;
}
.table_heading{
    font-size: 12px;
}