/*-----------------Dynamic Table Format-----------------------*/
body {
    overflow-x: auto;
}

#dynamic_input_frm_header{
    border: 1px solid black !important;
    background-color: lightgray;
}
#dynamic_input_frm{
    border: 1px solid black !important;    
}
.dynamic_page_title{
    text-align: left;
    font-size: 12px !important;
    margin: 4px;
    margin-left: -8px;
}
.form_title{
    font-size: 11px;
    margin-right: 77px;
    padding-top: 8px;
}
.input_table_frm_lbl{
    font-size: 12px;
    margin-right: -41px;
}
.input_table_frm_lbl2{
    font-size: 12px;
    margin-right: -9px;
}
.input_table_text_field{
    font-size: 12px;
    border: 1px solid black !important;
    width: 85%;
    height: 32px;
}
.select_column_no{
    margin-left: -65px;
    font-size: 12px;
    border: 1px solid black !important;
    width: 53%;
    height: 32px;
}
.frm_add_btn{
    line-height: .7;
    background-color: #bfbfbf;
    border: 1px solid black;
    color: white;
    /* padding: 2px; */
    /* border-radius: 5px; */
    /* margin-top: 10px; */
    display: inline-block;
    margin-bottom: 20px;
    width: 111px;
    margin-left: -83px;
}
.frm_setting_btn{
    line-height: .7;
    background-color: #bfbfbf;
    border: 1px solid black;
    color: white;
    /* padding: 2px; */
    /* border-radius: 5px; */
    /* margin-top: 10px; */
    display: inline-block;
    margin-bottom: 20px;
    margin-left: -64px;
    width: 111px;
}
.frm_cancel_btn{
    line-height: .7;
    background-color: #bfbfbf;
    border: 1px solid black;
    color: white;
    /* padding: 2px; */
    /* border-radius: 5px; */
    /* margin-top: 10px; */
    display: inline-block;
    margin-bottom: 20px;
    margin-left: -44px;
    width: 111px;
}
/*dynamic table list*/
#dynamic_table_list {
    border: none;
    margin-top: -31px;
}
#dynamic_table_list_for_setting{
    border: none;
}
.dynamic_table_list_for_setting_td{
    height: 25px;
    border: none;
    border: 1px solid black !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}

#dynamic_list_tbl{
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}
#dynamic_list_tbl td, th {
    border: 1px solid black !important;
    padding: 0px !important;
    text-align: center;
}

#dynamic_list_tbl td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}

#dynamic_list_tbl td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#dynamic_list_tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}

#dynamic_list_tbl thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
.table_list_th{
    border: 1px solid black !important;
    border-spacing: 4px;
}
.table_heading{
    font-size: 12px;
}
/*list action button*/
.dynamic_table_list_action{
    margin-top: 8px;
    margin-left: 24%;
}
.list_table_delete_btn{
    font-size: 10px;
    font-family: Yu Gothic;
    background: indianred;
    color: white;
    line-height: 1;    
    margin-left: 6px;
}

.list_table_add_btn{   
    font-size: 10px;
    font-family: Yu Gothic;
    background: blueviolet;
    color: white;
    line-height: 1;
    margin-left: 5px;
}
.list_table_edit_btn{
    font-size: 10px;
    font-family: Yu Gothic;
    background: blueviolet;
    color: white;
    line-height: 1;
    margin-left: 12px;
}
.frm_setting_btn{
    font-size: 10px;
    font-family: Yu Gothic;
    background: blueviolet;
    color: white;
    line-height: 1;
    margin-left: 12px;
    text-align: center;
    width: 72%;
}

/*delete confirm modal*/
.delete_confirm_header{
    /* color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    border: 1px solid black;
    background: lightgray; */
    text-align: left;
}
.confrim_del_btn, .confrim_del_btn_main_item, .confrim_del_btn_sub_item, .confrim_del_btn_detail_item {
    width: 100%;
    font-size: 13px;
    font-family: Yu Gothic;
    background: darkgray;
    color: black !important;
    line-height: 1.1;
    /* margin-left: 188px; */
    border: 1px solid black !important;
}
.confrim_cancel_btn, .confrim_cancel_btn_main_item, .confrim_cancel_btn_sub_item, .confrim_cancel_btn_detail_item {
    width: 100%;
    font-size: 13px;
    font-family: Yu Gothic;
    background: darkgray;
    color: black !important;
    line-height: 1.1;
    /* margin-left: 84px; */
    border: 1px solid black !important;
}

/*main list modal*/
.main_list_header, .sub_list_header, .detail_list_header, .main_item_edit_header, .sub_item_edit_header, .detail_item_edit_header {
    height: 48px !important;
    background: lightgray !important;
}
.main_item_add_btn, .main_item_edit_btn, .main_item_edit_action, .sub_item_add_btn, .sub_item_edit_action, .detail_item_add_btn, .sub_item_edit_btn, .detail_item_edit_btn, .detail_item_edit_action {
    line-height: 1;
    background-color: #4472c4;
    border: none;
    color: white;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    margin-top: 10px;
    /* display: inline-block; */
    margin-bottom: 20px;
}

.main_item_del_btn, .sub_item_del_btn, .detail_item_del_btn {
    line-height: 1;
    background-color: white;
    border: none;
    color: red;
    border: 1px solid red;
    padding: 3px;
    border-radius: 5px;
    margin-top: 10px;
    /* display: inline-block; */
    margin-bottom: 20px;
}
#main_item_input_tbl, #sub_item_input_tbl, #detail_item_input_tbl, #main_item_edit_tbl, #sub_item_edit_tbl, #detail_item_edit_tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
    margin-bottom: 20px;
}

#main_item_input_tbl thead, #sub_item_input_tbl thead, #detail_item_input_tbl thead, #main_item_edit_tbl thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

.main_item_input_td, .sub_item_input_td, .detail_item_input_td, .main_item_edit_input_td, .sub_item_edit_input_td, .detail_item_edit_input_td {
    height: 26px;
    border: none;
    border: 1px solid black !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    width: 61%;
}
.main_item_add_btn_footer, .main_item_del_btn_footer, .sub_item_add_btn_footer, .sub_item_del_btn_footer, .detail_item_add_btn_footer, .detail_item_del_btn_footer {
    line-height: 1;
    background-color: #d9d9d9;
    border: none;
    color: black;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    margin-top: 10px;
    /* display: inline-block; */
    margin-bottom: 20px;
}
.input_frm_footer{
    padding: 0px !important;
    text-align:right;
    margin:10px;
}
.main_item_list_tbl, .sub_item_list_tbl, .detail_item_list_tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
    margin-bottom: 20px;
}

.main_item_list_tbl thead,.sub_item_list_tbl thead,.detail_item_list_tbl thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
.main_item_link, .sub_item_link, .detail_item_link {
    text-decoration: underline;
}


    