/***************************\                           
	List: ALL Department Show: Start
\***************************/ 
#dept_list_tbl{
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
    border: 1px solid;
}
#dept_list_tbl td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}
#dept_list_tbl td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}

#dept_list_tbl td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}

#dept_list_tbl thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

#dept_list_tbl thead th:nth-of-type(2) {
    width: 200px
}

#dept_list_tbl thead th:nth-of-type(3) {
    width: 100px
}

#dept_list_tbl thead th:nth-of-type(1) {
    /* width: 45px; */
    width: 10%;
}
.dept_list_theader{
    border: 1px solid #ccc !important;
    border-spacing: 4px;
}
/***************************\                           
	List: ALL Department Show: End
\***************************/ 

/**************
    Action: Add,Edit,Delete Button:Start
**************/
.add_edit_del_dept{
    margin-top: 6px;
}
.delete_dept_btn{
    font-size: 10px;
    font-family: Yu Gothic;
    background: white;
    color: red;
    line-height: 1.2;    
    border: 2px solid red !important;
    width: 40%;
}
.add_dept_btn{   
    font-size: 10px;
    font-family: Yu Gothic;
    background: #4472c4;
    color: white;
    line-height: 1.2;    
    margin-left: -204px; 
    width: 40%;
}
.edit_dept_btn{
    font-size: 10px;
    font-family: Yu Gothic;
    background: #4472c4;
    color: white;
    line-height: 1.2;
    margin-left: -97px;
    float: left;
    width: 40%;
}
/**************
    Action: Add,Edit,Delete Button:End
**************/

/******************
    Modal: Add,Edit,Delete: Start
*******************/
.add_edit_del_header{
    text-align: left;
    margin-left: 25px;
}
.add_edit_modal_title{
    font-size: 10px !important;
    font-family: Yu Gothic;
}
.add_edit_dept_tbl{
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}
.add_edit_dept_tbl thead{ 
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
.dept_header{
    border: 1px solid black !important;
}
.department_body{
    height: 25px;
    border: none;
    border: 1px solid black !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#department_name,#department_name_edit{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#sec_list_for_dept_add,#sec_list_for_dept_edit{
    border: none;
}
#undo_add_frm,#undo_edit_frm {
    line-height: 1;
	background-color: red;
    color: white;
	border: none;

    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
    width: 35%;
}

#dept_add_btn,#dept_edit_btn {
    line-height:1;
    background-color: green;
	border: none;

    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
    width: 35%;
}
/******************
    Modal: Add,Edit,Delete: End
*******************/

/*************
    Modal Footer
************/
.modal_return_btn{
    margin-top: 40px !important;
    line-height: 1 !important;
    margin-right: -12px  !important;
}
.modal-footer{
    margin-top: -38px !important;
}
.custom-modal .modal-footer {
    border: 0;
    justify-content: right;    
}
.custom-modal .modal-body{
    padding: 15px !important;
    margin-top: 1px !important;
}