
/*********************************
    Employees List: Start
*********************************/
#employeeList_datatable{
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
    border: 1px solid;
}
#employeeList_datatable td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

#employeeList_datatable td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}

#employeeList_datatable td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#employeeList_datatable thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#employeeList_datatable thead th:nth-of-type(2) {
    width: 200px
}
#employeeList_datatable thead th:nth-of-type(3) {
    width: 100px
}
#employeeList_datatable thead th:nth-of-type(1) {
    width: 10%;
}
#employeelist_thead {
    border-collapse: collapse;
    font-size: 14px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}
.employee_header{
    border: 1px solid #ccc !important;
}
.employee_list_theader{
    border: 1px solid #ccc !important;
    border-spacing: 4px;
}
/*********************************
    Employees List: End
*********************************/

/*********************************
    Action: Add,Edit,Delete: Start
*********************************/
.add_edit_delete_btn_section{
    margin-top: 6px;
}
.add_master_btn{   
    font-size: 10px;
    font-family: Yu Gothic;
    background: #4472c4;
    color: white;
    line-height: 1.2;    
    margin-left: -204px; 
    width: 40%;
}
.edit_master_btn{
    font-size: 10px;
    font-family: Yu Gothic;
    background: #4472c4;
    color: white;
    line-height: 1.2;
    margin-left: -97px;
    float: left;
    width: 40%;
}
.delete_master_btn{
    font-size: 10px;
    font-family: Yu Gothic;
    background: white;
    color: red;
    line-height: 1.2;    
    border: 2px solid red !important;
    width: 40%;
}
/*********************************
    Action: Add,Edit,Delete: End    
*********************************/

/***************************************************************
    Modal: Add Employees,Edit Employees,Delete Employees: Start
***************************************************************/
#add_modal_header,#edit_modal_header{
    text-align: left;
    margin-left: 25px;
}
#add_modal_body_title,#edit_modal_body_title{
    font-size: 10px !important;
    font-family: Yu Gothic;
}
#employee_add_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}

#employee_add_table thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
.employee_edit_th,.employee_add_th{
    border: 1px solid black !important;
}
#employee_edti_td,#employee_add_td{
    height: 25px;
    border: none;
    border: 1px solid black !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    width: 57%;
}
#employee_name_add,#employee_name_edit{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#employee_edit_undo,#employee_add_undo {
    line-height: 1;
	background-color: red;
    color: white;
	border: none;

    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
    width: 35%;
}
#company_reg_save_btn,#employee_edit_save,#employee_add_save {
    line-height:1;
    background-color: green;
	border: none;

    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
    width: 35%;
}
#employee_edit_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}

#employee_edit_table thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
.add_edit_del_header{
    text-align: left;
    margin-left: 25px;
}

/***************************************************************
    Modal: Add Employees,Edit Employees,Delete Employees: End
***************************************************************/

/*********************************
    Modal Custome Design: Start
*********************************/
.modal_return_btn{
    margin-top: 40px !important;
    line-height: 1 !important;
    margin-right: -12px  !important;
}
.modal-footer{
    margin-top: -38px !important;
}
.custom-modal .modal-footer {
    border: 0;
    justify-content: right;
}
.custom-modal .modal-body{
    padding: 15px !important;
    margin-top: 1px !important;
}
/*********************************
    Modal Custome Design: End
*********************************/

/**************************
    Employee Filter: Start
**************************/
#inputEmpName {
    width: 96%;
    height: 25px;
}
.sidebar_filterSearch {
    background-color: #ccc;
}
/**************************
    Employee Filter: End
**************************/



