.custom_button_group_employee {
    float: right;
    margin-left: 69%;
}
.employee_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
.employee_registration, .employee_update {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
.employee_cancel:hover {
    color: white;
}
.employee_registration:hover, .employee_update:hover {
    color: white;
}

#employee_lbl {
    padding-top: 10px;
}

.employee_err, .employee_err_edit {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

#employee_body {
    width: 59% !important;
}
#employee_table {
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}
#employee_table thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

#employee_table thead th:nth-of-type(2) {
    width: 200px
}

#employee_table thead th:nth-of-type(3) {
    width: 100px
}

#employee_table thead th:nth-of-type(1) {
    width: 45px;
}

#employee_table td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

#employee_table td, th:nth-of-type(1) {
    text-align: center;
    width: 20px;
}

#employee_table td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: center;
    text-indent: 1em;
}

#employee_list_tbody {
    text-align: center;
}

#employeeContextMenu {
    position: absolute;
    display: none;
    top:0px;
    left:0px;
}
#employeeContextMenu ul {
    display: block;
    position: static;
    margin-bottom: 5px;
    background-color: #202020;
}
#employeeContextMenu ul li a{
    color: white;
    padding: 10px;
}
#employeeContextMenu ul li:hover {
    background-color: #616161;
}
#employee_table tbody tr {
    position: relative;
}
