/*-----------------
	1. General
-----------------------*/

body {
    overflow-x: auto;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #3c4b5d !important;
    border-color: #3c4b5d !important;
    color: white !important;
}

.page-link {
    color: black !important;
}
/***************************\                           
	Total Head Table
\***************************/

#head_total {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: none;
    font-size: 12px;
    border-collapse: collapse;
    border:1px solid black;
}
    #head_total th, td {
        border: 1px solid black;
    }
/***************************\                           
	Employee Registration : Modal Deisgn
\***************************/
.employee_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.employee_cancel:hover {
    color: white;
}

.employee_registration, .employee_add {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.employee_registration:hover {
    color: white;
}

.employee_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

.custom_button_group_employee {
    float: right;
    margin-left: 69%;
}

.select2-container{
    width:100% !important;
}

/***************************\                           
	Employee Registration : Modal Deisgn
\***************************/
.jexcel {
   
    font-size: 10px;
    font-family: Yu Gothic;
    /* line-height: -1; */
    white-space: nowrap !important;
}

.jexcel_content{
    max-height:800px !important;
}
.jexcel > thead > tr:nth-of-type(2) > td:nth-of-type(2) {
    left: 0px;
    z-index: 3 !important;
    -webkit-box-shadow: 2px 0px 2px 0.2px #ccc !important;
}
.jexcel > thead > tr:nth-of-type(2) > td:nth-of-type(3) {
    left: 0px;
    z-index: 3 !important;
    -webkit-box-shadow: 2px 0px 2px 0.2px #ccc !important;
}
.jexcel > thead > tr:nth-of-type(2) > td:nth-of-type(4) {
    left: 150px;
    z-index: 3 !important;
    -webkit-box-shadow: 2px 0px 2px 0.2px #ccc !important;
}


.jexcel tbody tr td:nth-of-type(3) {
    text-align: left !important;
}
.jexcel tbody tr td:nth-of-type(4) {
    text-align:center !important;
}
.jexcel tbody tr td:nth-of-type(5) {
    text-align:center !important;
}
.jexcel tbody tr td:nth-of-type(6) {
    text-align:center !important;
}
.jexcel tbody tr td:nth-of-type(7) {
    text-align:center !important;
}
.jexcel tbody tr td:nth-of-type(8) {
    text-align:center !important;
}
.jexcel tbody tr td:nth-of-type(9) {
    text-align:left !important;
}
.jexcel tbody tr td:nth-of-type(12) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(25) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(26) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(27) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(28) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(29) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(30) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(31) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(32) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(33) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(34) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(35) {
    text-align:right !important;
}
.jexcel tbody tr td:nth-of-type(36) {
    text-align:right !important;
}
/***************************\                           
	Import and Replicate Data
\***************************/
.import_forecast_data {
    color: black;
    text-decoration: underline;
    margin-left: 28px;
    font-size: 13px !important;
}
.replicate_forecast_data{
    color: black;
    text-decoration: underline;
    margin-left: 28px;
    font-size: 13px !important;
}
.section_list_theader{
    border: none !important;
    padding: 0px !important;
    text-align: left;
    font-size: 0.875rem;
}