/* #timestamp_list thead tr th,td{
    text-align:center;
} */

#history_data_btn{
    margin-left: -63px;
    margin-top: -2px;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    height: 29px;
    border: 1px solid #ccc !important;
    width: 64px;
    line-height: 1;
}
#history_year{
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    width: 70%;
    height: 30px;
    border: 1px solid #ccc !important;
    text-align: center;
}

#timestamp_list{
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
    /* display: none !important; */
}
#filter_history_data{
    margin-top: 15px;
}
#btn_submit{
    margin-top: 2px;
}

/*modal size */
.modal-body {
    max-width: 100%;
    overflow-x: auto;
}
.container {
    width:5000px;
}

#btn_export_change_history_data{
    background-color: #009ef7;
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
    line-height: -1;
    height: 32px;
    white-space: nowrap !important;
    padding-top: 4px;
    margin-left: 831px;
}
#change_history_navigation{
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
    display: block;
    margin-top: -11px;
}
#nav1,#nav2{
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;    
}