/*-----------------In-Charge Master-----------------------*/
body {
    overflow-x: auto;
}

/***************************\                           
	In-Charge Registration Form
\***************************/ 
#incharge_reg_tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}

#incharge_reg_tbl thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#incharge_reg_frm_td{
    height: 25px;
    border: none;
    border: 1px solid #f5e7e7 !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#in_charge_name{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#incharge_reg_cancel_btn {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
}
#incharge_reg_save_btn {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

/***************************\                           
	In-Charge List Show
\***************************/ 
#incharge_list{
    margin-left: 17px
}
#incharge_list_tbl{
    width: 85%;
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}
#incharge_list_tbl td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

#incharge_list_tbl td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}

#incharge_list_tbl td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#incharge_list_tbl {
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}

#incharge_list_tbl thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

#incharge_list_tbl thead th:nth-of-type(2) {
    width: 200px
}

#incharge_list_tbl thead th:nth-of-type(3) {
    width: 100px
}

#incharge_list_tbl thead th:nth-of-type(1) {
    /* width: 45px; */
    width: 10%;
}
.incharge_list_theader{
    border: 1px solid #ccc !important;
    border-spacing: 4px;
}
/***************************\                           
	In-Charge List Delete Button
\***************************/ 
#incharge_inactive_btn {
    width: 83%;
    font-size: 10px;
    font-family: Yu Gothic;
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
#incharge_delete_btn {
    padding-left: 382px;
}
