/*-----------------
	1. General
-----------------------*/

body {
    overflow-x: auto;
}

.jexcel {
    font-size: 10px;
    font-family: Yu Gothic;
    /* line-height: -1; */
    white-space: nowrap !important;
}

.jexcel_content {
    max-height: 800px !important;
}

.jexcel > thead > tr:nth-of-type(2) > td:nth-of-type(2) {
    left: 0px;
    z-index: 3 !important;
    -webkit-box-shadow: 2px 0px 2px 0.2px #ccc !important;
}

.jexcel > thead > tr:nth-of-type(2) > td:nth-of-type(3) {
    left: 0px;
    z-index: 3 !important;
    -webkit-box-shadow: 2px 0px 2px 0.2px #ccc !important;
}

.jexcel > thead > tr:nth-of-type(2) > td:nth-of-type(4) {
    left: 150px;
    z-index: 3 !important;
    -webkit-box-shadow: 2px 0px 2px 0.2px #ccc !important;
}

.jexcel tbody tr td:nth-of-type(3) {
    text-align: left !important;
}

.jexcel tbody tr td:nth-of-type(4) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(5) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(6) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(7) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(8) {
    text-align: center !important;
}

.jexcel tbody tr td:nth-of-type(9) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(10) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(11) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(12) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(13) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(14) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(15) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(16) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(17) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(18) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(19) {
    text-align: right !important;
}

.jexcel tbody tr td:nth-of-type(20) {
    text-align: right !important;
}

#actual_cost {
    margin-left: -11px;
    margin-top: -1px;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    height: 30px;
    border: 1px solid #ccc !important;
}

#assignment_year {
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc !important;
    text-align: center;
}
#merged_employee_from_qc {
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc !important;
    text-align: center;
}
#add_button {
    margin-left: -11px;
    margin-top: -1px;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    height: 30px;
    border: 1px solid #ccc !important;
}

#nav1, #nav2 {
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
}

#actual_cost_table_header {
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
    display: block;
    margin-top: -11px;
}

#actual_cost_list {
    margin-top: -13px;
}

#actual_cost_search {
    margin-top: 11px;
}


#qa_assignments {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid black;
}

    #qa_assignments th, td {
        border: 1px solid black;
    }
