/*-----------------Dynamic Table Format-----------------------*/
body {
    overflow-x: auto;
}

/***************************\                           
	dynamic table Registration Form
\***************************/
#dynamic_table_create {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}

#dynamic_table_create thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

.create_form_td{
    height: 25px;
    border: none;
    border: 1px solid #f5e7e7 !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    line-height: 0.5;
}
.warning_message{
    height: 25px;
    border: none;
    border: 1px solid white !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    line-height: 0.5;
    color: red;
}
#table_name_warning_msg,#table_title_warning_msg,#table_position_warning_msg{
    display: none;
}
#table_name,#table_title,#table_position{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}

#clear_inputs_for_table_create_frm {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left:10px;
    height: 16px;
}

#clear_input_frm,#clear_setting_form {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left:10px;
    height: 16px;
}
#save_inputs {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
    height: 16px;
}

#dynamic_table_create_save_btn {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
    height: 16px;
}
#table_name_err, #table_title_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
/***************************\                           
	dynamic table List Show
\***************************/
#dynamic_table_list {
    border: none;
}
#dynamic_list_tbl{
    width: 85%;
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}
#dynamic_list_tbl td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

#dynamic_list_tbl td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}

#dynamic_list_tbl td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#dynamic_list_tbl {
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}

#dynamic_list_tbl thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

.table_list_th{
    border: 1px solid #ccc !important;
    border-spacing: 4px;
}
/***************************\                           
	total menu delete button
\***************************/ 
#dynamic_table_delete_link {
    width: 124%;
    font-size: 10px;
    font-family: Yu Gothic;
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 4px;
    margin: 5px;
    display: inline-block;
    margin-left: -5px !important;
    line-height: .7;
    margin-bottom: 0;
}
#dynamic_table_edit_link {
    width: 100%;
    font-size: 10px;
    font-family: Yu Gothic;
    background: cornflowerblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    margin-left: 7px !important;
    line-height: .7;
    margin-bottom: 0;
}
/***************************\                           
	dynamic table: edit modal
\***************************/
#edit_table_modal {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid;
    font-family: Yu Gothic;
}
#edit_table_modal thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#add_main_item_modal {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid;
    font-family: Yu Gothic;
}
#add_main_item_modal thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

#add_sub_item_modal {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid;
    font-family: Yu Gothic;
}
#add_sub_item_modal thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#add_details_item_modal {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid;
    font-family: Yu Gothic;
}
#add_details_item_modal thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
.table_setting_modal{
    height: 25px;
    border: none;
    border: 1px solid #f5e7e7 !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    line-height: 0.5;
}
#table_name_edit,#table_title_edit,#table_position_edit{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}

#input_main_item,#input_sub_item,#input_detail_item{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}

/***************************\                           
	dynamic table: edit modal
\***************************/
#table_list_drp{
    height: 25px;
    border: none;
    border: 1px solid #f5e7e7 !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#dynamic_table_list_for_setting{
    border: none;
}
.dynamic_table_list_for_setting_td{
    height: 25px;
    border: none;
    border: 1px solid #f5e7e7 !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}

#setting_button {
    background-color: #3c4b5d;
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin-top: 11px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
    height: 23px;
    width: 59px;
}
/***************************\                           
	dynamic table: Settings
\***************************/
#column_title_1,#column_title_2,#column_title_3,#column_title_4{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#column_title_1_modal,#column_title_2_modal,#column_title_3_modal,#column_title_4_modal{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#total_menu_setting_tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}

#total_menu_setting_tbl thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#title_setting_table,#title_setting_table_modal {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}

#title_setting_table,#title_setting_table_modal thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

#total_menu_setting_items_tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid white;
    font-family: Yu Gothic;
}
#total_menu_setting_items_tbl_modal {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid white;
    font-family: Yu Gothic;
}
#total_menu_setting_items_tbl thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#total_menu_setting_items_tbl_modal thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#main_item,#sub_item,#detail_item{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#main_item_modal,#sub_item_modal,#detail_item_modal{
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
.setting_dropdowns{
    border: none;
}
.save_cancel_td{
    height: 25px;
    border: none;
    border: 1px solid #f5e7e7 !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    line-height: 0.5;
}
.setting_items_td{
    height: 25px;
    border: none;
    border: 1px solid #f5e7e7 !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    line-height: 0.5;
    width: 160px;
}
.setting_plus_icon,.setting_minus_icon{
    height: 25px;
    border: none;
    border: 1px solid #f5e7e7 !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    line-height: 0.5;
    width: 0%;
}
.select-hr { border-bottom: 1px dotted #000; }
#add_main_item_link {
    width: 96%;
    font-size: 10px;
    font-family: Yu Gothic;
    background: cornflowerblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    margin-left: 0px !important;
}
.main_item_dropdown,.sub_item_dropdown,.detail_item_dropdown{
    border: none;
}

.action_td{
    height: 25px;
    border: none;    
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    line-height: 0.5;
    width: 160px;
}
.cancel_save_link_td{
    height: 25px;
    border: none;    
    border-collapse: separate;
    border-spacing: 4px;
    text-align: right;
    line-height: 0.5;
    width: 160px;
}

/***************************\                           
	Total Menu Setting List
\***************************/
#total_setting_list {
    border: none;
}
#setting_list_tbl{
    width: 90%;
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}

#setting_list_tbl td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}
#setting_list_tbl td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}
#setting_list_tbl td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#setting_list_tbl thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
.setting_list_header{
    border: 1px solid #ccc !important;
    border-spacing: 4px;
}
#setting_list_delete_link {
    width: 124%;
    font-size: 10px;
    font-family: Yu Gothic;
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 4px;
    margin: 5px;
    display: inline-block;
    margin-left: -5px !important;
    line-height: .7;
    margin-bottom: 0;
}
#method_list_dropdown{
    width: 91%;
}