#actual_cost_table_header {
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
    display: block;
    margin-top: -11px;
}
#actual_cost_search {
    margin-top: 11px;
}
#actual_cost {
    margin-left: -11px;
    margin-top: -1px;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    height: 30px;
    border: 1px solid #ccc !important;
}
.expand, .closed {
    cursor: pointer;
    border: 1px solid black;
    font-size: 10px;
    padding: 5px;
}
