#actual_cost_table_header {
    font-size: 12px;
    font-family: "Yu Gothic";
    white-space: nowrap !important;
    display: block;
    margin-top: 5px;
}
#actual_cost_search {
    margin-top: 11px;
}
#actual_cost {
    margin-left: -11px;
    margin-top: -1px;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    height: 30px;
    border: 1px solid #ccc !important;
}
#show_dynamic_tables {
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    font-size: 10px;
    margin-left: -124px;
    margin-top: 5px;
    height: 31px;
}

/*style for total table*/
.generated_table {
    font-size: 10px;
    margin-top: 20px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}

.generated_table thead {
    background-color: #B8DAFF;
    text-align:center;
}
.generated_table tr{
    white-space:nowrap;
    
}
.generated_table
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5),
    td:nth-of-type(6),
    td:nth-of-type(7),
    td:nth-of-type(8),
    td:nth-of-type(9),
    td:nth-of-type(10),
    td:nth-of-type(11),
    td:nth-of-type(12),
    td:nth-of-type(13),
    td:nth-of-type(14),
    td:nth-of-type(15),
    td:nth-of-type(16),
    td:nth-of-type(17) {
        min-width: 100px;
    }
.generated_table, tr, th, td {
    border: 1px solid black !important;
}
.generated_table td{
    padding: 7px !important;
}
.expand, .inner-expand, .closed, .inner-closed, .expand-count, .expand-count-close, .expand-count-inner, .expand-count-inner-close {
    cursor: pointer;
    border: 1px solid black;
    font-size: 8px;
    padding: 1px;
}

/*style for budget table*/

#total_budget_table {
    font-size: 10px;
    margin-top: 20px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}

    #total_budget_table thead {
        background-color: #B8DAFF;
        text-align: center;
    }

    #total_budget_table tr {
        white-space: nowrap;
    }

    #total_budget_table
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5),
    td:nth-of-type(6),
    td:nth-of-type(7),
    td:nth-of-type(8),
    td:nth-of-type(9),
    td:nth-of-type(10),
    td:nth-of-type(11),
    td:nth-of-type(12),
    td:nth-of-type(13),
    td:nth-of-type(14),
    td:nth-of-type(15),
    td:nth-of-type(16),
    td:nth-of-type(17) {
        min-width: 100px;
    }

#total_budget_table, tr, th, td {
    border: 1px solid black !important;
}

    #total_budget_table tr {
        line-height: 0px !important;
    }

    #total_budget_table td {
        padding: 7px !important;
    }


/*style for difference table*/

#difference_table {
    font-size: 10px;
    margin-top: 20px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}

    #difference_table thead {
        background-color: #B8DAFF;
        text-align: center;
    }

    #difference_table tr {
        white-space: nowrap;
    }

    #difference_table
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5),
    td:nth-of-type(6),
    td:nth-of-type(7),
    td:nth-of-type(8),
    td:nth-of-type(9),
    td:nth-of-type(10),
    td:nth-of-type(11),
    td:nth-of-type(12),
    td:nth-of-type(13),
    td:nth-of-type(14),
    td:nth-of-type(15),
    td:nth-of-type(16),
    td:nth-of-type(17) {
        min-width: 100px;
        margin-top: auto;
        margin-bottom: auto;
    }

#difference_table, tr, th, td {
    border: 1px solid black !important;
}

    #difference_table tr {
        line-height: 0px !important;
    }

    #difference_table td {
        padding: 7px !important;
    }

    /* make minus amounts show up in red */
    #difference_table td[data-monetary-amount^="-"] {
        color: red !important;
    }

/*style for head count table*/

#headcount_table {
    font-size: 10px;
    margin-top: 20px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
}

#headcount_table thead {
    background-color: #B8DAFF;
    text-align: center;
}
    #headcount_table tr {
        white-space: nowrap;
        
    }

#headcount_table, tr, th, td {
    border: 1px solid black !important;
}

    #headcount_table tr {
        line-height: 0px !important;
    }

    #headcount_table td {
        padding: 7px !important;
        vertical-align: middle;
    }

    #headcount_table
    td:nth-of-type(2),
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5),
    td:nth-of-type(6),
    td:nth-of-type(7),
    td:nth-of-type(8),
    td:nth-of-type(9),
    td:nth-of-type(10),
    td:nth-of-type(11),
    td:nth-of-type(12),
    td:nth-of-type(13) {
        min-width: 100px;
    }




    /*filters*/
    #total_year_list{
        transition: all 0.2s ease-in-out 0s;
        display: inline-block;
        white-space: nowrap;
        font-size: 12px;
        width: 70%;
        height: 38px;
        border: 1px solid #ccc !important;
        text-align: center;
    }
    #edit_history_time_stamp{
        transition: all 0.2s ease-in-out 0s;
        display: inline-block;
        white-space: nowrap;
        font-size: 12px;
        width: 70%;
        height: 38px;
        border: 1px solid #ccc !important;
        text-align: center;
        margin-left: -62px;
    }
    #companies{
        height: 30px !important;
    }

/*multi select*/
.btn-group, .btn-group-vertical
{
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    width: 100%;
    height: 38px;
    border: 1px solid #ccc !important;
    text-align: center;
}
.multiselect-container.dropdown-menu.show{
    position: absolute;
    will-change: transform;
    top: 0px;
    left: -38px !important;
    transform: translate3d(40px, 38px, 0px);
}