
/*********************************\                           
	Employee Registration : Start
\*********************************/
.user_edit_undo_btn {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    line-height: 1;
    width: 30%;
    text-align: center;
}
.user_edit_undo_btn:hover {
    color: white;
}
.user_edit_update_btn {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    line-height: 1;
    width: 30%;
    text-align: center;
    margin-left: 12px;
}
#department_list{
    width: 90% !important;
    height: 29px !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
    margin-left: -79px !important;
}
label {
    display: block;
    font: 0.9rem 'Fira Sans', sans-serif;
}
input[type='submit'],
label {
    margin-top: 1rem;
}
.nav-item.dropdown.has-arrow.main-drop {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
.input_title{
    text-align: left !important;
    margin-left: 46px;
}
.user_registration_form{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}
.form-control{
    margin-left: -79px !important;
    width: 90% !important;
    margin-top: 7px !important;
    border-color: #e3e3e3 !important;
    box-shadow: none !important;
    font-size: 14px !important;
    height: 29px !important;
}

.user_registration_action {
    float: right;
    width: 214px !important;
    font-size: 13px;
}
.select2-container{
    margin-left: -79px !important;
    width: 90% !important;
}
.select2-container--open .select2-dropdown--below{
    margin-left: 79px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #676767;
    font-size: 13px;
    font-family: Yu Gothic;
    font-weight: normal;
    line-height: 25px
}
.reg_error_message{
    margin-left: -79px !important;
    width: 90% !important;
    color: red;
    display: none;
}
.field-icon {
    float: right !important;
    margin-right: 157px !important;
    margin-top: -21px !important;
    position: relative !important;
    z-index: 2 !important;
}
.container{
    padding-top:50px;
    margin: auto;
}
/*********************************\                           
	Employee Registration : End
\*********************************/