/*-----------------Employee Master-----------------------*/
body {
    overflow-x: auto;
}

/***************************\                           
	Employee Registration Form
\***************************/ 
#users_reg_tbl {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid;
    font-family: Yu Gothic;
}

#users_reg_tbl thead {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#create_users_tbody_td{
    height: 25px;
    border: none;
    border: 1px solid #f5e7e7 !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}
#userName, #userTitle, #userDepartment, #userEmail, #userPass, #userRole, #userStatus {
    width: 100% !important;
    height: 100% !important;
    border: none;
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
    text-align: center;
}

#users_reg_cancel_btn {
    line-height: 1;
	background-color: red;
    color: white;
	border: none;

    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
}
#users_reg_save_btn {
    line-height:1;
    background-color: green;
	border: none;

    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
}
#search_users {
    width: 100% !important;
    text-indent: 1em;
}
/***************************\                           
	Employee List Show
\***************************/
/* #employeeList_datatable {
    table-layout: fixed;
} */

.employee_list_theader{
    border: 1px solid #ccc !important;
    border-spacing: 4px;
}
/***************************\                           
	Employee List Delete Button
\***************************/ 
#employee_inactive_btn {
    width: 83%;
    font-size: 10px;
    font-family: Yu Gothic;
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
#employee_delete_btn {
    padding-left: 382px;
}

/***************************\                           
	Employee List : right click menue
\***************************/
#employeeContextMenu {
    position: absolute;
    display: none;
    top:0px;
    left:0px;
}
#employeeContextMenu ul {
    display: block;
    position: static;
    margin-bottom: 5px;
    background-color: #202020;
}
#employeeContextMenu ul li a{
    color: white;
    padding: 10px;
}
#employeeContextMenu ul li:hover {
    background-color: #616161;
}

/***************************\                           
	Employee Registration : Modal Deisgn
\***************************/

.user_edit_undo_btn {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    line-height: 1;
}
.user_edit_undo_btn:hover {
    color: white;
}
.employee_registration, .employee_update {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
.employee_registration:hover, .employee_update:hover {
    color: white;
}
.employee_err, .employee_err_edit {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
.custom_button_group_employee {
    float: right;
    margin-left: 69%;
}

label {
    display: block;
    font: 0.9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

.user_name_list_header {
    border: 1px solid #ccc !important;
    padding: 0px !important;
    text-align: center;
    font-size: 11px;
    height: 20px;
}

#admin_table{
    font-size:10px;
    width:100%;
}
.user_edit_button {
    font-size: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/*change user status*/
.change_status{
    border: 1px solid #ccc !important;
}
#name_search{
    border: 1px solid #ccc !important;
    padding: 0px !important;
    text-align: center;
    font-size: 11px;
    height: 18px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
50% {
    opacity: 0;
}
}
.user_search{
    border: none;
    width: 88px;
}
div.dataTables_wrapper div.dataTables_filter{
    text-align: right !important;
    display: none !important;
}

/*edit user modal*/
.edit_user_header{
    text-align: left;
}

.edit_user_action {
    float: right;
    margin-left: 0px;
    margin-top: -5px;
    font-size: 13px;
}
.user_edit_update_btn {
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    line-height: 1;
}
.form-header {
    /* text-align: left; */
	margin-bottom: -25px !important;
}
.form-header h3{
    margin-left: 30px !important;
}
.form-control{
    margin-top: 7px !important;
    border-color: #e3e3e3 !important;
    box-shadow: none !important;
    font-size: 14px !important;
    height: 29px !important;
}
.input_title{
    text-align: left !important;
    margin-left: 46px;
}

.sidebar_filterSearch {
    background-color: #ccc;
}

#admin_table thead tr,
#admin_table tbody tr {
    line-height: 25px;
}

#admin_table tbody tr td {
    padding-left: 2px;
    border: 1px solid #ccc !important;
}
.field-icon {
    float: right;
    margin-right: 49px;
    margin-top: -21px;
    position: relative;
    z-index: 2;
}

/***************************\                           
	Other Userlist Show
\***************************/ 
#user_list{
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
    border: 1px solid;
}
#user_list td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

#user_list td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}

#user_list td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#user_list thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#user_list thead th:nth-of-type(2) {
    width: 200px
}
#user_list thead th:nth-of-type(3) {
    width: 100px
}
#user_list thead th:nth-of-type(1) {
    width: 10%;
}

/***************************\                           
	admin Userlist Show
\***************************/ 
#admin_table{
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    font-family: Yu Gothic;
    white-space: nowrap !important;
    border: 1px solid;
}
#admin_table td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

#admin_table td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}

#admin_table td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#admin_table thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
#admin_table thead th:nth-of-type(2) {
    width: 200px
}
#admin_table thead th:nth-of-type(3) {
    width: 100px
}
#admin_table thead th:nth-of-type(1) {
    width: 10%;
}


.section_list_theader{
    border: 1px solid #ccc !important;
    border-spacing: 4px;
}
.user_list_header{
    border: 1px solid black !important;    
}
.admin_tr_thead{
    border: 1px solid black !important;    
}
#employeelist_tbody {
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
    line-height: 0;
    white-space: nowrap !important;
    text-align: left;
    text-indent: 1em;
}

#user_thead {
    border-collapse: collapse;
    font-size: 14px;
    font-family: Yu Gothic;
    /*line-height: -1;*/
    white-space: nowrap !important;
}
#admin_thead {
    border-collapse: collapse;
    font-size: 14px;
    font-family: Yu Gothic;
    /*line-height: -1;*/
    white-space: nowrap !important;
}

/***************************\                           
	admin modal
\***************************/ 
.select2-container{
    width: 100% !important;
}
.select2-selection.select2-selection--single{
    border-color: #e3e3e3 !important;
    box-shadow: none !important;
    font-size: 14px !important;
    height: 29px !important;
}


.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 26px !important;
    right: 3px !important;
    margin-top: 1px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #676767;
    font-size: 13px;
    font-family: Yu Gothic;
    font-weight: normal;
    /* line-height: 42px; */
    line-height: 25px;
    color: black;
}

