@{
    ViewBag.Title = "区分の登録、編集、削除";
}

@section Styles {    
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/sections.css" />
}

<div class="content container-fluid">
    <!-----------------Section Master: Show Section List----------------->
    <div id="section_list" style="display: block;">
        <div class="row">
            <div class="col-md-10">
                <div class="table-responsive">
                    <label id="list_master">
                        登録した区分を消去するには、チェックボックスにチェックを入れ、 削除ボタンをクリックしてください。
                        <br>
                        編集する場合は、１つのチェックボックスを選択し、選択ボタンをクリックしてください。追加する場合は、追加ボタンをクリックしてください。
                        <br>                        
                    </label>
                    <table id="section_list_tbl">
                        <thead>
                            <tr >
                                <th colspan="6" class="section_header">区分リスト</th>
                            </tr>
                            <tr>
                                <th class="section_list_theader section_header">複数選択</th>
                                <th class="section_list_theader section_header">区分</th>
                            </tr>
                        </thead>
                        <tbody id="section_list_tbody"></tbody>
                    </table>                        
                </div>
            </div>
        </div>
    
        @if (ViewBag.UserRole == "admin" || ViewBag.UserRole == "editor" )
        {
            
            <div class="add_edit_delete_btn_section" style="display: block;">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <button class="btn delete_sec_btn" type="button">削除​</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn edit_sec_btn" type="button">編集​​</button>
                            </div>   
                            <div class="col-md-3" >
                                <button class="btn add_sec_btn" type="button">追加</button>
                            </div>                                                             
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>        
</div>

<br><br>
<br><br>
        
<!-----------------Modal: Add Section----------------->
<div class="modal custom-modal fade" id="add_section_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                
                <div class="form-header">
                    <h3 class='add_edit_del_header'>追加 区分</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <label class='add_update_modal_body_title'>新規登録する場合は、「新規区分をここに入力」テキストボックスに区分名を記載し、保存ボタンをクリックしてください。</label>
                    <table class="add_update_section_tbl">
                        <thead style="border: none;">
                            <tr></tr>
                            <tr>
                                <th class="section_header">区分</th>
                                <th class="section_header">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="section_body">
                                    <input type="text" value="" placeholder="新規区分をここに入力" id="section-name">                                            
                                </td>
                                <td class="section_body_action">                                    
                                    <a href="javascript:void(0);" class="" id="sec_undo_btn">取消</a>
                                    <a href="javascript:void(0);" class="" id="sec_add_btn">保存</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>                        
                </div>
                    <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit Section----------------->
<div class="modal custom-modal fade" id="edit_section_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">                    
                <div class="form-header">
                    <h3 class='add_edit_del_header'>編集​ 区分</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <label class='add_update_modal_body_title'>登録した区分を編集するには、表示された区分をクリックし、区分名を変更し、更新ボタンをクリックします。</label>
                    <table class="add_update_section_tbl">
                        <thead style="border: none;">
                            <tr></tr>
                            <tr>
                                <th class="section_header">区分</th>
                                <th class="section_header">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="section_body">
                                    <input type="text" value="" placeholder="新規区分をここに入力" id="section_name_edit">                                            
                                    <input type="hidden" value="" id="edit_section_id" >
                                </td>
                                <td class="section_body_action">                                        
                                    <a href="javascript:void(0);" class="" id="undo_edit_sec">取消</a>
                                    <a href="javascript:void(0);" class="" id="edit_sec_from_modal">更新​</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>                        
                </div>
                <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Delete sections----------------->
<div class="modal custom-modal fade" id="delete_section_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 class='add_edit_del_header'>区分の削除</h3>                    
                    <ol class="del_confirm_warning"></ol>
                    <p>本当に削除しますか？</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="sec_del_confirm">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/sections.js"></script>

    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>        
}