@{
    ViewBag.Title = "区分の登録 (Section Registration)";
}

@section Styles {    
    <link rel="stylesheet" type="text/css" href="/Content/sections_ver02.css" />
}
    <div class="content container-fluid">
        <!-----------------Section Master: Section Registration Form----------------->
        @if (Convert.ToBoolean(ViewBag.linkFlag))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <table id="section_reg_tbl">
                                <thead style="border: none;">
                                    <tr></tr>
                                    <tr>
                                        <th>区分 (Section)</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="section_reg_frm_td">
                                            <input type="text" value="" placeholder="区分 (section name)" id="section-name">
                                            @* <div class="" id="section_name_err">
                                                Please provide a department name.
                                            </div> *@
                                        </td>
                                        <td id="section_reg_frm_td">
                                            <a href="javascript:void(0);" class="" id="section_reg_cancel_btn" data-dismiss="modal">Cancel</a>
                                            <a href="javascript:void(0);" class="" id="section_reg_save_btn" onclick="InsertSection();">Save</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
        }


        <!-----------------Section Master: Section list are showing on this part----------------->
        <div id="section_list" style="display: block;">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="" id="section_list_tbl">
                            <thead>
                                <tr>
                                    <th colspan="6">区分リスト(Secttion List)</th>
                                </tr>
                                <tr>
                                    <th class="section_list_theader">複数選択</th>
                                    <th class="section_list_theader">区分 (Section)</th>
                                </tr>
                            </thead>
                            <tbody id="section_list_tbody"></tbody>
                        </table>
                        @if (Convert.ToBoolean(ViewBag.linkFlag))
                        {
                            <label id="section_delete_btn">
                                <a id="section_inactive_btn" href="javascript:void();" data-toggle="modal" data-target="#delete_section" onClick="onSectionInactiveClick()">削除</a>
                            </label>
                        }

                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <br><br>
    <br><br>
    
    <input type="hidden" id="section_warning_text" />
    <input type="hidden" id="section_chk_ids" />

    <!-----------------Modal: Delete sections----------------->
    <div class="modal custom-modal fade" id="delete_section" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>区分の削除 (Delete Section)</h3>
                        <p id="section_warning" style="display:none;"></p>
                        <ol class="section_count" style="text-align:left;"></ol>
                        <p>本当に削除しますか？</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="section_inactive_confirm_btn">削除</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script src="/Scripts/common.js"></script>
        <script src="/Scripts/sections_ver02.js"></script>
        <script src="~/signalr/hubs"></script>
        <script type="text/javascript">



            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000); // Restart connection after 5 seconds.
            });
            $.connection.hub.start();
            $(function () {

                var chat = $.connection.chatHub;

                chat.client.addNewMessageToPage = function (name, message) {
                    alert(name + message);
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                };
            });

            $(document).ready(function () {


                setInterval(() => {
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                }, 5000);

                $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });
                    
        });


            
    </script>
    }