@{
    ViewBag.Title = "Category Registration";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/category.css" />
}
<div class="content container-fluid">
    <!-----------------Section Master: Section Registration Form----------------->
    @if (Convert.ToBoolean(ViewBag.linkFlag))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <table id="section_reg_tbl">
                            <thead style="border: none;">
                                <tr></tr>
                                <tr>
                                    <th>カテゴリー (Category)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="section_reg_frm_td">
                                        <input type="text" value="" placeholder="カテゴリー (category name)" id="section-name">
                                        @* <div class="" id="section_name_err">
                                                Please provide a department name.
                                            </div> *@
                                    </td>
                                    <td id="section_reg_frm_td">
                                        <a href="javascript:void(0);" class="" id="section_reg_cancel_btn" data-dismiss="modal">Cancel</a>
                                        <a href="javascript:void(0);" class="" id="section_reg_save_btn" onclick="InsertSection();">Save</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    }


    <!-----------------Section Master: Section list are showing on this part----------------->
    <div id="section_list" style="display: block;">
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="" id="section_list_tbl">
                        <thead>
                            <tr>
                                <th colspan="6">カテゴリ一覧 (Category List)</th>
                            </tr>
                            <tr>
                                <th class="section_list_theader">Check</th>
                                <th class="section_list_theader">区分 (Section)</th>
                            </tr>
                        </thead>
                        <tbody id="section_list_tbody"></tbody>
                    </table>
                    @if (Convert.ToBoolean(ViewBag.linkFlag))
                    {
                        <label id="section_delete_btn">
                            <a id="section_inactive_btn" href="javascript:void();" data-toggle="modal" data-target="#delete_section" onClick="onSectionInactiveClick()">Delete</a>
                        </label>
                    }

                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<br><br>
<br><br>

<input type="hidden" id="section_warning_text" />
<input type="hidden" id="section_chk_ids" />

<!-----------------Modal: Delete sections----------------->
<div class="modal custom-modal fade" id="delete_section" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Section</h3>
                    <p id="section_warning" style="display:none;"></p>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="section_inactive_confirm_btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/category.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000); // Restart connection after 5 seconds.
            });
            $.connection.hub.start();
            $(function () {

                var chat = $.connection.chatHub;

                chat.client.addNewMessageToPage = function (name, message) {
                    alert(name + message);
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                };
            });

            $(document).ready(function () {

                $(window).on("beforeunload", function () {
                    //alert("call");
                    console.log('fired');
                    var _keysCount = 0;
                    var currentHost = window.location.host;
                    _keys = Object.keys(localStorage);
                    for (var key = 0; key < _keys.length; key++) {
                        if (localStorage.getItem(_keys[key]) == currentHost) {
                            _keysCount++;
                        }
                    }
                    if (_keysCount == 1) {
                        var user_name = $('#hidden_username').val();
                        if (user_name != null || user_name != undefined || user_name != '') {
                            $.ajax({
                                url: `/Registration/RemoveSession?userName=${user_name}`,
                                contentType: 'application/json',
                                type: 'GET',
                                async: false,
                                //dataType: 'json',
                                success: function (data) {
                                }
                            });
                        }
                    }
                    if (_keysCount > 1) {
                        localStorage.removeItem(window.location.pathname);
                    }
                });
                var localStorageItem = localStorage.getItem(window.location.pathname);
                if (localStorageItem == null || localStorageItem == '' || localStorageItem == undefined) {
                    localStorage.setItem(window.location.pathname, window.location.host);
                }

                setInterval(() => {
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                }, 5000);

            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

        });



    </script>
}