
@{
    ViewBag.Title = "Departments With Sub-Category";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <!-- <link href="/Content/filter_multi_select.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" type="text/css" href="/Content/department_with_subcategory.css" />
    
}

<div class="content container-fluid">
    <!-----------------Departments With Sub-Category Master: Departments With Sub-Category Registration Form----------------->
    @if (Convert.ToBoolean(ViewBag.linkFlag))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <table id="dept_reg_tbl">
                            <thead style="border:none;">
                                <tr></tr>
                                <tr>                                    
                                    <th>カテゴリー (Category)</th>
                                    <th>サブカテゴリー (Sub-Category)</th>
                                    <th>部署 (Dept.)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="dept_reg_frm_td">
                                        <select id="category_list" class="" style=""></select>
                                    </td>
                                    <td id="dept_reg_frm_td">
                                        <select id="sub_category_list" class="" style=""></select>
                                    </td>
                                    <td id="dept_reg_frm_td">
                                        <select class="selectpicker" multiple data-live-search="true" id="unassigned_department_list">                                           
                                        </select>                                      
                                    </td>
                                    <td id="dept_reg_frm_td">
                                        <a href="javascript:void(0);" class="" id="dept_reg_cancel_btn" data-dismiss="modal">Cancel</a>
                                        <a href="javascript:void(0);" class="" id="dept_reg_save_btn">Save</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    }


    <!-----------------Departments With Sub-Category Master: Departments With Sub-Category list are showing on this part----------------->
    <div id="department_list" style="display: block;">
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="" id="dept_list_tbl">
                        <thead>
                            <tr>
                                <th colspan="6">Departments With Sub-Category List</th>
                            </tr>
                            <tr>
                                <th class="dept_list_theader">Check</th>
                                <th class="dept_list_theader">Category</th>
                                <th class="dept_list_theader">Sub-Category</th>                                
                                <th class="dept_list_theader">部署 (Dept.)</th>                                
                            </tr>
                        </thead>
                        <tbody id="subcategory_list_tbody"></tbody>
                    </table>
                    @if (Convert.ToBoolean(ViewBag.linkFlag))
                    {
                        <!-- <label id="dept_delete_btn">
                            <a id="department_inactive_btn" href="javascript:void();" data-toggle="modal" data-target="#inactive_department_modal" onClick="onDepartmentInactiveClick()">Delete</a>
                        </label> -->
                    }

                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<input type="hidden" id="department_warning_text" />

<!-----------------Modal: Delete department----------------->
<div class="modal custom-modal fade" id="inactive_department_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Sub-Category</h3>
                    <ol class="department_count" style="text-align:left;"></ol>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="department_inactive_confirm_btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <!-- <script src="/Scripts/filter-multi-select-bundle.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="/Scripts/department_with_subcategory.js"></script>    
}