
@{
    ViewBag.Title = "Login";
}
<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <div class="container">
            <!-- Account Logo -->
            <div class="account-logo">
                <a href="index.html"><img src="~/img/logo.png" alt="Dreamguy's Technologies"></a>
            </div>
            <!-- /Account Logo -->
            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">ログイン (Login)</h3>
                    <p class="account-subtitle">Access to our dashboard</p>
                    <style>

                        .username-error {
                            display: none;
                            width: 100%;
                            margin-top: 0.25rem;
                            font-size: 100%;
                            color: #dc3545;
                        }

                        .password-error {
                            display: none;
                            width: 100%;
                            margin-top: 0.25rem;
                            font-size: 100%;
                            color: #dc3545;
                        }
                    </style>
                    <!-- Account Form -->
                    <form action="">
                        <div class="form-group">
                            <label>Id</label>
                            <input class="form-control" type="text" id="login_id">
                            <div class="username-error">
                                UserName is not correct!
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" id="login_pass">
                            <div class="password-error">
                                Password is not correct!
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="button" id="login">ログイン</button>
                        </div>
                    </form>
                    <!-- /Account Form -->
                
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->

@section Scripts{
    <script src="~/signalr/hubs"></script>

    <script>
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 1000); // Restart connection after 3 seconds.
        });
        $(document).ready(function () {

            $('#login').click(function () {
                var loginUserName = $("#login_id").val();
                var loginPassword = $("#login_pass").val();


                $.ajax({
                    url: `/api/Users/`,
                    contentType: 'application/json',
                    type: 'POST',
                    async: false,
                    dataType: 'json',
                    data: JSON.stringify({ userName: loginUserName, password: loginPassword}),
                    success: function (data) {
                        if (data == true) {
                            var chat = $.connection.chatHub;
                            // Start the connection.
                            $.connection.hub.start().done(function () {
                                chat.server.send(loginUserName, ' Logged In');
                            });
                            $(".username-error").hide();
                            $(".password-error").hide();
                            $.ajax({
                                url: `/Registration/SetSession`,
                                contentType: 'application/json',
                                type: 'GET',
                                async: false,
                                dataType: 'json',
                                data: { userName: loginUserName },
                                success: function () {

                                }
                            });
                            window.location.href = "/Dashboard/Index";
                        }
                        else {
                            $(".username-error").show();
                            $(".password-error").show();
                        }
                       
                    }
                });
            });

           
        });
    </script>
}
