
@{
    ViewBag.Title = "Login";
}
<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <div class="container">
            <!-- Account Logo -->
            <div class="account-logo">
                <a href="javascript:void(0);"><img src="~/img/logo.png" alt="Dreamguy's Technologies"></a>
            </div>
            <!-- /Account Logo -->
            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">ログイン</h3>
                    <p class="account-subtitle">ダッシュボードにアクセスする</p>
                    <style>

                        .username-error {
                            display: none;
                            width: 100%;
                            margin-top: 0.25rem;
                            font-size: 100%;
                            color: #dc3545;
                        }

                        .password-error {
                            display: none;
                            width: 100%;
                            margin-top: 0.25rem;
                            font-size: 100%;
                            color: #dc3545;
                        }
                    </style>
                    <!-- Account Form -->
                    <form action="">
                        <div class="form-group">
                            <label>ID</label>
                            <input class="form-control" type="text" id="login_id">
                            <div class="username-error">
                                ユーザー名が不正です!
                            </div>
                        </div>
                        <div class="form-group">
                            <label>パスワード</label>
                            <input class="form-control" type="password" id="login_pass">
                            <div class="password-error">
                                パスワードが不正です!
                            </div>
                        </div>
                        <div class="row">                        
                            <div class="col-6">
                                <div class="form-group text-center">
                                    <button class="btn btn-primary account-btn" type="button" id="login">ログイン</button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group text-center">
                                    <button class="btn btn-primary account-btn" type="button" id="login" onclick="GoToRegistrationForm();">登録</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /Account Form -->
                
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->

@section Scripts{
    <script src="~/signalr/hubs"></script>

    <script>
        function GoToRegistrationForm(){
            window.location.href = "/registration/userregistration";
        }
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 1000); // Restart connection after 1 second.
        });
        $(document).ready(function () {
            

            $('#login').click(function () {
                var loginUserName = $("#login_id").val().toLowerCase();
                var loginPassword = $("#login_pass").val().toLowerCase();


                $.ajax({
                    url: `/api/Users/`,
                    contentType: 'application/json',
                    type: 'POST',
                    async: false,
                    dataType: 'json',
                    data: JSON.stringify({ userName: loginUserName, password: loginPassword}),
                    success: function (data) {
                        if (data.length > 10) {
                            var chat = $.connection.chatHub;
                            // Start the connection.
                            $.connection.hub.start().done(function () {
                                chat.server.send(loginUserName, ' Logged In');
                            });
                            $(".username-error").hide();
                            $(".password-error").hide();
                            $.ajax({
                                url: `/Registration/SetSession`,
                                contentType: 'application/json',
                                type: 'GET',
                                async: false,
                                dataType: 'json',
                                data: { userName: loginUserName, token: data, lastPath:'/Dashboard/Index' },
                                success: function () {
                                    var currentHost = window.location.host;
                                    _keys = Object.keys(localStorage);
                                    for (var key = 0; key < _keys.length; key++) {
                                        if (localStorage.getItem(_keys[key]) == currentHost) {
                                            localStorage.removeItem(_keys[key]);
                                        }
                                    }

                                }
                            });
                          
                            window.location.href = "/Dashboard/Index";
                        }
                        else{
                            $(".username-error").show();
                            $(".password-error").show();
                        }
                       
                    }
                });
            });

           
        });
    </script>
}
