
@{
    ViewBag.Title = "ユーザ登録";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/user_registration.css" />
    <link rel="stylesheet" type="text/css" href="/Content/users.css" />
}

<div class="content container-fluid">
    <!-----------------User Registration Form----------------->    
    <div class='row' >
        <div class="col-md-9">  
            <div class="user_registration_form">
                <br />
                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>ユーザーID (User)</label></div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="user_name_reg" placeholder="名前 (User Name)">   
                        <label class="reg_error_message" id="name_lbl">利用者名を入力してください</label>              
                    </div>
                </div>

                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>役職 (Title)</label></div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="reg_user_title" placeholder="役職 (Title)">
                        <label class="reg_error_message" id="title_lbl">利用者の役職を入力してください</label>         
                    </div>
                </div>                
                
                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>部署 (Dept)</label></div>
                    <div class="col-md-7">
                        <select id="department_list" name="department_list" class='user_dropdown'></select>
                        <label class="reg_error_message" id="department_lbl">利用者の部署名を選択してください</label>         
                    </div>
                </div>

                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>メアド (Email)</label></div>
                    <div class="col-md-7">
                        <input type="email" class="form-control" id="reg_user_email" placeholder="メアド (Email)" pattern=".com" size="30" required>                        
                        <label class="reg_error_message" id="email_lbl">利用者のemailアドレスを入力してください</label>         
                    </div>
                </div>
                
                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>パスワード</label></div>
                    <div class="col-md-7">
                        <input type="password" class="form-control" id="reg_user_pass" placeholder="パスワード">
                        <span toggle="#reg_user_pass" class="fa fa-fw fa-eye field-icon toggle-password" id="show_password"></span>
                        <label class="reg_error_message" id="pass_lbl">利用者のパスワードを入力してください</label>         
                    </div>                    
                </div>
                
                <div class="row">        
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class='user_registration_action'>
                            <a href="javascript:void(0);" class="user_edit_undo_btn">取消(Undo）</a>
                            <a href="javascript:void(0);" class="user_edit_update_btn">保存（save）</a>
                        </div>
                    </div>
                </div>    
                <br>      
            </div>
        </div>        
    </div>        
</div>

<input type="hidden" id="hid_userRole" value="0">

<!-----------------Modal: Update Forecast Confirm Dialog box----------------->
<div class="modal custom-modal fade" id="register_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align: center;">ユーザ登録</h3>
                <div class="registration_modal_header" id="header_show">

                    <p id="section_warning" style="display:none;"></p>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <style>
                        .forecast_save_confirm_text {
                            text-align: left;
                        }
                    </style>
                    <label class="forecast_save_confirm_text" style="text-align: center;">
                        @* Your role will be pending, admin will set your role. *@
                        Do you want to save? 
                    </label>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">                            
                             <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">戻る</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="register_user">保存</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: registration success----------------->
<div class="modal custom-modal fade" id="registration_success">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align: center;">Registration Success</h3>
                <div class="registration_modal_header" id="header_show">

                    <p id="section_warning" style="display:none;"></p>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <style>
                        .forecast_save_confirm_text {
                            text-align: left;
                        }
                    </style>
                    <label class="forecast_save_confirm_text" style="text-align: center;">
                        Registration is completed, please wait for the approval!
                    </label>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-12">                            
                             <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">戻る</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/user_registration.js"></script>    
}
