
@{
    ViewBag.Title = "User Registration";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/user_registration.css" />
}

<div class="content container-fluid">
    <div>
        <div class="row">
            <div class="col-8" id="registration_form">            
                <div class="row">
                    <div class="col-8">
                        <h4 style="text-align: center;">Registration</h4>
                    </div>        
                </div>
                <br>
                <div class="row registrer_row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-5">
                                <label>ユーザーID (User Id)</label>
                            </div>
                            <div class="col-7">
                                <input type="text" placeholder="user name" value="" id="user_name" class="user_inputs">
                            </div>
                        </div>
                    </div>        
                </div>
                <br>
                <div class="row registrer_row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-5">
                                <label>役職 (Title)</label>
                            </div>
                            <div class="col-7">
                                <input type="text" placeholder="title" value="" id="user_title" class="user_inputs">
                            </div>
                        </div>
                    </div>        
                </div>
                <br>
                <div class="row registrer_row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-5">
                                <label>部署 (Department)</label>
                            </div>
                            <div class="col-7">
                                <select name="user_department" id="user_department" class="user_inputs">
                                    <option>select Department</option>
                                    <option>Department 1</option>
                                    <option>Department 2</option>
                                </select>
                            </div>
                        </div>
                    </div>        
                </div>
                <br>
                <div class="row registrer_row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-5">
                                <label>メアド (Email)</label>
                            </div>
                            <div class="col-7">
                                <input type="text" placeholder="email" value="" id="user_email" class="user_inputs">
                            </div>
                        </div>
                    </div>        
                </div>
                <br>
                <div class="row registrer_row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-5">
                                <label>パスワー (Password)</label>
                            </div>
                            <div class="col-7">
                                <input type="text" placeholder="password" value="" id="user_password" class="user_inputs">
                            </div>
                        </div>
                    </div>        
                </div>
                <br>
                <div class="row registrer_row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-5">
                                <label>パスワードを認証する (Confirm Pass)</label>
                            </div>
                            <div class="col-7">
                                <input type="text" placeholder="confirm password" value="" id="user_confirm_password" class="user_inputs">
                            </div>
                        </div>
                    </div>        
                </div>
                <br>
                <div class="row registrer_row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6">
                                <button id="rest_btn">Rest</button>
                            </div>
                            <div class="col-6">
                                <button id="register_btn">Register</button>
                            </div>
                        </div>
                    </div>        
                </div>
                <br>
                <br>
                <button id="rest_btn">Back</button>
            </div> 
        </div>
    </div>
</div>

@section Scripts{

    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/user_registration.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">

        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();
        $(function () {

            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            };
        });
        $(document).ready(function () {

            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);
            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data, (index, value) => {

                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

        });
    </script>
}
