
@{
    ViewBag.Title = "ユーザ登録";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/user_registration.css" />

    <link rel="stylesheet" type="text/css" href="/Content/users_ver02.css" />
    <!-- <link href="/Content/budget_edit.css" rel="stylesheet" type="text/css" /> -->
}

<div class="content container-fluid">
    <!-----------------User Registration Form----------------->    
    <div class='row' >
        <div class="col-md-9">  
            <div class="user_registration_form">
                <br />
                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>ユーザーID (User)</label></div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="user_name_reg" placeholder="名前 (User Name)">                 
                    </div>
                </div>

                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>役職 (Title)</label></div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="reg_user_title" placeholder="役職 (Title)">
                    </div>
                </div>                
                
                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>部署 (Dept)</label></div>
                    <div class="col-md-7">
                        <select id="userDepartment" name="userDepartment" class='user_dropdown'></select>
                    </div>
                </div>

                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>メアド (Email)</label></div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="reg_user_email" placeholder="メアド (Email)">
                    </div>
                </div>
                
                <div class="row">        
                    <div class="col-md-5"><label class='input_title'>パスワー (Pass)</label></div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="reg_user_pass" placeholder="パスワー (Pass)">
                    </div>
                </div>
                
                <div class="row">        
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class='user_registration_action'>
                            <a href="javascript:void(0);" class="user_edit_undo_btn" onclick="ClearEntry();">取消(Undo）</a>
                            <a href="javascript:void(0);" class="user_edit_update_btn" data-toggle="modal" data-target="#register_modal">保存（save）</a>
                        </div>
                    </div>
                </div>    
                <br>      
            </div>
        </div>        
    </div>        
</div>

<input type="hidden" id="hid_userRole" value="0">

<!-----------------Modal: Update Forecast Confirm Dialog box----------------->
<div class="modal custom-modal fade" id="register_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align: center;">ユーザ登録</h3>
                <div class="form-header" id="header_show">

                    <p id="section_warning" style="display:none;"></p>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <style>
                        .forecast_save_confirm_text {
                            text-align: left;
                        }
                    </style>
                    <label class="forecast_save_confirm_text" style="text-align: center;">
                        @* Your role will be pending, admin will set your role. *@
                        Do you want to save? 
                    </label>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">                            
                             <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">戻る(Return)</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="" onclick="UserRegistration();">保存(Save)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: registration success----------------->
<div class="modal custom-modal fade" id="registration_success">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align: center;">Registration Success</h3>
                <div class="form-header" id="header_show">

                    <p id="section_warning" style="display:none;"></p>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <style>
                        .forecast_save_confirm_text {
                            text-align: left;
                        }
                    </style>
                    <label class="forecast_save_confirm_text" style="text-align: center;">
                        Registration is completed, please wait for the approval!
                    </label>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-12">                            
                             <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">戻る(Return)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/user_registration.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">

        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 1000); // Restart connection after 1 second.
        });
        $.connection.hub.start();
        $(function () {

            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            };
        });
        $(document).ready(function () {
            $(window).on("beforeunload", function () {
                //alert("call");
                console.log('fired');
                var _keysCount = 0;
                var currentHost = window.location.host;
                _keys = Object.keys(localStorage);
                for (var key = 0; key < _keys.length; key++) {
                    if (localStorage.getItem(_keys[key]) == currentHost) {
                        _keysCount++;
                    }
                }
                if (_keysCount == 1) {
                    var user_name = $('#hidden_username').val();
                    if (user_name != null || user_name != undefined || user_name != '') {
                        $.ajax({
                            url: `/Registration/RemoveSession?userName=${user_name}`,
                            contentType: 'application/json',
                            type: 'GET',
                            async: false,
                            //dataType: 'json',
                            success: function (data) {
                            }
                        });
                    }
                }
                if (_keysCount > 1) {
                    localStorage.removeItem(window.location.pathname);
                }
            });
            var localStorageItem = localStorage.getItem(window.location.pathname);
            if (localStorageItem == null || localStorageItem == '' || localStorageItem == undefined) {
                localStorage.setItem(window.location.pathname, window.location.host);
            }
            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);
            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data, (index, value) => {

                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

        });
    </script>
}
