
@{
    ViewBag.Title = "部署の登録、編集、削除 (Department Registration)";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/departments_ver02.css" />   
}

<div class="content container-fluid">
    <!-----------------Department Master: Department list are showing on this part----------------->
    <div id="department_list" style="display: block;">
        <div class="row">
            <div class="col-md-10">
                <div class="table-responsive">
                    <label id="list_master">
                        登録した部署を消去するには、チェックボックスにチェックを入れ、 削除ボタンをクリックしてください。編集する場合は、
                        <br>
                        １つのチェックボックスを選択し、選択ボタンをクリックしてください。追加する場合は、追加ボタンをクリックしてください。
                    </label>
                    <table id="dept_list_tbl">
                        <thead>
                            <tr>
                                <th colspan="6" class="dept_header">部署 リスト(Dept List)</th>
                            </tr>
                            <tr>
                                <th class="dept_list_theader dept_header">複数選択</th>
                                <th class="dept_list_theader dept_header">部署 (Dept Name)</th>
                                <th class="dept_list_theader dept_header">区分 (Section)</th>
                            </tr>
                        </thead>
                        <tbody id="department_list_tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>

        @if (Convert.ToBoolean(ViewBag.linkFlag))
        {
            
            <div class="add_edit_del_dept" style="display: block;">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <button class="btn delete_dept_btn" type="button">削除 (delete)​</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn edit_dept_btn" type="button">編集​ (edit)​</button>
                            </div>                                
                            <div class="col-md-3" >
                                <button class="btn add_dept_btn" type="button">追加 (add)</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
    <input type="hidden" id="department_id_for_edit_modal" />    
</div>

<!-----------------Modal: Add Department----------------->
<div class="modal custom-modal fade" id="add_department_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">                
                <div class="form-header">
                    <h3 class='add_edit_del_header'>追加 部署 (add department)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">                    
                    <label id="input_master">
                        新規登録する場合は、「新規部署名をここに入力」テキストボックスに部署名を記載し、該当する区分を選択し、保存ボタンをクリックしてください。 
                    </label>
                    <table class="add_edit_dept_tbl">
                        <thead style="border: none;">
                            <tr></tr>
                            <tr>
                                <th class="dept_header">部署 (Dept Name)</th>
                                <th class="dept_header">区分 (Section)</th>
                                <th class="dept_header">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="department_body">
                                    <input type="text" value="" placeholder="新規部署名をここに入力" id="department_name">                                            
                                </td>
                                <td class="department_body">
                                    <select id="sec_list_for_dept_add" class="" style=""></select>                                           
                                </td>
                                <td class="department_body">
                                    <a href="javascript:void(0);" class="" id="undo_add_frm">取消(undo)</a>
                                    <a href="javascript:void(0);" class="" id="dept_add_btn">保存（save）</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>                        
                </div>

                <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>

            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit Department----------------->
<div class="modal custom-modal fade" id="edit_department_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">                    
                <div class="form-header">
                    <h3 class='add_edit_del_header'>編集​ 部署 (edit department)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <label class='add_edit_modal_title'>登録した部署名を編集するには、編集するテキストボックスを選択し、変更する部署名を記載し、区分を選択し、更新ボタンをクリックします。</label>
                    <table class="add_edit_dept_tbl">
                        <thead style="border: none;">
                            <tr></tr>
                            <tr>
                                <th class="dept_header">部署 (Dept Name)</th>
                                <th class="dept_header">区分 (Section)</th>
                                <th class="dept_header">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="department_body">
                                    <input type="text" value="" placeholder="新規部署名をここに入力" id="department_name_edit">                                            
                                </td>
                                <td class="department_body">
                                    <select id="sec_list_for_dept_edit" class="" style=""></select>                                           
                                </td>
                                <td class="department_body">
                                    <a href="javascript:void(0);" class="" id="undo_edit_frm">取消(undo)</a>
                                    <a href="javascript:void(0);" class="" id="dept_edit_btn">更新​ (Update)</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>                       
                </div>
                <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>
            </div>
        </div>
    </div>
</div>


<!-----------------Modal: Delete department----------------->
<div class="modal custom-modal fade" id="delete_department_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 class='add_edit_del_header'>部門削除 (Delete Department)</h3>
                    <ol class="del_confirm_warning"></ol>
                    <p>本当に削除しますか？</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="dept_del_confirm">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>   
    <script src="/Scripts/departments_ver02.js"></script>   
    
    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>       
}