
@{
    ViewBag.Title = "実績入力";
}
@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/actualcostconfirm.css" rel="stylesheet" type="text/css" />
}

<div class="content container-fluid" style="position:relative;margin-top: -38px;">
    <div id="actual_cost_table_header">実績: 実績</div>

    <!-----------------Show Loader----------------->
    <div class="row">
        <div class="col-md-12">
            <div class="forecast">
                <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                    <center>
                        <img src="/img/forecast_loader.gif" height="250" width="250" style="margin-top:265px;" alt="loader">
                        <br>
                        <strong>しばらくお待ちください...</strong>
                        <br>
                        <br>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="actual_cost_list1">
        <div class="col-md-12">
            <div id="jspreadsheet"></div>
        </div>
    </div>
</div>

<div class='sorting_custom_modal'>
    <!--------sort employee custom div-------->
    <div class="employee_sorting">
        <ul id="search_p_asc_desc">
            <li><i id="search_p_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(1, 0,3,3,'search_p_asc','search_p_desc')"></i> <span id="search_p_asc_text">昇順</span></li>
            <li><i id="search_p_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(1, 1,3,3,'search_p_asc','search_p_desc')"></i><span id="search_p_desc_text">降順</span></li>
        </ul>
        <div class="search_p_footer">        
            <button type="button" data-dismiss="modal" id="buttonClose">Close</button>
        </div>
    </div>

    <!--------sort section custom div-------->
    <div class="section_sorting">
        <ul id="search_section_asc_desc">
            <li><i id="search_section_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(3,0,3,5,'search_section_asc','search_section_desc')"></i> <span id="search_section_asc_text">昇順</span></li>
            <li><i id="search_section_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(3,1,3,5,'search_section_asc','search_section_desc')"></i><span id="search_section_desc_text">降順</span></li>
        </ul>
        <div class="search_p_footer">
            <button type="button" data-dismiss="modal" id="buttonClose_section">Close</button>
        </div>
    </div>

    <!--------sort department custom div-------->
    <div class="department_sorting">
        <ul id="search_department_asc_desc">
            <li><i id="search_department_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(4,0,3,6,'search_department_asc','search_department_desc')"></i> <span id="search_department_asc_text">昇順</span></li>
            <li><i id="search_department_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(4,1,3,6,'search_department_asc','search_department_desc')"></i><span id="search_department_desc_text">降順</span></li>
        </ul>
        <div class="search_p_footer">
            <button type="button" data-dismiss="modal" id="buttonClose_department">Close</button>
        </div>
    </div>

    <!--------sort incharge_sorting custom div-------->
    <div class="incharge_sorting">
        <ul id="search_incharge_asc_desc">
            <li><i id="search_incharge_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(5,0,3,7,'search_incharge_asc','search_incharge_desc')"></i> <span id="search_incharge_asc_text">昇順</span></li>
            <li><i id="search_incharge_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(5,1,3,7,'search_incharge_asc','search_incharge_desc')"></i><span id="search_incharge_desc_text">降順</span></li>
        </ul>
        <div class="search_p_footer">
            <button type="button" data-dismiss="modal" id="buttonClose_incharge">Close</button>
        </div>
    </div>

    <!--------sort role_sorting custom div-------->
    <div class="role_sorting">
        <ul id="search_role_asc_desc">
            <li><i id="search_role_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(6,0,3,8,'search_role_asc','search_role_desc')"></i> <span id="search_role_asc_text">昇順</span></li>
            <li><i id="search_role_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(6,1,3,8,'search_role_asc','search_role_desc')"></i><span id="search_role_desc_text">降順</span></li>
        </ul>
        <div class="search_p_footer">
            <button type="button" data-dismiss="modal" id="buttonClose_role">Close</button>
        </div>
    </div>

    <!--------sort explanation_sorting custom div-------->
    <div class="explanation_sorting">
        <ul id="search_explanation_asc_desc">
            <li><i id="search_explanation_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(7,0,3,9,'search_explanation_asc','search_explanation_desc')"></i> <span id="search_explanation_asc_text">昇順</span></li>
            <li><i id="search_explanation_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(7,1,3,9,'search_explanation_asc','search_explanation_desc')"></i><span id="search_explanation_desc_text">降順</span></li>
        </ul>
        <div class="search_p_footer">
            <button type="button" data-dismiss="modal" id="buttonClose_explanation">Close</button>
        </div>
    </div>

    <!--------sort company_sorting custom div-------->
    <div class="company_sorting">
        <ul id="search_company_asc_desc">
            <li><i id="search_company_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(8,0,3,10,'search_company_asc','search_company_desc')"></i> <span id="search_company_asc_text">昇順</span></li>
            <li><i id="search_company_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(8,1,3,10,'search_company_asc','search_company_desc')"></i><span id="search_company_desc_text">降順</span></li>
        </ul>
        <div class="search_p_footer">
            <button type="button" data-dismiss="modal" id="buttonClose_company">Close</button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="~/Scripts/actualcostconfirm.js"></script>
    <script src="/Scripts/bootstrap-multiselect.js"></script>
    
    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>    
}

