@model CostAllocationApp.ViewModels.ForecastViewModal

@{
    ViewBag.Title = "実績作成 (Actual Cost)";
}
@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/actualcost.css" rel="stylesheet" type="text/css" />
}

<div class="content container-fluid" style="position:relative">
    <!-----------------Show Loader----------------->
    <div class="row">
        @*<div class="col-md-12">
            <div class="forecast">
                <div id="loading" style="display:block;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                    <center>
                        <img src="/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;" alt="loader">
                        <br>
                        <strong>Please wait a moment...</strong>
                        <br>
                        <br>
                    </center>
                </div>
            </div>
        </div>*@
    </div>
    <!-----------------Employee Assignment: Create Actual Cost----------------->
    <div class="row">
        <div class="col-md-12">
            <label for="assignment_year"><u>Select Year to Create or Update Actual Cost</u></label>
            <select class="form-control col-2" id="assignment_year"></select>
            @* <button type="button" class="btn btn-dark" id="create_actual_cost">save</button> *@
        </div>

        <div class="col-md-12">
            <div id="jspreadsheet"></div>
        </div>

    </div>

</div>

@*<input type="hidden" id="hidSectionId" />
<input type="hidden" id="hidDepartmentId" />
<input type="hidden" id="hidInChargeId" />
<input type="hidden" id="hidRoleId" />
<input type="hidden" id="hidExplanationId" />
<input type="hidden" id="hidCompanyid" />
<input type="hidden" id="hidForecastYear" value="2023" />*@


@section Scripts{
    <script src="/Scripts/common.js"></script>
    @*<script src="/Scripts/forecast_ver04.js"></script>*@
    <script src="~/Scripts/actualcost.js"></script>
    <script src="/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();

        $(function () {
            var chat = $.connection.chatHub;
            //$.connection.hub.start();
            //debugger;
            //console.log(chat);
            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }

                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName != value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }

                        });

                    }
                });
            };
        });

        $(document).ready(function () {
            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);
            //$("table1").DataTable();
        });
        //function bs_input_file() {
        //    $(".input-file").before(
        //        function () {
        //            if (!$(this).prev().hasClass('input-ghost')) {
        //                var element = $("<input type='file' id='dataFile' name='upload' class='input-ghost' style='visibility:hidden; height:0'>");
        //                element.attr("name", $(this).attr("name"));
        //                element.change(function () {
        //                    element.next(element).find('input').val((element.val()).split('\\').pop());
        //                });
        //                $(this).find("button.btn-choose").click(function () {
        //                    element.click();
        //                });
        //                $(this).find("button.btn-reset").click(function () {
        //                    element.val(null);
        //                    $(this).parents(".input-file").find('input').val('');
        //                });
        //                $(this).find('input').css("cursor", "pointer");
        //                $(this).find('input').mousedown(function () {
        //                    $(this).parents('.input-file').prev().click();
        //                    return false;
        //                });
        //                return element;
        //            }
        //        }
        //    );
        //}

        //function clear() {
        //    var input = $("#dataFile").val('');
        //};
        //$(function () {
        //    clear();
        //    bs_input_file();
        //});
    </script>
}


