
@{
    ViewBag.Title = "Apportionment";
}
@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/apportionment.css" rel="stylesheet" type="text/css" />
}
    <div class="content container-fluid" style="position:relative;margin-top: -38px;">
        <!-----------------Show Loader----------------->
        <div class="row">
            <div class="col-md-12">
                <div class="forecast">
                    <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                        <center>
                            <img src="/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;" alt="loader">
                            <br>
                            <strong>Please wait a moment...</strong>
                            <br>
                            <br>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <select id="assignment_year" class=""></select>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-light mb-2" id="apportionment_button">表示</button>
                <button type="submit" class="btn btn-light mb-2" id="apportionment_save_button">save</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="jspreadsheet"></div>
            </div>

        </div>
        <br>
    </div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="~/Scripts/apportionment.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();

        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }

                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName != value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }

                        });

                    }
                });
            };
        });

        $(document).ready(function () {
            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);
        });
    </script>
}
