
@{
    ViewBag.Title = "承認履歴ファイル保存名";
}

@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/approve_histories.css" rel="stylesheet" type="text/css" />
}
    <div class="content container-fluid" style="position:relative;margin-top: -38px;">
        
        <!-- Show Loader -->
        <div class="row">
            <div class="col-md-12">
                <div class="forecast">
                    <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                        <center>
                            <img src="~/img/forecast_loader.gif" height="250" width="250" style="margin-top:265px;">
                            <br>
                            <strong>しばらくお待ちください...</strong>
                            <br>
                            <br>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div id="approve_history_navigation"><span id="nav1">年度データ </span>><span id="nav2"> 承認履歴 </span></div>  

        <div class="row" id="filter_history_data" >
            <div class="col-3">
                <select id="history_year" class="" ></select>
            </div>
            <div class="col-2" id="btn_submit">
                <button type="submit" class="btn btn-light mb-2" id="history_data_btn" >表示</button>
            </div>
        </div>            

        <br>
        <div class="row" id="approve_history_tbl" style="display: none;">
            <div class="col-7">
                <table class="table" id="timestamp_list">
                    <thead>
                        <tr>
                            <th>更新者</th>
                            <th style="padding-left: 43px;">ファイル名</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

<!-- Modal History -->
<div id="modal_change_history" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">    
    <div class="modal-dialog modal-xl" style="max-width: 1524px; margin: auto;">
        
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_change_history_label">
                    承認履歴
                </h5>                                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <table class="table table-bordered" id="forecast_history_table">
                    <thead>                                                
                    </thead>
                    <tbody class="table">
                    </tbody>
                </table>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn_export_approve_history_data">XlSX</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>

    </div>
</div>

<div id="jspreadsheet" style="display: none;"></div>

<input type="hidden" id="forecast_history" value="">
<input type="hidden" id="hidTimeStampid" value="">

<form action="/Forecasts/DownloadHistoryData" method="post" id="frmApproveHistoryExport" style="display: none;">                    
	<div class="form-group">
        <input type="hidden" id="hid_approve_timestamp_id" name="hid_approve_timestamp_id" value="">	
        <input type="hidden" id="hid_selected_year" name="hid_selected_year" value="">	
	</div>
</form>


@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/approve_histories.js"></script>
    
    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>  
}


