
@{
    ViewBag.Title = "ダイナミックテーブルフォーマット";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Content/create_dynamic_table.css" />
}

<div class="content container-fluid">
    <!-----------------Dynamic Table: Dynamic Table list are showing on this part----------------->
    <div id="dynamic_table_list" style="display: block;">
        <h4 class="table_heading">集計表マスター​</h4>
        <div class="row" class="dynamic_table_list_row">
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="" id="dynamic_list_tbl">
                        <thead>
                            <tr>
                                <th colspan="6">集計表リスト​</th>
                            </tr>
                            <tr>
                                <th>選択​</th>
                                <th class="table_list_th">表名​ </th>
                                <th class="table_list_th">表タイトル​ </th>
                                <th class="table_list_th">表示位置​ </th>
                            </tr>
                        <tbody id="dynamic_list_tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--dynamic table: add,edit,delete,setting action button-->
    <div class="dynamic_table_list_action" style="display: block;">
        <div class="row">
            <div class="col-md-2">
                <div class="table-responsive">
                    <button class="btn list_table_add_btn" type="button">追加</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="table-responsive">
                    <button class="btn list_table_edit_btn" type="button">編集​</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="table-responsive">                    
                    <a class="btn frm_setting_btn" id="dynamic_table_delete_link">項目設定</a>
                </div>
            </div>            
            <div class="col-md-3">
                <div class="table-responsive">
                    <a class="btn list_table_delete_btn" id="dynamic_table_delete_link" href="javascript:void(0);">削除</a></label>
                </div>
            </div>
        </div>
    </div>
    <br />


    <div class="content container-fluid table_input_frm_div" style="display:none;">
        <div class="row">
            <div class="col-md-6">
                <div class="grid-container" style="border:solid 1px;">
                    <div class="" style="grid-area:header; background-color:lightgray;">
                        <h5 class="ml-1" id="dynamic_input_form_header">集計表追加</h5>
                    </div>
                    <div class="dynamic_input_form_main ml-1" style="grid-area:main;">
                        <h6>追加する利用者情報をを入力してください​</h6>
                        <div class="input-container">
                            <div class="row mt-1" style="">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <label class="input_table_frm_lbl">表名</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control input_table_text_field"
                                        placeholder="クリックして表名を入力​" name="table_name_input" id="table_name_input">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <label class="input_table_frm_lbl">表タイトル</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control input_table_text_field"
                                        placeholder="クリックして表タイトルを入力​​" name="table_title_input" id="table_title_input">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <label class="input_table_frm_lbl">表示位置</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="number" class="form-control input_table_text_field" placeholder="クリックして表示位置を入力​​" name="table_position_input" id="table_position_input">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row mt-3 mb-3">
                                <div class="col-md-6">
                                    <label class="input_table_frm_lbl">表階層を設定してください​</label>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control select_column_no" id="showColumnTitleInput">
                                        <option value="-1">-- Select --</option>
                                        <option value="1">1 階層​</option>
                                        <option value="2">2 階層​</option>
                                        <option value="3">3 階層​</option>
                                    </select>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div id="dynamic_column_title_block">
                            </div>
                        </div>
                    </div>
                    <div class="dynamic_input_form_footer" style="grid-area:footer;">
                        <div class="row m-2">
                            <div class="col-md-5"></div>
                            <div class="col-md-3">
                                <button class="btn table_format_frm_btn" id="table_format_add_btn" type="button" onclick="AddUpdateDynamicTables();">追　加​</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn table_format_frm_btn table_input_frm_div_close" type="button">キャンセル​</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!--create dynamic table form-->
    <br><br>
    <div class="row" style="display: none;">
        <div class="col-md-8">
            <table id="dynamic_table_create">
                <thead style="border: none;">
                    <tr></tr>
                    <tr>
                        <th>テーブル名</th>
                        <th>表のタイトル</th>
                        <th>テーブルの位置</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="create_form_td">
                            <input type="text" value="" placeholder="テーブル名" id="table_name">
                        </td>
                        <td class="create_form_td">
                            <input type="text" value="" placeholder="表のタイトル" id="table_title">
                        </td>
                        <td class="create_form_td">
                            <input type="text" value="" placeholder="テーブルの位置" id="table_position">
                        </td>

                        <td class="create_form_td">
                            <a href="javascript:void(0);" class="" id="clear_input_frm" data-dismiss="modal">取消</a>
                            <a href="javascript:void(0);" class="" id="save_inputs" onclick="AddUpdateDynamicTables()">保存</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="warning_message">
                            <label id="table_name_warning_msg">テーブル名を入力してください</label>
                        </td>
                        <td class="warning_message">
                            <label id="table_title_warning_msg">テーブルのタイトルを入力してください</label>
                        </td>
                        <td class="warning_message">
                            <label id="table_position_warning_msg">テーブルの位置を入力してください</label>
                        </td>
                        <td class="warning_message"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br /><br />    
    <br />   
</div>
<br><br>
<br><br>

<input type="hidden" id="table_id_for_edit" />
<input type="hidden" id="table_id_for_delete" />

<!-----------------Modal: Delete Dynamic Table----------------->
<div class="modal custom-modal fade" id="delete_dynamic_table" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 class="delete_confirm_header">削除確認</h3>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <p style="margin-left: -151px;">選択した集計表を削除しますか？​</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <a href="javascript:void(0);" class="btn confrim_del_btn">はい (Y)​</a></label>
                        </div>

                        <div class="col-3">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn confrim_cancel_btn">いいえ
                                (N)​</a></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Delete Main Item----------------->
<div class="modal custom-modal-delete-item fade" id="delete_main_item_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 class="delete_confirm_header">削除確認</h3>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <p style="margin-left: -151px;">選択した項目を削除しますか?​</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <input type="hidden" value="" id="main_item_del_id" />
                            <a href="javascript:void(0);" class="btn confrim_del_btn_main_item">はい (Y)​</a>
                        </div>

                        <div class="col-3">
                            <a href="javascript:void(0);" data-dismiss="modal"
                                class="btn confrim_cancel_btn_main_item">いいえ (N)​</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Delete Sub Item----------------->
<div class="modal custom-modal-delete-item fade" id="delete_sub_item_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 class="delete_confirm_header">削除確認 </h3>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <p style="margin-left: -151px;">選択した項目を削除しますか?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <input type="hidden" value="" id="main_item_del_id_in_sub_item_delete_modal" />
                            <input type="hidden" value="" id="sub_item_del_id" />
                            <a href="javascript:void(0);" class="btn confrim_del_btn_sub_item">はい (Y)​</a>
                        </div>

                        <div class="col-3">
                            <a href="javascript:void(0);" data-dismiss="modal"
                                class="btn confrim_cancel_btn_sub_item">いいえ (N)​</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Delete Detail Item----------------->
<div class="modal custom-modal-delete-item fade" id="delete_detail_item_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 class="delete_confirm_header">削除確認</h3>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <p style="margin-left: -151px;">選択した項目を削除しますか?​</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <input type="hidden" value="" id="sub_item_del_id_in_detail_item_delete_modal" />
                            <input type="hidden" value="" id="detail_item_del_id" />
                            <a href="javascript:void(0);" class="btn confrim_del_btn_detail_item">はい (Y)​</a>
                        </div>

                        <div class="col-3">
                            <a href="javascript:void(0);" data-dismiss="modal"
                                class="btn confrim_cancel_btn_detail_item">いいえ (N)​</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-----------------Modal: Main Item List and Input Form----------------->
<div class="modal fade" id="main_item_list_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header main_list_header">
                <h5 class="modal-title" id="exampleModalLongTitle">大項目一覧</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table id="main_item_input_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th class="section_th">項目​</th>
                            <th class="section_th">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="main_item_input_td">
                                <input type="text" value="" placeholder="設定する大項目を入力​" id="section-name">
                            </td>
                            <td class="main_item_input_td">
                                <a href="javascript:void(0);" class="main_item_add_btn" id="">追加</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table class="main_item_list_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th class="section_th">項目</th>
                            <th class="section_th">操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="modal-footer input_frm_footer">
                    <a href="javascript:void(0);" class="main_item_close_btn_footer" data-dismiss="modal"
                       aria-label="Close" id="">戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Sub Item List and Input Form----------------->
<div class="modal fade" id="sub_item_list_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header sub_list_header">
                <h5 class="modal-title" id="exampleModalLongTitle">(中項目一覧)​</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="sub_item_close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <h5>大項目: <span class="main_item_name"></span></h5>
                <table id="sub_item_input_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th class="section_th">項目</th>
                            <th class="section_th">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="sub_item_input_td">
                                <input type="hidden" value="" id="main_item_id" />
                                <input type="text" value="" placeholder="設定する中項目を入力​" id="input_sub_item">
                            </td>
                            <td class="sub_item_input_td">
                                <a href="javascript:void(0);" class="sub_item_add_btn" id="">追加</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <table class="sub_item_list_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th class="section_th">項目</th>
                            <th class="section_th">操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="modal-footer input_frm_footer">
                    <a href="javascript:void(0);" class="sub_item_close_btn_footer" id="">戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Detail Item List and Input Form----------------->
<div class="modal fade" id="detail_item_list_modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header detail_list_header">
                <h5 class="modal-title" id="exampleModalLongTitle">(詳細項目一覧)​</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="detail_item_close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <h5>大項目: <span class="main_item_name"></span></h5>
                <h5>中項目: <span class="sub_item_name"></span></h5>
                <table id="detail_item_input_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th class="section_th">項目​</th>
                            <th class="section_th">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="detail_item_input_td">
                                <input type="hidden" value="" id="sub_item_id" />
                                <input type="text" value="" placeholder="設定する詳細項目を入力​" id="input_detail_item">
                            </td>
                            <td class="sub_item_input_td">
                                <a href="javascript:void(0);" class="detail_item_add_btn" id="">追加</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <table class="detail_item_list_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th class="section_th">項目</th>
                            <th class="section_th">操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="modal-footer input_frm_footer">
                    <a href="javascript:void(0);" class="detail_item_close_btn_footer" id="">戻る</a>
                </div>
            </div>

        </div>
    </div>
</div>

<!-----------------Modal: Edit Main Item---------------->
<div class="modal fade" id="main_item_edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header main_item_edit_header">
                <h5 class="modal-title" id="exampleModalLongTitle">(メイン項目編集)</h5>
                <button type="button" class="close main_item_edit_modal_close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table id="main_item_edit_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th class="section_th">項目</th>
                            <th class="section_th">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="main_item_edit_input_td">
                                <input type="hidden" value="" id="main_item_id_edit_input">
                                <input type="text" value="" placeholder="設定する大項目を入力​" id="main_item_edit_input">
                            </td>
                            <td class="main_item_edit_input_td">
                                <a href="javascript:void(0);" class="main_item_edit_action" id="">更新​</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer input_frm_footer">
                    <a href="javascript:void(0);" class="edit_modal_close_button main_item_edit_modal_close"
                       id="">戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit Sub Item---------------->
<div class="modal fade" id="sub_item_edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header sub_item_edit_header">
                <h5 class="modal-title" id="exampleModalLongTitle">(サブ項目編集)</h5>
                <button type="button" class="close sub_item_edit_modal_close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table id="sub_item_edit_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th class="section_th">項目</th>
                            <th class="section_th">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="sub_item_edit_input_td">
                                <input type="hidden" value="" id="main_item_id_edit_input">
                                <input type="hidden" value="" id="sub_item_id_edit_input">
                                <input type="text" value="" placeholder="設定する中項目を入力" id="sub_item_edit_input">
                            </td>
                            <td class="sub_item_edit_input_td">
                                <a href="javascript:void(0);" class="sub_item_edit_action" id="">更新​</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer input_frm_footer">
                    <a href="javascript:void(0);" class="edit_modal_close_button sub_item_edit_modal_close"
                       id="">戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit Details Item---------------->
<div class="modal fade" id="detail_item_edit_modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header detail_item_edit_header">
                <h5 class="modal-title" id="exampleModalLongTitle">(詳細項目編集)</h5>
                <button type="button" class="close detail_item_edit_modal_close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table id="detail_item_edit_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th class="section_th">項目</th>
                            <th class="section_th">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="detail_item_edit_input_td">
                                <input type="hidden" value="" id="sub_item_id_edit_input">
                                <input type="hidden" value="" id="detail_item_id_edit_input">
                                <input type="text" value="" placeholder="設定する詳細項目を入力​" id="detail_item_edit_input">
                            </td>
                            <td class="detail_item_edit_input_td">
                                <a href="javascript:void(0);" class="detail_item_edit_action" id="">更新​</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer input_frm_footer">
                    <a href="javascript:void(0);" class="edit_modal_close_button detail_item_edit_modal_close"
                       id="">戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/create_dynamic_table.js"></script>
    
    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>    
}
