
@{
    ViewBag.Title = "Table Format";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Content/create_dynamic_table.css" />
}


<div class="content container-fluid">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="row" id="dynamic_input_frm_header">
                    <div class="col-sm-12">
                        <h4 class="dynamic_page_title">集計表追加​</h4>
                    </div>
                </div>

                <div class="row" id="dynamic_input_frm">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h4 class="form_title">追加する利用者情報をを入力してください​</h4>
                            <div class="form-group row">
                                <label class="col-form-label col-md-1"></label>
                                <label class="col-form-label col-md-3 input_table_frm_lbl" >表名​</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input_table_text_field" placeholder="クリックして表名を入力​" name="test_input" id="test_input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-1"></label>
                                <label class="col-form-label col-md-3 input_table_frm_lbl">表タイトル​</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input_table_text_field" placeholder="クリックして表タイトルを入力​​" name="test_input" id="test_input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-1"></label>
                                <label class="col-form-label col-md-3 input_table_frm_lbl">表示位置​</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input_table_text_field" placeholder="クリックして表示位置を入力​​" name="test_input" id="test_input">
                                </div>
                            </div>

                            <div class="form-group row"></div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-3 form_title">表階層を設定してください​</label>
                                <div class="col-md-4 ">
                                    <select class="form-control select_column_no">
                                        <option>-- Select --</option>
                                        <option>1 階層​</option>
                                        <option>2 階層​</option>
                                        <option>3 階層​</option>
                                    </select>                            
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-1"></label>
                                <label class="col-form-label col-md-3 input_table_frm_lbl2">大項目ヘッダータイトル​</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input_table_text_field" placeholder="ヘッダータイトルを入力​​" name="test_input" id="test_input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-1"></label>
                                <label class="col-form-label col-md-3 input_table_frm_lbl2">中項目ヘッダータイトル​</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input_table_text_field" placeholder="ヘッダータイトルを入力​​​" name="test_input" id="test_input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3">
                                    
                                ​</label>
                                <div class="col-md-2">
                                    <button class="btn btn-primary frm_add_btn" type="button">追　加​</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary frm_setting_btn" type="button">項目設定​</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary frm_cancel_btn" type="button">キャンセル​</button>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--create dynamic table form-->

    <br><br>

    <div class="row" style="display: none;">
        <div class="col-md-8">
            <table id="dynamic_table_create">
                <thead style="border: none;">
                    <tr></tr>
                    <tr>
                        <th>テーブル名(Table)</th>
                        <th>表のタイトル(Title)</th>
                        <th>テーブルの位置(Position)</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>                                     
                        <td class="create_form_td">
                            <input type="text" value="" placeholder="テーブル名 (table name)" id="table_name">                                        
                        </td>
                        <td class="create_form_td">
                            <input type="text" value="" placeholder="表のタイトル (table title)" id="table_title">                                        
                        </td>  
                        <td class="create_form_td">
                            <input type="text" value="" placeholder="テーブルの位置 (table position)" id="table_position">                                        
                        </td>  

                        <td class="create_form_td">
                            <a href="javascript:void(0);" class="" id="clear_input_frm" data-dismiss="modal">取消(undo)</a>
                            <a href="javascript:void(0);" class="" id="save_inputs" onclick="InsertDynamicTables()">保存（save）</a>
                        </td>
                    </tr>
                    <tr>                                     
                        <td class="warning_message">
                            <label id="table_name_warning_msg">テーブル名を入力してください</label>
                        </td>
                        <td class="warning_message">
                            <label id="table_title_warning_msg">テーブルのタイトルを入力してください</label>                                
                        </td>  
                        <td class="warning_message">
                            <label id="table_position_warning_msg">テーブルの位置を入力してください</label>                                        
                        </td>  

                        <td class="warning_message">                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br /><br />

    <!-----------------Dynamic Table: Dynamic Table list are showing on this part----------------->    
    <div id="dynamic_table_list" style="display: none;">
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="" id="dynamic_list_tbl">
                        <thead>
                            <tr>
                                <th colspan="6">Dynamic Table List</th>
                            </tr>
                            <tr>
                                <th class="table_list_th">Table Name</th>                                    
                                <th class="table_list_th">Table Title</th>
                                <th class="table_list_th">Table Position</th>
                                <th class="table_list_th">操作</th>
                            </tr>
                        </thead>
                        <tbody id="dynamic_list_tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />      

    <!-----------------Total Menu Settings: Dynamic table list with dropdown----------------->    
    <!-- <h4>View Format </h4> -->
    <div class="row" style="display: none;">
        <div class="col-md-5">
            <table id="total_menu_setting_tbl">
                <thead style="border: none;">
                    <tr></tr>
                    <tr>
                        <th></th>
                        <th>テーブル名(Table)</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>                                     
                        <td class="dynamic_table_list_for_setting_td">
                            Select Table                                                        
                        </td>
                        <td class="dynamic_table_list_for_setting_td">
                            <select class="form-select" aria-label="Default select example" id="dynamic_table_list_for_setting">                                
                            </select>                                          
                        </td>  

                        <td class="dynamic_table_list_for_setting_td">                            
                            <a href="javascript:void(0);" class="" id="setting_button" onclick="DynamicTableSetting()">Setting</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
    <br />

    <div id="total_menu_settings" style="display:none;">
        <!--table setting: columns insert form-->
        <div class="row">
            <div class="col-md-6">
                <table id="title_setting_table">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th>Main-Item Title</th>
                            <th>Sub-Item Title</th>
                            <th>Detail-Item Title</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>                                     
                            <td class="create_form_td">
                                <input type="text" value="" placeholder="コラムタイトル(title 1)" id="column_title_1">                                        
                            </td>
                            <td class="create_form_td">
                                <input type="text" value="" placeholder="コラムタイトル(title 2)" id="column_title_2">                                        
                            </td>  
                            <td class="create_form_td">
                                <input type="text" value="" placeholder="コラムタイトル(title 3)" id="column_title_3">                                        
                            </td>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />

        <!--table setting: items insert form-->
        <div class="row">
            <div class="col-md-11">
                <table id="total_menu_setting_items_tbl">
                    <thead style="border: none;">
                        <tr></tr>
                        <tr>
                            <th>Main Item</th>
                            <th>Sub Item</th>
                            <th>Detail Item</th>
                            <th>Methods</th>
                            <th>Data for</th>
                            <!-- <th></th> -->
                        </tr>
                    </thead>

                    <tbody id="item_tbody">
                        <tr class="item_row" data-count="1">                                     
                            <td class="setting_items_td">
                                <select class="main_item_dropdown" name="main_item" id="main_item">  
                                </select> 
                            </td>
                            <td class="setting_items_td" >
                                <select class="sub_item_dropdown" name="sub_item" id="sub_item">  
                                </select> 
                            </td>  
                            <td class="setting_items_td">
                                <select class="detail_item_dropdown" name="detail_item" id="detail_item">                                      
                                </select> 
                            </td>  
                            <td class="setting_items_td">
                                <select class="method_dropdown" id="method_list_dropdown" name="method_item">  
                                </select>                                          
                            </td>  
                            <td class="setting_items_td data_for" >
                                <select class="data_for_dropdown" name="data_for_list_dropdown_for_setting" id="data_for_list_dropdown_for_setting1" multiple="multiple">                              
                                </select>                                          
                            </td>  
                            <!-- <td class="setting_plus_icon" style="display:show;">                            
                                <a href="javascript:void(0);" class="text-decoration-none" id="item_row_add">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                    </svg>
                                </a>
                            </td>
                            <td class="setting_minus_icon" style="display:none;">  
                                <a href="javascript:void(0);" class="text-decoration-none" class="remove_row">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                    </svg>
                                </a>
                            </td>     -->
                        </tr>  
                        <tr data-count="0">
                            <td class="action_td"></td>
                            <td class="action_td"></td>
                            <td class="action_td"></td>
                            <td class="action_td"></td>
                            <!-- <td class="action_td"></td> -->
                            <td class="cancel_save_link_td">                            
                                <a href="javascript:void(0);" class="" id="clear_setting_form" data-dismiss="modal">取消(undo)</a>
                                <a href="javascript:void(0);" class="" id="dynamic_table_create_save_btn" onclick="InsertDynamicSetting()">保存（save）</a>
                            </td>                            
                        </tr>                      
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <!-----------------Dynamic Table: Dynamic Table list are showing on this part----------------->    
        <div id="total_setting_list" style="display: block;">
            <div class="row">
                <div class="col-md-11">
                    <div class="table-responsive">

                        <table class="" id="setting_list_tbl">
                            <thead>
                                <tr>
                                    <th colspan="12">Total Menu Setting List</th>
                                </tr>
                                <tr>
                                    <th class="setting_list_header">Table Name</th>    
                                    <th class="setting_list_header">Main Item</th>    
                                    <th class="setting_list_header">Sub Item</th>    
                                    <th class="setting_list_header">Detail Item</th>    
                                    <th class="setting_list_header">Methods</th>   
                                    <th class="setting_list_header">Data for</th>
                                    @*<th class="setting_list_header">操作</th>*@
                                </tr>
                            </thead>
                            <tbody id="setting_list_body">
                                <tr>
                                    <td>table-1</td>
                                    <td>main-item-1</td>
                                    <td>sub-item-1</td>
                                    <td>detail-item-1</td>
                                    <td>method-1</td>
                                    <td>development-1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br /> 
    </div>    
</div>
<br><br>
<br><br>

<input type="hidden" id="table_id_for_edit" />
<input type="hidden" id="table_id_for_delete" />

<!-----------------Modal: Delete Dynamic Table----------------->
<div class="modal custom-modal fade" id="delete_dynamic_table" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>テーブルの削除 (Delete Table)</h3>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <p>本当に削除しますか？</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="delete_table_link">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit Dynamic Table----------------->
<div id="edit_dynamic_table_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Dynamic Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-header">
                    <div class="row">
                    <div class="col-md-12">
                        <table id="edit_table_modal">
                            <thead style="border: none;">
                                <tr></tr>
                                <tr>
                                    <th>テーブル名(Table)</th>
                                    <th>表のタイトル(Title)</th>
                                    <th>テーブルの位置(Position)</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>                                     
                                    <td class="table_setting_modal">
                                        <input type="text" value="" placeholder="テーブル名 (table name)" id="table_name_edit">                                        
                                    </td>
                                    <td class="table_setting_modal">
                                        <input type="text" value="" placeholder="表のタイトル (table title)" id="table_title_edit">                                        
                                    </td>  
                                    <td class="table_setting_modal">
                                        <input type="text" value="" placeholder="テーブルの位置 (table position)" id="table_position_edit">                                        
                                    </td>  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="update_dynamic_table">編集</a>
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Add Main Item----------------->
<div id="add_main_item_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Main Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-header">
                    <div class="row">
                    <div class="col-md-12">
                        <table id="add_main_item_modal">
                            <thead style="border: none;">
                                <tr></tr>
                                <tr>
                                    <th>Main Item Name</th>                                    
                                </tr>
                            </thead>

                            <tbody>
                                <tr>                                     
                                    <td class="table_setting_modal">
                                        <input type="text" value="" placeholder="main item" id="input_main_item" >                                        
                                    </td>                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="update_main_item">編集</a>
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Add Sub Item----------------->
<div id="add_sub_item_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Sub Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-header">
                    <div class="row">
                    <div class="col-md-12">
                        <table id="add_sub_item_modal">
                            <thead style="border: none;">
                                <tr></tr>
                                <tr>
                                    <th>Main Item</th>
                                    <th>Sub Item</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>                                     
                                    <td class="table_setting_modal">
                                        <select class="setting_dropdowns" id="setting_dropdowns">  
                                            <option>select main item</option>   
                                            <option>main-item-1</option>
                                            <option>main-item-2</option>
                                        </select>                                                                                
                                    </td>
                                    <td class="table_setting_modal">
                                        <input type="text" value="" placeholder="sub item" id="input_sub_item">  
                                        <input type="hidden" value="" id="row_number_sub_item">
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="update_sub_item">編集</a>
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Add Detail Item----------------->
<div id="add_detail_item_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Detail Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-header">
                    <div class="row">
                    <div class="col-md-12">
                        <table id="add_details_item_modal">
                            <thead style="border: none;">
                                <tr></tr>
                                <tr>
                                    <th>Main Item</th>
                                    <th>Sub Item</th>
                                    <th>Detail Item</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>                                     
                                    <td class="table_setting_modal">
                                        <select class="setting_dropdowns category_dropdown">  
                                            <option>select main item</option>   
                                            <option>main-item-1</option>
                                            <option>main-item-2</option>
                                        </select>                                                                                
                                    </td>
                                    <td class="table_setting_modal">
                                        <select class="setting_dropdowns" id="sub_category_dropdown">  
                                            <option>select sub item</option>   
                                            <option>sub-item-1</option>
                                            <option>sub-item-2</option>
                                        </select>                                                                                
                                    </td>
                                    <td class="table_setting_modal">
                                        <input type="text" value="" placeholder="detail item" id="input_detail_item">
                                        <input type="hidden" value="" id="row_number_details_item">
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="update_detail_item">編集</a>
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Delete settings ----------------->
<div class="modal custom-modal fade" id="delete_setting_table" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>テーブルの削除 (Delete Settings)</h3>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <p>本当に削除しますか？</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="delete_setting_link">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit settings----------------->
<div id="edit_settings_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-header">
                    <!--table setting: columns insert form-->
                    <div class="row">
                        <div class="col-md-8">
                            <table id="title_setting_table_modal">
                                <thead style="border: none;">
                                    <tr></tr>
                                    <tr>
                                        <th>Main-Item Title</th>
                                        <th>Sub-Item Title</th>
                                        <th>Detail-Item Title</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>                                     
                                        <td class="create_form_td">
                                            <input type="text" value="" placeholder="コラムタイトル(title 1)" id="column_title_1_modal">                                        
                                        </td>
                                        <td class="create_form_td">
                                            <input type="text" value="" placeholder="コラムタイトル(title 2)" id="column_title_2_modal">                                        
                                        </td>  
                                        <td class="create_form_td">
                                            <input type="text" value="" placeholder="コラムタイトル(title 3)" id="column_title_3_modal">                                        
                                        </td>  
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />

                    <!--table setting: items insert form-->
                    <div class="row">
                        <div class="col-md-10">
                            <table id="total_menu_setting_items_tbl_modal">
                                <thead style="border: none;">
                                    <tr></tr>
                                    <tr>
                                        <th>Main Item</th>
                                        <th>Sub Item</th>
                                        <th>Detail Item</th>
                                        <th>Methods</th>
                                        <th>Data for</th>
                                    </tr>
                                </thead>

                                <tbody id="item_tbody_modal">
                                    <tr class="item_row">                                     
                                        <td class="setting_items_td">
                                            <select class="main_item_dropdown" name="main_item_modal" id="main_item_modal">  
                                                <option>select main item</option>   
                                                <option>main item-1</option>
                                                <option>main item-2</option>
                                                <option disabled="disabled">---------</option>
                                                <option value="main">
                                                    Add New                                                                    
                                                </option>
                                            </select> 
                                        </td>
                                        <td class="setting_items_td" >
                                            <select class="sub_item_dropdown" name="sub_item_modal" id="sub_item_modal">  
                                                <option>select sub item</option>   
                                                <option>sub item-1</option>
                                                <option>sub item-2</option>
                                                <option disabled="disabled">---------</option>
                                                <option value="sub">Add New</option>
                                            </select> 
                                        </td>  
                                        <td class="setting_items_td">
                                            <select class="detail_item_dropdown" name="detail_item_modal" id="detail_item_modal">  
                                                <option>select detail item</option>   
                                                <option>detail item-1</option>
                                                <option>detail item-2</option>
                                                <option disabled="disabled">---------</option>
                                                <option value='detail'>Add New</option>
                                            </select> 
                                        </td>  
                                        <td class="setting_items_td">
                                            <select class="setting_dropdowns">  
                                                <option>select methods</option>   
                                                <option>method-1</option>
                                                <option>method-2</option>
                                            </select>                                          
                                        </td>  
                                        <td class="setting_items_td">
                                            <select class="setting_dropdowns"   id="data_for_list_dropdown_for_setting">  
                                                <option>select data-for</option>   
                                                <option>department-1</option>
                                                <option>department-2</option>                              
                                            </select>                                          
                                        </td>                                          
                                    </tr>                                      
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="udpate_tbl_setting">編集</a>
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>
    </div>
</div>

@section Scripts{    
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/create_dynamic_table.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000); // Restart connection after 5 seconds.
            });
            $.connection.hub.start();
            $(function () {

                var chat = $.connection.chatHub;

                chat.client.addNewMessageToPage = function (name, message) {
                    alert(name + message);
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                };
            });

            $(document).ready(function () {

                setInterval(() => {
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                }, 5000);

                $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

        });



    </script>
}


