﻿@model CostAllocationApp.ViewModels.ForecastViewModal

@{
    ViewBag.Title = "予算策定・編集 (Import/Replicate Budget)";
}
@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/budget.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" />
    @* <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> *@

}

<div class="content container-fluid" style="position:relative;margin-top: -38px;">

    @{
        /***************************\
            Budget Loader
        \***************************/
        <div class="row">
            <div class="col-md-12">
                <div class="forecast">
                    <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                        <center>
                            <img src="~/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;" alt="loader image">
                            <br>
                            <strong>しばらくお待ちください...</strong>
                            <br>
                            <br>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        /***************************\
        Budget: Import Excel
        \***************************/
        <div id="budget_import_navigation_txt"><span id="nav1">予算 </span>><span id="nav2"> 策定 (Create)</span></div>
        <div class="import_year_wise_data" id="">
            <table class="" id="">
                <thead>
                    <tr>
                        <th class="section_list_theader">新規作成 (Create New Data)</th>
                    </tr>
                </thead>
                <tbody id="section_list_tbody">
                    <tr>
                        <td style="border: none !important;">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#csv_import_modal" onclick="SelectImportBudgetYearAndType();" class="import_forecast_data">CSVからインポート (CSV Import)</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: none !important;">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#replicate_from_previous_year" onclick="CheckDuplicateYear();" class="replicate_forecast_data">過去のデーターの複製 (Replicate Data)</a>
                        </td>
                    </tr>
                    <br>
                    <tr><td style="border: none !important;" id="validation_message">@Html.Raw(ViewBag.ValidationMessage)</td></tr>
                </tbody>
            </table>
        </div>
        <br />
        <br />        
    }
</div>

<!-----------------Modal: CSV Import----------------->
<div class="modal custom-modal fade" id="csv_import_modal" role="dialog">
    @* <div class="modal-dialog modal-dialog-centered"> *@
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                @using (Html.BeginForm("CreateBudget", "Forecasts", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "", @id = "frm_import_year_data" }))
                {
                    <div class="form-header">
                        <h3>予算策定・編集 (CSV Import)</h3>
                        <ol class="company_count" style="text-align:left;"></ol>
                        <div class="row">
                            <div class="col-4">
                                <label style="margin-right: 67px;">予算年度を選択</label>
                                <input type="text" id="select_import_year" class="form-control" name="upload_year" />
                            </div>
                            <div class="col-3">
                                <label style="margin-right: 11px;">予算時期を選択</label>
                                <select id="select_budget_type" class="form-control" name="select_budget_type"></select>
                            </div>
                            <div class="col-4">
                                <input type="file" class="form-control-file" name="uploaded_file" style="margin-top: 38px;" id="import_file_excel">
                            </div>
                        </div>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">戻る(Return)</a>
                            </div>
                            <div class="col-6">
                                <button type="submit" id="import_data_btn" class="btn btn-primary continue-btn">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    作成 (Create)
                                </button>
                                @Html.AntiForgeryToken()
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-----------------Modal: Replciate from previous year----------------->
<div class="modal custom-modal fade" id="replicate_from_previous_year" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 id='replicate_modal_header'>策定する年度を選択 (Replicate Data)</h3>
                    <ol class="company_count" style="text-align:left;"></ol>
                    <br>
                    <div class="row">
                        <div class="col-5">
                            <label id='duplicate_from_title'>策定する予算のベースとなる年度を選択</label>
                            <select id="duplicate_from" class="form-control" name="duplicate_from"></select>                            
                        </div>
                        <div class="col-5">
                            <label id='approval_timestamp_title'>承認履歴 (Approval History)</label>
                            <select id="approval_timestamps" class="form-control" name="approval_timestamps">                               
                            </select>                            
                        </div>                        
                    </div>
                    <br>
                    <div class="row">                        
                        <div class="col-5">
                            <label id='duplicate_to_title'>策定する予算の年度を選択</label>
                            <input type="text" id="duplciateYear" class="form-control" name="upload_year" />
                        </div>
                        <div class="col-5">
                            <label id='duplicate_budget_type_title'>予算時期を選択</label>
                            <select id="select_duplicate_budget_type" class="form-control" name="select_duplicate_budget_type"></select>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-5">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">戻る(Return)</a>
                        </div>
                        <div class="col-5">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="create_duplicate_of_previous_year">作成 (Create)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="selected_budget_year" value="" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/budget.js"></script>
    <script src="~/signalr/hubs"></script>
}