@model CostAllocationApp.ViewModels.ForecastViewModal

@{
    ViewBag.Title = "予算策定・編集 (Budget)";
}
@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/budget.css" rel="stylesheet" type="text/css" />
}

<div class="content container-fluid" style="position:relative;margin-top: -38px;">

    @{
        /***************************\
         Employee Assignment: Import Excel
        \***************************/

        @* if (Convert.ToBoolean(ViewBag.linkFlag))
        { *@
            /***************************\
                Show Loader
            \***************************/
            <div class="row">
                <div class="col-md-12">
                    <div class="forecast">
                        <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                            <center>
                                <img src="~/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;" alt="loader image">
                                <br>
                                <strong>Please wait a moment...</strong>
                                <br>
                                <br>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="import_year_wise_data" id="">
                <h5>予算策定・編集する年度のデータを選択 (Import Year Wise Data)</h5>
                @* <select id="select_year_to_import"></select> *@
                @* <br /> <br /> *@
                <table class="" id="">
                    <thead>
                        <tr>
                            <th class="section_list_theader">新規作成 (Create New Data)</th>
                        </tr>
                    </thead>
                    <tbody id="section_list_tbody">
                        <tr>
                            <td style="border: none !important;">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#csv_import_modal" onclick="CheckForecastYear();" class="import_forecast_data">CSVからインポート (CSV Import)</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: none !important;">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#replicate_from_previous_year" onclick="CheckDuplicateYear();" class="replicate_forecast_data">過去のデーターの複製 (Replicate Data)</a>
                            </td>
                        </tr>
                        <br>
                        <tr><td style="border: none !important;" id="validation_message">@Html.Raw(ViewBag.ValidationMessage)</td></tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />


            //forecast part
            /***************************\
            Show Loader
            \***************************/
            <div id="year_data_table_header"><span id="nav1">年度データー</span>><span id="nav2">年度データーの編集</span></div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="forecast">
                        <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                            <center>
                                <img src="~/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;">
                                <br>
                                <strong>Please wait a moment...</strong>
                                <br>
                                <br>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="year_data_search">
                <div class="col-3">
                    <select id="assignment_year_list" class=""></select>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-light mb-2" id="assignment_year_data">表示</button>
                </div>

                <div class="col-2">
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-dark" id="cancel_forecast_history" style="display:none;line-height:1;margin-left: 123px;background-color: gray;">キャンセル</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-dark" id="update_forecast_history" style="display:none;line-height:1;margin-left:35px;">保存 (Save)</button>
                </div>
            </div>
            <br>

            @*<select id="assignment_year_list"></select>
                <br><br>*@

            /***************************\
            Employee Assignment: Create Forecast
            \***************************/
            <div class="row" id="year_data_list">
                <div class="col-md-12">
                </div>

                <div class="col-md-12">
                    <div id="hider"></div>

                    <div id="jspreadsheet"></div>
                </div>
                <div class="col-12">
                    <table id="head_total" style="display: none;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>10月</th>
                                <th>11月</th>
                                <th>12月</th>
                                <th>1月</th>
                                <th>2月</th>
                                <th>3月</th>
                                <th>4月</th>
                                <th>5月</th>
                                <th>6月</th>
                                <th>7月</th>
                                <th>8月</th>
                                <th>9月</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        @* }                 *@
    }
</div>

<!-----------------Modal: CSV Import----------------->
<div class="modal custom-modal fade" id="csv_import_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                @using (Html.BeginForm("CreateBudget", "Forecasts", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "", @id = "frm_import_year_data" }))
                {
                    <div class="form-header">
                        <h3>予算策定・編集 (CSV Import)</h3>
                        <ol class="company_count" style="text-align:left;"></ol>
                        <div class="row">
                            <div class="col-6">
                                <label>策定する年度を選択</label>
                                <select id="select_import_year" class="form-control" name="upload_year">
                                    <option value="">select year</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <input type="file" class="form-control-file" name="uploaded_file" style="margin-top: 38px;" id="import_file_excel">
                            </div>
                        </div>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">戻る(Return)</a>
                            </div>
                            <div class="col-6">
                                @* <a type="submit" id="import_data_btn" class="btn btn-primary continue-btn"><i class="fa fa-upload" aria-hidden="true"></i>作成 (Create)</a> *@
                                <button type="submit" class="btn btn-success mb-2" id="import_data_btn"><i class="fa fa-upload" aria-hidden="true"></i>作成 (Create)</button>
                                @* <button type="submit" class="btn btn-success mb-2" id="import_data_btn" onclick="ValidateYear();"><i class="fa fa-upload" aria-hidden="true"></i>作成 (Create)</button> *@
                                @Html.AntiForgeryToken()
                                @* <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="company_inactive_confirm_btn">作成 (Create)</a> *@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-----------------Modal: Replciate from previous year----------------->
<div class="modal custom-modal fade" id="replicate_from_previous_year" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>策定する年度を選択 (Replicate Data)</h3>
                    <ol class="company_count" style="text-align:left;"></ol>
                    <div class="row">
                        <div class="col-6">
                            <label style="font-size: 17px !important;margin-right: 16px;">From Year</label>
                            <br>
                            <select id="replicate_from" style="font-size: 15px !important;"></select>
                        </div>

                        <div class="col-6">
                            <label style="font-size: 17px !important;margin-right: 43px;">To Year</label>
                            <br>
                            <select id="duplciateYear" style="font-size: 15px !important;">
                                <option value="">select year</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">戻る(Return)</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="create_duplicate_of_previous_year" onclick="DuplicateForecast();">作成 (Create)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="search_p">
    <ul id="search_p_asc_desc">
        <li><i id="search_p_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(3,1)"></i> <span id="search_p_asc_text">Ascending</span></li>
        <li><i id="search_p_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(3,0)"></i><span id="search_p_desc_text">Descending</span></li>
    </ul>
    @*<input type="text" id="search_p_text_box" />
        <ul id="search_p_search"></ul>*@
    <div class="search_p_footer">
        @*<button type="button" onclick="GetEmployeeName()">Ok</button>*@
        <button type="button" data-dismiss="modal" id="buttonClose">Close</button>
    </div>
</div>

<div class="search_section">
    <ul id="search_section_asc_desc">
        <li><i id="search_section_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Section(5,1)"></i> <span id="search_section_asc_text">Ascending</span></li>
        <li><i id="search_section_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Section(5,0)"></i><span id="search_section_desc_text">Descending</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_section">Close</button>
    </div>
</div>

<div class="search_department">
    <ul id="search_department_asc_desc">
        <li><i id="search_department_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Department(6,1)"></i> <span id="search_department_asc_text">Ascending</span></li>
        <li><i id="search_department_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Department(6,0)"></i><span id="search_department_desc_text">Descending</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_department">Close</button>
    </div>
</div>
<div class="search_incharge">
    <ul id="search_incharge_asc_desc">
        <li><i id="search_incharge_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_InCharge(7,1)"></i> <span id="search_incharge_asc_text">Ascending</span></li>
        <li><i id="search_incharge_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_InCharge(7,0)"></i><span id="search_incharge_desc_text">Descending</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_incharge">Close</button>
    </div>
</div>
<div class="search_role">
    <ul id="search_role_asc_desc">
        <li><i id="search_role_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Role(8,1)"></i> <span id="search_role_asc_text">Ascending</span></li>
        <li><i id="search_role_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Role(8,0)"></i><span id="search_role_desc_text">Descending</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_role">Close</button>
    </div>
</div>

<div class="search_explanation">
    <ul id="search_explanation_asc_desc">
        <li><i id="search_explanation_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Explanation(9,1)"></i> <span id="search_explanation_asc_text">Ascending</span></li>
        <li><i id="search_explanation_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Explanation(9,0)"></i><span id="search_explanation_desc_text">Descending</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_explanation">Close</button>
    </div>
</div>
<div class="search_company">
    <ul id="search_company_asc_desc">
        <li><i id="search_company_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Company(10,1)"></i> <span id="search_company_asc_text">Ascending</span></li>
        <li><i id="search_company_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Company(10,0)"></i><span id="search_company_desc_text">Descending</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_company">Close</button>
    </div>
</div>
<div class="search_grade">
    <ul id="search_grade_asc_desc">
        <li><i id="search_grade_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Grade(11,1)"></i> <span id="search_grade_asc_text">Ascending</span></li>
        <li><i id="search_grade_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Grade(11,0)"></i><span id="search_grade_desc_text">Descending</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_grade">Close</button>
    </div>
</div>
<div class="search_unit_price">
    <ul id="search_unit_price_asc_desc">
        <li><i id="search_unit_price_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_UnitPrice(12,1)"></i> <span id="search_unit_price_asc_text">Ascending</span></li>
        <li><i id="search_unit_price_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_UnitPrice(12,0)"></i><span id="search_unit_price_desc_text">Descending</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_unit_price">Close</button>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/budget.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">

        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();

        $(function () {
            var chat = $.connection.chatHub;
            //$.connection.hub.start();
            //debugger;
            //console.log(chat);
            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }

                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName != value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }

                        });

                    }
                });
            };
        });
        $(document).ready(function () {
           // $("table1").DataTable();
            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);

            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data, (index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

        });
        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' id='dataFile' name='upload' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }

        function clear() {
            var input = $("#dataFile").val('');
        };
        $(function () {
            clear();
            bs_input_file();
        });
    </script>
}


