
@{
    ViewBag.Title = "集計表VIEWフォーマット設定​";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Content/view_dynamic_table.css" />
}

<div class="content container-fluid">
    <div id="dynamic_table_page_header"><span id="nav1">合計 </span>><span id="nav2"> 集計表詳細設定​</span></div> 
    <br/><br/>

    <!-----------------Dynamic Table list: dropdown selection----------------->        
    <div class="row" id="dynamic_table_search">
        <div class="col-3">
            <select id="table_list" class="">                
            </select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-light mb-2" id="search_dynamic_table">表示​ (show)</button>
        </div>        
    </div>

    <!--table setting: items insert form-->
    <div class="total_menu_list_tbl" style="display:none;"> 
        <div class="row">
            <div class="col-md-11">
                <table id="total_menu_setting_items_tbl">
                    <thead>                    
                        <tr>
                            <th class="total_tbl_header">選択​</th>
                            <th class="total_tbl_header">大項目​(main)</th>
                            <th class="total_tbl_header">中項目​(sub)</th>
                            <th class="total_tbl_header">小項目​(detail)</th>
                            <th class="total_tbl_header">集計方式​(methods)</th>
                            <th class="total_tbl_header">集計データ​(data)</th>
                        </tr>
                    </thead>

                    <tbody id="total_menu_list_tbody">                      
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dynamic_table_list_action">        
            <div class="row" >                           
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <a href="javascript:void(0);" class="list_table_edit_btn">保存​(save)</a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:void(0);" class="list_table_add_btn">追加​(add)</a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:void(0);" class="list_table_delete_btn">削除​ (delete)</a>
                </div>            
            </div>
        </div>
    </div>
    <br />


@section Scripts{    
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/view_dynamic_table.js"></script>
    <script src="~/signalr/hubs"></script>
    
    <script type="text/javascript">
            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000); // Restart connection after 5 seconds.
            });
            $.connection.hub.start();
            $(function () {

                var chat = $.connection.chatHub;

                chat.client.addNewMessageToPage = function (name, message) {
                    alert(name + message);
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                };
            });

            $(document).ready(function () {

                setInterval(() => {
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                }, 5000);

                $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

        });



    </script>
}


