
@{
    ViewBag.Title = "合計表VIEWフォーマット設定​";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Content/view_dynamic_table.css" />
}

<div class="content container-fluid">
    <div id="dynamic_table_page_header"><span id="nav1">合計 </span>><span id="nav2"> 集計表詳細設定​</span></div> 
    <br/><br/>

    <!-----------------Dynamic Table list: dropdown selection----------------->        
    <div class="row" id="dynamic_table_search">
        <div class="col-3">
            <select id="table_list" class="">                
            </select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-light mb-2" id="search_dynamic_table">表示</button>
        </div>        
    </div>

    <!--table setting: items insert form-->
    <div class="total_menu_list_tbl" style="display:none;"> 
        <div class="row">
            <div class="col-md-11">
                <div class="dynamic_settings_instruction">
                    <p id="dynamic_table_view_instructions"></p>
                    <table class="table table-bordered instruction_table">
                        <thead class="instruction_table_header">
                            <tr>
                                <th scope="col">大項目</th>
                                <th scope="col">中項目</th>
                                <th scope="col">詳細項目</th>
                                
                                <th scope="col">大項目フラグ</th>
                                <th scope="col">中項目フラグ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">大項目１</th>
                                <td>中項目１－１</td>
                                <td>詳細項目１ー１－１</td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" checked disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" checked disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">大項目１</th>
                                <td>中項目１－２</td>
                                <td>詳細項目１ー２－１</td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" checked disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">大項目１</th>
                                <td>中項目１－３</td>
                                <td>詳細項目１ー３－１</td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" checked disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">大項目１</th>
                                <td>中項目１－３</td>
                                <td>詳細項目１ー３－2</td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">大項目２</th>
                                <td>中項目２－１</td>
                                <td>詳細項目２－１－１</td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" checked disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" checked disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">大項目２</th>
                                <td>中項目２－２</td>
                                <td>詳細項目２－２－１</td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" checked disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">大項目２</th>
                                <td>中項目２－３</td>
                                <td>詳細項目２－２－１</td>

                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" style="margin-top: -6px;" checked disabled>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                </div>                
                
                <table id="total_menu_setting_items_tbl">
                    <thead id="total_menu_list_thead">                                       
                    </thead>

                    <tbody id="total_menu_list_tbody">                                    
                    </tbody>
                </table>
            </div>
        </div>
        <div class="dynamic_table_list_action">        
            <div class="row" >                           
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <a href="javascript:void(0);" class="list_table_edit_btn">保存</a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:void(0);" class="list_table_add_btn">追加</a>
                </div>
                <div class="col-md-2">
                    <a href="javascript:void(0);" class="list_table_delete_btn">削除</a>                    
                </div>            
            </div>
        </div>
    </div>
    <br />

    <input type="hidden" id="main_item_settings" value=""/>
    <input type="hidden" id="sub_item_settings" value=""/>
    <input type="hidden" id="detail_item_settings" value=""/>    
    <input type="hidden" id="setting_column_count" value=""/>

    <!-----------------Modal: Delete Dynamic Table----------------->
    <div class="modal custom-modal fade" id="delete_settings_table" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3 class="delete_confirm_header">削除確認</h3>
                        <ol class="section_count" style="text-align:left;"></ol>
                        <p style="margin-left: -151px;">選択した設定を削除しますか?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-3"></div>
                            <div class="col-3">
                                <a href="javascript:void(0);" class="btn confrim_del_btn">はい (Y)​</a></label>
                            </div>

                            <div class="col-3">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn confrim_cancel_btn">いいえ (N)​</a></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{    
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/view_dynamic_table.js"></script>  
    
    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>        
}


