@model CostAllocationApp.ViewModels.ForecastViewModal

@{
    ViewBag.Title = "予算策定・編集 (Edit/Finalize Budget)";
}
@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/budget_edit.css" rel="stylesheet" type="text/css" />
}

<div class="content container-fluid" style="position:relative;margin-top: -38px;">
    @{
        /***************************\
            Show Loader
        \***************************/
        <div class="row">
            <div class="col-md-12">
                <div class="forecast">
                    <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                        <center>
                            <img src="~/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;" alt="loader image">
                            <br>
                            <strong>しばらくお待ちください...</strong>
                            <br>
                            <br>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div id="budget_edit_navigation_txt"><span id="nav1">予算 </span>><span id="nav2"> 編集 (Edit)</span></div>                             

        <br>
        <div class="row" id="year_data_search">
            <div class="col-3">
                <select id="budget_years" class=""></select>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-light mb-2" id="show_budget_list">表示</button>
            </div>
            <div class="col-1"></div>
            <div class="col-2">
                <button type="button" class="btn btn-dark" id="undo_edited_budget">取消(undo)</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-dark" id="save_bedget">保存（save）</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-dark" id="budget_finalize">決定 (Finalize)</button>
            </div>
        </div>
        <br>
    
        /***************************\
        Employee Assignment: Create Forecast
        \***************************/
        <div class="row" id="year_data_list">
            <div class="col-md-12">
            </div>

            <div class="col-md-12">
                <div id="hider"></div>

                <div id="jspreadsheet"></div>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-secondary" id="export_budget" style="display: none !important;">予算データのエクスポート</button> 
            </div>
        </div>                   
    }
</div>

<form action="/Forecasts/ExportBudgetByYear" method="post" id="frmExportBudget" style="display: none;">                    
	<div class="form-group">
        <input type="hidden" id="hid_budget_year" name="hid_budget_year" value="">	
        <input type="hidden" id="hid_budget_type" name="hid_budget_type" value="">	
	</div>
</form>

<input type="hidden" id="selected_budget_year" value="" />
<input type="hidden" id="is_finalize_budget" value="" />

<!--------sort employee custom div-------->
<div class="search_p">
    <ul id="search_p_asc_desc">
        <li><i id="search_p_asc" class="fa fa-sort-alpha-asc" aria-hidden="true"></i> <span id="search_p_asc_text">昇順</span></li>
        <li><i id="search_p_desc" class="fa fa-sort-alpha-desc" aria-hidden="true"></i><span id="search_p_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">        
        <button type="button" data-dismiss="modal" id="buttonClose">Close</button>
    </div>
</div>
<!-- 
<div class="search_section">
    <ul id="search_section_asc_desc">
        <li><i id="search_section_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(5,1,'section')"></i> <span id="search_section_asc_text">昇順</span></li>
        <li><i id="search_section_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(5,0,'section')"></i><span id="search_section_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_section">Close</button>
    </div>
</div>

<div class="search_department">
    <ul id="search_department_asc_desc">
        <li><i id="search_department_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(6,1,'department')"></i> <span id="search_department_asc_text">昇順</span></li>
        <li><i id="search_department_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(6,0,'department')"></i><span id="search_department_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_department">Close</button>
    </div>
</div>
<div class="search_incharge">
    <ul id="search_incharge_asc_desc">
        <li><i id="search_incharge_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(7,1,'incharge')"></i> <span id="search_incharge_asc_text">昇順</span></li>
        <li><i id="search_incharge_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(7,0,'incharge')"></i><span id="search_incharge_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_incharge">Close</button>
    </div>
</div>
<div class="search_role">
    <ul id="search_role_asc_desc">
        <li><i id="search_role_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(8,1,'role')"></i> <span id="search_role_asc_text">昇順</span></li>
        <li><i id="search_role_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(8,0,'role')"></i><span id="search_role_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_role">Close</button>
    </div>
</div>

<div class="search_explanation">
    <ul id="search_explanation_asc_desc">
        <li><i id="search_explanation_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(9,1,'explanation')"></i> <span id="search_explanation_asc_text">昇順</span></li>
        <li><i id="search_explanation_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(9,0,'explanation')"></i><span id="search_explanation_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_explanation">Close</button>
    </div>
</div>
<div class="search_company">
    <ul id="search_company_asc_desc">
        <li><i id="search_company_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(10,1,'company')"></i> <span id="search_company_asc_text">昇順</span></li>
        <li><i id="search_company_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(10,0,'company')"></i><span id="search_company_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_company">Close</button>
    </div>
</div>
<div class="search_grade">
    <ul id="search_grade_asc_desc">
        <li><i id="search_grade_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(11,1,'grade')"></i> <span id="search_grade_asc_text">昇順</span></li>
        <li><i id="search_grade_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(11,0,'grade')"></i><span id="search_grade_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_grade">Close</button>
    </div>
</div>
<div class="search_unit_price">
    <ul id="search_unit_price_asc_desc">
        <li><i id="search_unit_price_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(12,1,'unit')"></i> <span id="search_unit_price_asc_text">昇順</span></li>
        <li><i id="search_unit_price_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(12,0,'unit')"></i><span id="search_unit_price_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_unit_price">Close</button>
    </div>
</div> -->

<!-----------------Modal: Add Employee----------------->
<div class="modal custom-modal fade" id="jexcel_add_employee_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>要員の追加 (add employee)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>                
                <div class="modal-body">
                    <label id="input_master">
                        新規の要員の場合、名前を入力して追加する。一旦要員リストから削除した、又は契約を解除した要員の再追加の場
                        <!-- <br> -->
                        合、要員マスターに登録してある要員から追加
                    </label>
                    <div class="form-group">
                        <label for="employee_name">要員 氏名 (Name)</label>
                        <input type="text" class="form-control" id="employee_name" placeholder="要員 氏名 (employee name)">
                        <div class="employee_err">
                            Please provide 要員 氏名 (Name).
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom_button_group_employee">
                            <a href="javascript:void(0);" class="undo_budget_edit" data-dismiss="modal">取消(Undo）</a>
                            <a href="javascript:void(0);" class="employee_registration">追加(Add）</a>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <label for="employee_list" style="display:block;width:100%;">名前一覧から選択</label>
                    <select id="employee_list" style=""></select>

                    <div class="custom_button_group_employee_list">
                        <a href="javascript:void(0);" class="undo_budget_edit" data-dismiss="modal">取消(Undo）</a>
                        <a href="javascript:void(0);" class="employee_add">追加(Add）</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{    
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/budget_edit.js"></script>
    
    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>        
}


