@model CostAllocationApp.ViewModels.ForecastViewModal

@{
    ViewBag.Title = "予算策定・編集 (Edit/Finalize Budget)";
}
@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/budget_edit.css" rel="stylesheet" type="text/css" />
}

<div class="content container-fluid" style="position:relative;margin-top: -38px;">
    @{

        /***************************\
            Show Loader
        \***************************/
        <div class="row">
            <div class="col-md-12">
                <div class="forecast">
                    <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                        <center>
                            <img src="~/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;" alt="loader image">
                            <br>
                            <strong>しばらくお待ちください...</strong>
                            <br>
                            <br>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div id="budget_edit_navigation_txt"><span id="nav1">予算 </span>><span id="nav2"> 編集 (Edit)</span></div>                             

        <br>
        <div class="row" id="year_data_search">
            <div class="col-3">
                <select id="budget_years" class=""></select>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-light mb-2" id="search_budget">表示</button>
            </div>
            <div class="col-1"></div>
            <div class="col-2">
                <button type="button" class="btn btn-dark" id="cancele_all_changed_budget" style="display:none;line-height:1;background-color: gray;margin-left: 29px;">キャンセル</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-dark" id="save_bedget" style="display:none;line-height:1;margin-left: 19px;">保存 (Save)</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-dark" id="budget_finalize" style="display:none;line-height:1;margin-left: 1px;">決定 (Finalize)</button>
            </div>
        </div>
        <br>
    
        /***************************\
        Employee Assignment: Create Forecast
        \***************************/
        <div class="row" id="year_data_list">
            <div class="col-md-12">
            </div>

            <div class="col-md-12">
                <div id="hider"></div>

                <div id="jspreadsheet"></div>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-secondary" id="export_budget" style="line-height: 1;background-color: dimgray; display: none !important;">予算データのエクスポート</button> 
            </div>
        </div>                   
    }
</div>

<form action="/Forecasts/ExportBudgetByYear" method="post" id="frmExportBudget" style="display: none;">                    
	<div class="form-group">
        <input type="hidden" id="hid_budget_year" name="hid_budget_year" value="">	
        <input type="hidden" id="hid_budget_type" name="hid_budget_type" value="">	
	</div>
</form>

<input type="hidden" id="selected_budget_year" value="" />
<input type="hidden" id="is_finalize_budget" value="" />

<div class="search_p">
    <ul id="search_p_asc_desc">
        <li><i id="search_p_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder(3,1)"></i> <span id="search_p_asc_text">昇順</span></li>
        <li><i id="search_p_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder(3,0)"></i><span id="search_p_desc_text">降順</span></li>
    </ul>
    @*<input type="text" id="search_p_text_box" />
        <ul id="search_p_search"></ul>*@
    <div class="search_p_footer">
        @*<button type="button" onclick="GetEmployeeName()">Ok</button>*@
        <button type="button" data-dismiss="modal" id="buttonClose">Close</button>
    </div>
</div>

<div class="search_section">
    <ul id="search_section_asc_desc">
        <li><i id="search_section_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Section(5,1)"></i> <span id="search_section_asc_text">昇順</span></li>
        <li><i id="search_section_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Section(5,0)"></i><span id="search_section_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_section">Close</button>
    </div>
</div>

<div class="search_department">
    <ul id="search_department_asc_desc">
        <li><i id="search_department_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Department(6,1)"></i> <span id="search_department_asc_text">昇順</span></li>
        <li><i id="search_department_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Department(6,0)"></i><span id="search_department_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_department">Close</button>
    </div>
</div>
<div class="search_incharge">
    <ul id="search_incharge_asc_desc">
        <li><i id="search_incharge_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_InCharge(7,1)"></i> <span id="search_incharge_asc_text">昇順</span></li>
        <li><i id="search_incharge_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_InCharge(7,0)"></i><span id="search_incharge_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_incharge">Close</button>
    </div>
</div>
<div class="search_role">
    <ul id="search_role_asc_desc">
        <li><i id="search_role_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Role(8,1)"></i> <span id="search_role_asc_text">昇順</span></li>
        <li><i id="search_role_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Role(8,0)"></i><span id="search_role_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_role">Close</button>
    </div>
</div>

<div class="search_explanation">
    <ul id="search_explanation_asc_desc">
        <li><i id="search_explanation_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Explanation(9,1)"></i> <span id="search_explanation_asc_text">昇順</span></li>
        <li><i id="search_explanation_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Explanation(9,0)"></i><span id="search_explanation_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_explanation">Close</button>
    </div>
</div>
<div class="search_company">
    <ul id="search_company_asc_desc">
        <li><i id="search_company_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Company(10,1)"></i> <span id="search_company_asc_text">昇順</span></li>
        <li><i id="search_company_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Company(10,0)"></i><span id="search_company_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_company">Close</button>
    </div>
</div>
<div class="search_grade">
    <ul id="search_grade_asc_desc">
        <li><i id="search_grade_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_Grade(11,1)"></i> <span id="search_grade_asc_text">昇順</span></li>
        <li><i id="search_grade_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_Grade(11,0)"></i><span id="search_grade_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_grade">Close</button>
    </div>
</div>
<div class="search_unit_price">
    <ul id="search_unit_price_asc_desc">
        <li><i id="search_unit_price_asc" class="fa fa-sort-alpha-asc" aria-hidden="true" onclick="ColumnOrder_UnitPrice(12,1)"></i> <span id="search_unit_price_asc_text">昇順</span></li>
        <li><i id="search_unit_price_desc" class="fa fa-sort-alpha-desc" aria-hidden="true" onclick="ColumnOrder_UnitPrice(12,0)"></i><span id="search_unit_price_desc_text">降順</span></li>
    </ul>
    <div class="search_p_footer">
        <button type="button" data-dismiss="modal" id="buttonClose_unit_price">Close</button>
    </div>
</div>

<!-----------------Modal: Add Employee----------------->
<div class="modal custom-modal fade" id="jexcel_add_employee_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>追加 名前 (Add)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="employee_name">要員 氏名 (Name)</label>
                        <input type="text" class="form-control" id="employee_name" placeholder="要員 氏名 (employee name)">
                        <div class="employee_err">
                            Please provide 要員 氏名 (Name).
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom_button_group_employee">
                            <a href="javascript:void(0);" class="employee_cancel" data-dismiss="modal">Cancel</a>
                            <a href="javascript:void(0);" class="employee_registration" onclick="InsertEmployee();">Add</a>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <label for="employee_list" style="display:block;width:100%;">名前一覧から選択</label>
                    <select id="employee_list" style=""></select>

                    <div class="custom_button_group_employee">
                        <a href="javascript:void(0);" class="employee_cancel" data-dismiss="modal">Cancel</a>
                        <a href="javascript:void(0);" class="employee_add" onclick="AddEmployee();">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{    
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/budget_edit.js"></script>
    <script src="~/signalr/hubs"></script>
    
    <script type="text/javascript">

        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();

        $(function () {
            var chat = $.connection.chatHub;
            //$.connection.hub.start();
            //debugger;
            //console.log(chat);
            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }

                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName != value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }

                        });

                    }
                });
            };
        });
        $(document).ready(function () {
           // $("table1").DataTable();

            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);

            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data, (index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

        });
        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' id='dataFile' name='upload' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }

        function clear() {
            var input = $("#dataFile").val('');
        };
        $(function () {
            clear();
            bs_input_file();
        });        
    </script>
}


