
@{
    ViewBag.Title = "開発区分別 集計";
}
@section Styles {
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/sukey_qa.css" rel="stylesheet" type="text/css" />
}

<div class="content container-fluid" style="position:relative;margin-top: -38px;">
    <div id="qa_ratio_total_nagivation">開発区分別 集計 : 集計</div>
    <!-----------------Show Loader----------------->
    <div class="row">
        <div class="col-md-12">
            <div class="forecast">
                <div id="loading" style="display:none;position:absolute;left:0;top:-147px;  width:100%;height:100%;">
                    <center>
                        <img src="/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;" alt="loader">
                        <br>
                        <strong>Please wait a moment...</strong>
                        <br>
                        <br>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="qa_ratio_total_filter">
        <div class="col-3">
            <select id="assignment_year" class=""></select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-light mb-2" id="sukey_qa_display">表示</button>
        </div>
    </div>
    <div class="row" id="qa_ratio_total_list">
        <div class="col-12 table-responsive">
            <table class="table table-bordered" id="sukey_qa_table">
                <thead id="sukey_qa_table_header">
                    <tr>
                        <th scope="col">Department Name</th>
                        <th scope="col">担当</th>
                        <th scope="col">10月</th>
                        <th scope="col">11月</th>
                        <th scope="col">12月</th>
                        <th scope="col">1月</th>
                        <th scope="col">2月</th>
                        <th scope="col">3月</th>
                        <th scope="col">4月</th>
                        <th scope="col">5月</th>
                        <th scope="col">6月</th>
                        <th scope="col">7月</th>
                        <th scope="col">8月</th>
                        <th scope="col">9月</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="~/Scripts/sukey_qa.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();

        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }

                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName != value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }

                        });

                    }
                });
            };
        });

        $(document).ready(function () {

            $(window).on("beforeunload", function () {
                //alert("call");
                console.log('fired');
                var _keysCount = 0;
                var currentHost = window.location.host;
                _keys = Object.keys(localStorage);
                for (var key = 0; key < _keys.length; key++) {
                    if (localStorage.getItem(_keys[key]) == currentHost) {
                        _keysCount++;
                    }
                }
                if (_keysCount == 1) {
                    var user_name = $('#hidden_username').val();
                    if (user_name != null || user_name != undefined || user_name != '') {
                        $.ajax({
                            url: `/Registration/RemoveSession?userName=${user_name}`,
                            contentType: 'application/json',
                            type: 'GET',
                            async: false,
                            //dataType: 'json',
                            success: function (data) {
                            }
                        });
                    }
                }
                if (_keysCount > 1) {
                    localStorage.removeItem(window.location.pathname);
                }
            });
            var localStorageItem = localStorage.getItem(window.location.pathname);
            if (localStorageItem == null || localStorageItem == '' || localStorageItem == undefined) {
                localStorage.setItem(window.location.pathname, window.location.host);
            }

            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);

        });
    </script>
}


