
@{
    ViewBag.Title = "Table Format";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/table_format.css" />
}
<div class="content container-fluid">
    <!--create table form-->
    <div class="row">
        <div class="col-md-8">
            <table id="dynamic_table_create">
                <thead style="border: none;">
                    <tr></tr>
                    <tr>
                        <th>テーブル名(Table)</th>
                        <th>表のタイトル(Title)</th>
                        <th>テーブルの位置(Position)</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>                                     
                        <td id="dynamic_table_create_td">
                            <input type="text" value="" placeholder="テーブル名 (table name)" id="table_name">                                        
                        </td>
                        <td id="dynamic_table_create_td">
                            <input type="text" value="" placeholder="表のタイトル (table title)" id="table_title">                                        
                        </td>  
                        <td id="dynamic_table_create_td">
                            <input type="text" value="" placeholder="テーブルの位置 (table position)" id="table_position">                                        
                        </td>  

                        <td id="dynamic_table_create_td">
                            <a href="javascript:void(0);" class="" id="dynamic_table_create_cancel_btn" data-dismiss="modal">Cancel</a>
                            <a href="javascript:void(0);" class="" id="dynamic_table_create_save_btn" onclick="InsertDynamicTables()">Save</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br /><br />

    <!-----------------Dynamic Table Master: Dynamic Table list are showing on this part----------------->    
    <div id="dynamic_table_list" style="display: block;">
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive">

                    <table class="" id="dynamic_list_tbl">
                        <thead>
                            <tr>
                                <th colspan="6">Dynamic Table List</th>
                            </tr>
                            <tr>
                                <th class="section_list_theader">Table Name</th>                                    
                                <th class="section_list_theader">Table Title</th>
                                <th class="section_list_theader">Table Position</th>
                                <th class="section_list_theader">Action</th>
                            </tr>
                        </thead>
                        <tbody id="dynamic_list_tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />      

    <!-----------------Total Menu Settings: Dynamic table list with dropdown----------------->    
    <h4>View Formate </h4>
    <div class="row">
        <div class="col-md-5">
            <table id="dynamic_table_create">
                <thead style="border: none;">
                    <tr></tr>
                    <tr>
                        <th>Select Table</th>
                        <th>テーブル名(Table)</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>                                     
                        <td>                                                         
                        </td>
                        <td id="dynamic_table_create_td">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>                                          
                        </td>  

                        <td id="dynamic_table_create_td">
                            <a href="javascript:void(0);" class="" id="dynamic_table_create_cancel_btn" data-dismiss="modal">Cancel</a>
                            <a href="javascript:void(0);" class="" id="dynamic_table_create_save_btn" onclick="InsertDynamicTables()">Save</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>    
</div>
<br><br>
<br><br>

<input type="hidden" id="table_id_for_edit" />
<input type="hidden" id="table_id_for_delete" />

<!-----------------Modal: Delete Dynamic Table----------------->
<div class="modal custom-modal fade" id="delete_dynamic_table" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>テーブルの削除 (Delete Table)</h3>
                    <p id="section_warning" style="display:none;"></p>
                    <ol class="section_count" style="text-align:left;"></ol>
                    <p>本当に削除しますか？</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="delete_dynamic_table_link">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit Dynamic Table----------------->
<div id="edit_dynamic_table_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Dynamic Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-header">
                    <div class="row">
                    <div class="col-md-12">
                        <table id="dynamic_table_edit">
                            <thead style="border: none;">
                                <tr></tr>
                                <tr>
                                    <th>テーブル名(Table)</th>
                                    <th>表のタイトル(Title)</th>
                                    <th>テーブルの位置(Position)</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>                                     
                                    <td id="dynamic_table_edit_td">
                                        <input type="text" value="" placeholder="テーブル名 (table name)" id="table_name_edit">                                        
                                    </td>
                                    <td id="dynamic_table_edit_td">
                                        <input type="text" value="" placeholder="表のタイトル (table title)" id="table_title_edit">                                        
                                    </td>  
                                    <td id="dynamic_table_edit_td">
                                        <input type="text" value="" placeholder="テーブルの位置 (table position)" id="table_position_edit">                                        
                                    </td>  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="edit_dynamic_table_link">編集</a>
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/table_format.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000); // Restart connection after 5 seconds.
            });
            $.connection.hub.start();
            $(function () {

                var chat = $.connection.chatHub;

                chat.client.addNewMessageToPage = function (name, message) {
                    alert(name + message);
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                };
            });

            $(document).ready(function () {
                GetDynamicTables();

                setInterval(() => {
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName !== value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                }, 5000);

                $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

        });



    </script>
}


