
@{
    ViewBag.Title = "In-Charge Registration";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/incharge_ver02.css" />
}

<div class="content container-fluid">
    <!-----------------In-Charge Master: In-Charge Registration Form----------------->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">                     
                    <table id="incharge_reg_tbl" >
                        <thead style="border:none;">
                            <tr>
                            </tr>
                            <tr>
                                <th>担当 (In-Charge Name)</th>       
                                <th>Actions</th>                                                                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="incharge_reg_frm_td">
                                    <input type="text" value="" placeholder="担当 氏名 (in-charge name)" id="in_charge_name">
                                    @* <div class="department_name_err" id="department_name_err">
                                        Please provide a department name.
                                    </div> *@
                                </td>
                                <td id="incharge_reg_frm_td">
                                    <a href="javascript:void(0);" class="" id="incharge_reg_cancel_btn" data-dismiss="modal">Cancel</a>
                                    <a href="javascript:void(0);" class="" id="incharge_reg_save_btn" onclick="InsertInCharge();">Save</a>
                                </td>
                            </tr>                                       
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    
    <!-----------------In-Charge Master: In-Charge list are showing on this part----------------->
    <div id="incharge_list" style="display: block;">        
        <div class="row">            
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="" id="incharge_list_tbl">
                        <thead>
                            <tr>
                                <th colspan="6">担当 氏名(In-Charge List)</th>
                            </tr>
                            <tr>
                                <th class="incharge_list_theader">Check</th>
                                <th class="incharge_list_theader">担当 (In-Charge Name)</th>
                            </tr>                               
                        </thead>
                        <tbody id="incharge_list_tbody">                                
                        </tbody>
                    </table>
                    <label id="incharge_delete_btn">
                        <a id="incharge_inactive_btn" href="javascript:void();" data-toggle="modal" data-target="#del_incharge_modal" onClick="onInchargeInactiveClick()">Delete</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<br><br>

<input type="hidden" id="incharge_warning_text" />

<!-----------------Modal: Delete In-Charge----------------->
<div class="modal custom-modal fade" id="del_incharge_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete In-Charge</h3>
                    <ol class="incharge_count" style="text-align:left;"></ol>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="incharge_inactive_confirm_btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>    
    <script src="/Scripts/incharge_ver02.js"></script>     
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();

        $(function () {

            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {
                alert(name + message);
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            };
        });


        $(document).ready(function () {

            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);

            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });
                    
        });
     
    </script>         
}

