
@{
    ViewBag.Title = "新規要員追加 (Create New Employee)";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/employee_ver02.css" />
}

<div class="content container-fluid">
    <!-----------------Employee Master: Employee Registration Form----------------->
    @if (Convert.ToBoolean(ViewBag.linkFlag))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <label id="input_master">
                            新規登録する場合は、「新規区分をここに入力」テキストボックスに
                            <br>
                            区分名を記載し、保存ボタンをクリックしてください
                        </label>
                        <table id="employee_reg_tbl">
                            <thead style="border: none;">
                                <tr></tr>
                                <tr>
                                    <th class="employee_th">要員 氏名 (Name)</th>
                                    <th class="employee_th">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="employee_reg_frm_td">
                                        <input type="text" value="" placeholder="要員 氏名 (employee name)" id="employee-name">                                        
                                    </td>
                                    <td id="employee_reg_frm_td">
                                        <a href="javascript:void(0);" class="" id="employee_reg_cancel_btn" data-dismiss="modal">取消(undo)</a>
                                        <a href="javascript:void(0);" class="" id="employee_reg_save_btn" onclick="InsertEmployee();">保存（save）</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    }


    <!-----------------Employee Master: Employee list are showing on this part----------------->
    <label id="list_master">
        登録した部署を消去するには、チェックボックスにチェックを入れ、
    <br>
        削除ボタンをクリックしてください。 
    </label>
    <table id="employeeList_datatable" class="table table-striped table-bordered" style="width:60%">
        <thead id="employeelist_thead">
            <tr>
                <th colspan="6">氏名リスト (Employeee List)</th>
            </tr>
            <tr>
                <th class="employee_list_theader">ＩＤ</th>
                <th class="employee_list_theader">氏名 (Name)</th>
            </tr>
            <tr>
                <th></th>
                <th class="namelist_td name"><input type="text" placeholder="Search 氏名 (Name)" class="" id="name_search"></th>
            </tr>
        </thead>
        <tbody id="employeelist_tbody"></tbody>
    </table>
    <br />
</div>
<br><br>
<br><br>

<input type="hidden" id="employee_id_hidden" />

<!-----------------Modal: Edit Employee----------------->
<div class="modal custom-modal fade" id="edit_employee_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Edit 要員 氏名(Name)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>

                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="employee_name_edit">要員 氏名 (Name)</label>
                        <input type="text" class="form-control" id="employee_name_edit" placeholder="要員 氏名 (employee name)">
                        <div class="employee_err_edit">
                            Please provide 要員 氏名 (Name).
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom_button_group_employee">
                            <a href="javascript:void(0);" class="employee_cancel" data-dismiss="modal">キャンセル</a>
                            <a href="javascript:void(0);" class="employee_update" onclick="UpdateEmployee();">更新</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Delete Employee----------------->
<div class="modal custom-modal fade" id="inactive_employee_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Inactive 要員(Employee)</h3>
                    <p>本当に削除しますか？</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary cancel-btn" data-dismiss="modal">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="InactiveEmployee();">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Convert.ToBoolean(ViewBag.linkFlag))
{
    <div id="employeeContextMenu" class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a tabindex="-1" href="#">Edit</a></li>
            <li><a tabindex="-1" href="#">Inactive</a></li>
        </ul>
    </div>
}


@section Scripts{

    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/employee_ver03.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();

        $(function () {

            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            };
        });
        $(document).ready(function () {
            $(window).on("beforeunload", function () {
                //alert("call");
                console.log('fired');
                var _keysCount = 0;
                var currentHost = window.location.host;
                _keys = Object.keys(localStorage);
                for (var key = 0; key < _keys.length; key++) {
                    if (localStorage.getItem(_keys[key]) == currentHost) {
                        _keysCount++;
                    }
                }
                if (_keysCount == 1) {
                    var user_name = $('#hidden_username').val();
                    if (user_name != null || user_name != undefined || user_name != '') {
                        $.ajax({
                            url: `/Registration/RemoveSession?userName=${user_name}`,
                            contentType: 'application/json',
                            type: 'GET',
                            async: false,
                            //dataType: 'json',
                            success: function (data) {
                            }
                        });
                    }
                }
                if (_keysCount > 1) {
                    localStorage.removeItem(window.location.pathname);
                }
            });
            var localStorageItem = localStorage.getItem(window.location.pathname);
            if (localStorageItem == null || localStorageItem == '' || localStorageItem == undefined) {
                localStorage.setItem(window.location.pathname, window.location.host);
            }


            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);

            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data, (index, value) => {

                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });

        });
    </script>
}
