
@{
    ViewBag.Title = "新規要員追加 (Create New Employee)";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/employee.css" />
}

<div class="content container-fluid">  
    <div id="" style="display: block;">        
        <!-----------------Employee Master: Employee list are showing on this part----------------->   
        <div class="row">
            <div class="col-md-10">
                <div class="table-responsive">
                    <label id="list_master">
                        登録した個人を削除する場合は、チェックボックスにチェックを入れて「削除」ボタンをクリックしてください。
                    </label>                  
                    @* <table id="employeeList_datatable" class="table table-striped table-bordered" style="width:100%"> *@
                    <table id="employeeList_datatable" style="width:100%">
                        <thead id="employeelist_thead">
                            <tr>
                                <th colspan="6" class="employee_header">要員名リスト</th>
                            </tr>
                            <tr>
                                <th class="employee_list_theader employee_header" style="width: 0px !important;">複数選択</th>
                                <th class="employee_list_theader employee_header" style="width: 109px !important;">ＩＤ</th>
                                <th class="employee_list_theader employee_header">要員名</th>
                            </tr>
                        </thead>
                        <tbody id="employeelist_tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>

        @if (ViewBag.UserRole == "admin" || ViewBag.UserRole == "editor" )
        {                
            <div class="add_edit_delete_btn_section" style="display: block;">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <button class="btn delete_master_btn" type="button">削除 (delete)​</button>
                            </div>                                
                            <div class="col-md-3">
                                <button class="btn edit_master_btn" type="button">編集​ (edit)​</button>
                            </div>
                            <div class="col-md-3" >
                                <button class="btn add_master_btn" type="button">追加 (add)</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<input type="hidden" id="employee_id_hidden" />
<input type="hidden" id="employee_id_for_edit" />

<!-----------------Modal: Add Employee----------------->
<div class="modal custom-modal fade" id="add_master_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                
                <div class="form-header">
                    <h3 id='add_modal_header'>要員の追加 (add employee)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <label id='add_modal_body_title'>新規担当者を登録する場合は、「新規担当者を入力してください」テキストボックスに担当者名を入力し、「保存」ボタンをクリックしてください。</label>
                    <table id="employee_add_table">
                        <thead style="border:none;">
                            <tr></tr>
                            <tr>
                                <th class="employee_add_th">要員名 (Employee)</th>
                                <th class="employee_add_th">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="employee_add_td">
                                    <input type="text" value="" placeholder="ここに新しい要員名を入力してください" id="employee_name_add">                                            
                                </td>
                                <td id="employee_add_td">
                                    <a href="javascript:void(0);" class="" id="employee_add_undo">取消(undo)</a>
                                    <a href="javascript:void(0);" class="" id="employee_add_save">保存（save）</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
                <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit Role----------------->
<div class="modal custom-modal fade" id="edit_master_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                
                <div class="form-header">
                    <h3 id='edit_modal_header'>要員の編集 (edit employee)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <label id='edit_modal_body_title'>登録した要員を編集する場合は、編集するテキストボックスに要員名を入力し、「保存」ボタンをクリックしてください。 </label>
                    <table id="employee_edit_table">
                        <thead style="border:none;">
                            <tr></tr>
                            <tr>
                                <th class="employee_edit_th">要員名 (Employee)</th>
                                <th class="employee_edit_th">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="employee_edti_td">
                                    <input type="text" value="" placeholder="ここに新しい要員名を入力してください" id="employee_name_edit">                                            
                                </td>
                                <td id="employee_edti_td">
                                    <a href="javascript:void(0);" class="" id="employee_edit_undo">取消(undo)</a>
                                    <a href="javascript:void(0);" class="" id="employee_edit_save">保存（save）</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
                <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Delete Company----------------->
<div class="modal custom-modal fade" id="delete_master_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Employees</h3>
                    <ol class="company_count" style="text-align:left;"></ol>
                    <p>本当に削除しますか？　削除されたデータを承認すると、過去データも削除されることがあります。注意してください！！</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="modal_delete_btn">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/employee.js"></script>
   
   <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script> 
}
