
@{
    ViewBag.Title = "Company Registration";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/companies_ver02.css" />
}

<div class="content container-fluid">
    <!-----------------Company Master: Company Registration Form----------------->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">                     
                    <table id="company_reg_tbl" >
                        <thead style="border:none;">
                            <tr>
                            </tr>
                            <tr>
                                <th>会社名 (Company Name)</th>       
                                <th>Actions</th>                                                                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="company_reg_frm_td">
                                    <input type="text" value="" placeholder="会社名 氏名(company name)" id="companyName">
                                    @* <div class="department_name_err" id="department_name_err">
                                        Please provide a department name.
                                    </div> *@
                                </td>
                                <td id="company_reg_frm_td">
                                    <a href="javascript:void(0);" class="" id="company_reg_cancel_btn" data-dismiss="modal">Cancel</a>
                                    <a href="javascript:void(0);" class="" id="company_reg_save_btn" onclick="InsertCompanies();">Save</a>
                                </td>
                            </tr>                                       
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    
    <!-----------------Company Master: Company list are showing on this part----------------->
    <div id="company_list" style="display: block;">        
        <div class="row">            
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="" id="company_list_tbl">
                        <thead>
                            <tr>
                                <th colspan="6">会社名 リスト(Company List)</th>
                            </tr>
                            <tr>
                                <th class="company_list_theader">Check</th>
                                <th class="company_list_theader">会社名 (Company Name)</th>
                            </tr>                               
                        </thead>
                        <tbody id="company_list_tbody">                                
                        </tbody>
                    </table>
                    <label id="company_delete_btn">
                        <a id="company_inactive_btn" href="javascript:void();" data-toggle="modal" data-target="#inactive_company_modal" onClick="onCompanyInactiveClick()">Delete</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<br><br>

<input type="hidden" id="company_warning_text" />

<!-----------------Modal: Delete Company----------------->
<div class="modal custom-modal fade" id="inactive_company_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Company</h3>
                    <ol class="company_count" style="text-align:left;"></ol>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="company_inactive_confirm_btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/companies_ver02.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(document).ready(function () {

            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);
            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });
                    
        });
        $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000); // Restart connection after 5 seconds.
            });

            $(function () {
                var chat = $.connection.chatHub;
                //$.connection.hub.start();
                //debugger;
                //console.log(chat);
                chat.client.addNewMessageToPage = function (name, message) {
                    alert(name + ' logged in');
                    $.ajax({
                        url: `/api/utilities/GetUserLogs/`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        dataType: 'json',
                        success: function (data) {
                            var userName = $('#user_name').text();
                            $('#user_log').empty();
                            $.each(data, (index, value) => {
                                if (userName != value.UserName) {
                                    $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                                }
                            });

                        }
                    });
                };
            });
    </script>   
}
