
@{
    ViewBag.Title = "会社登録 (Company Registration)";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/companies_ver02.css" />
}

    <div class="content container-fluid">
        <!-----------------Company Master: Company list are showing on this part----------------->
        <div id="company_list" style="display: block;">
            <div class="row">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <label id="list_master">
                            登録した会社を消去するには、チェックボックスにチェックを入れ、削除ボタンをクリックしてください。 
                        </label>
                        <table class="" id="company_list_tbl">
                            <thead>
                                <tr>
                                    <th colspan="6" class="company_th">会社名 リスト(Company List)</th>
                                </tr>
                                <tr>
                                    <th class="company_list_theader company_th">複数選択</th>
                                    <th class="company_list_theader company_th">会社名 (Company Name)</th>
                                </tr>
                            </thead>
                            <tbody id="company_list_tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            @if (Convert.ToBoolean(ViewBag.linkFlag))
            {
                
                <div class="add_edit_delete_btn_section" style="display: block;">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-3">
                                    <button class="btn delete_master_btn" type="button">削除 (delete)​</button>
                                </div>                                
                                <div class="col-md-3">
                                    <button class="btn edit_master_btn" type="button">編集​ (edit)​</button>
                                </div>
                                <div class="col-md-3" >
                                    <button class="btn add_master_btn" type="button">追加 (add)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
<br><br>

<input type="hidden" id="company_warning_text" />
<input type="hidden" id="edit_role_id" />

<!-----------------Modal: Add Role----------------->
<div class="modal custom-modal fade" id="add_master_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                
                <div class="form-header">
                    <h3 id='add_modal_header'>追加 役割 (add role)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <label id='add_modal_body_title'>新規登録する場合は、「新規役割をここに入力」テキストボックスに役割名を記載し、保存ボタンをクリックしてください。 </label>
                    <table id="company_reg_tbl">
                        <thead style="border:none;">
                            <tr></tr>
                            <tr>
                                <th class="company_th">役割 (Roles Name)</th>
                                <th class="company_th">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="company_reg_frm_td">
                                    <input type="text" value="" placeholder="新規役割をここに入力" id="company_name">                                            
                                </td>
                                <td id="company_reg_frm_td">
                                    <a href="javascript:void(0);" class="" id="undo_company_add_btn">取消(undo)</a>
                                    <a href="javascript:void(0);" class="" id="company_reg_save_btn">保存（save）</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>

                <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit Role----------------->
<div class="modal custom-modal fade" id="edit_master_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                
                <div class="form-header">
                    <h3 id='add_modal_header'>編集​ 役割 (edit role)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <label id='add_modal_body_title'>新規登録する場合は、「新規役割をここに入力」テキストボックスに役割名を記載し、保存ボタンをクリックしてください。 </label>
                    <table id="company_reg_tbl">
                        <thead style="border:none;">
                            <tr></tr>
                            <tr>
                                <th class="company_th">役割 (Roles Name)</th>
                                <th class="company_th">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="company_reg_frm_td">
                                    <input type="text" value="" placeholder="新規役割をここに入力" id="company_name_edit">                                            
                                </td>
                                <td id="company_reg_frm_td">
                                    <a href="javascript:void(0);" class="" id="undo_company_edit_btn">取消(undo)</a>
                                    <a href="javascript:void(0);" class="" id="company_reg_save_btn_edit">更新​ (Update)</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
                
                <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Delete Company----------------->
<div class="modal custom-modal fade" id="delete_master_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>会社削除 (Delete Company)</h3>
                    <ol class="company_count" style="text-align:left;"></ol>
                    <p>本当に削除しますか？</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="company_inactive_confirm_btn">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/companies_ver02.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">

        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.start();

        $(function () {

            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {
                if (message != $('#user_name').text()) {
                    alert(name + message);
                }
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            };
        });

        $(document).ready(function () {
         

            setInterval(() => {
                $.ajax({
                    url: `/api/utilities/GetUserLogs/`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        var userName = $('#user_name').text();
                        $('#user_log').empty();
                        $.each(data, (index, value) => {
                            if (userName !== value.UserName) {
                                $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                            }
                        });

                    }
                });
            }, 5000);
            $.ajax({
                url: `/api/utilities/GetUserLogs/`,
                contentType: 'application/json',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    var userName = $('#user_name').text();
                    $('#user_log').empty();
                    $.each(data,(index, value) => {
                        if (userName !== value.UserName) {
                            $('#user_log').append(`<li style="float:left;background-color:lightgrey; border-radius:50px; overflow:hidden;margin-right:5px;">${value.UserName}</li>`);
                        }
                    });

                }
            });
                    
        });
    </script>   
}
