<!-- Header -->
<div class="header">
    <!-- Logo -->
    <div class="header-left">
        <a href="/Dashboard/index" class="logo">
            <img src="/assets/img/logo.png" width="40" height="40" alt="">
        </a>
    </div>
    <!-- /Logo -->
    
    <!-- Header Title -->
    <div class="page-title-box">
        <h3>@ViewBag.Title</h3>
    </div>
    <!-- /Header Title -->

    @{
        string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
        string paramsVal = Request.QueryString["forecastType"];

        string url = System.IO.Path.GetFileName(fullPath);
        if (url.ToLower().Contains("actualcostconfirm"))
        {
            if (ViewBag.UserRole == "admin" || ViewBag.UserRole == "editor")
            {
                <div class="page-title-box">
                    <h3>
                        <button type="button" class="btn btn-dark" id="cancel_actual_cost" style="line-height:1;background-color: red;border: none;">取消</button>
                        <button type="button" class="btn btn-dark" id="distribute" style="line-height:1;background-color: #FECB6B;border: none;margin-left: 16px;color:black;">配布する</button>
                        <button type="button" class="btn btn-dark" id="create_actual_cost" style="line-height:1;background-color: green;border: none;margin-left: 16px;">保存</button>
                    </h3>
                </div>
            }
        }
    }

    <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

    <!-- Header Menu -->
    <ul class="nav user-menu">        
        <li class="nav-item dropdown has-arrow main-drop">
            <ul style="list-style:none;margin-top:20px;" id="user_log"></ul>
        </li>
        <li class="nav-item dropdown has-arrow main-drop">            
            @{
                string fullPath2 = HttpContext.Current.Request.Url.AbsolutePath;
                string url2 = System.IO.Path.GetFileName(fullPath2);
                if (url2.ToLower().Contains("login") || string.IsNullOrEmpty(url2) || url2.ToLower().Contains("userregistration"))
                {
                }
                else
                {
                    <a href="#" class="" data-toggle="dropdown">
                        <span class="user-img">
                            <img src="/assets/img/profiles/avatar-21.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                        @if (Session["userName"] == null)
                        {
                            <span></span>
                        }
                        else
                        {
                            <span id="user_name">@Session["userName"].ToString()</span>
                            <input type="hidden" id="hidden_username" value="@Session["userName"].ToString()" />
                        }
                    </a>

                    <div class="dropdown-menu" id="logout_dropdown">
                        <a class="dropdown-item" id="logout" href="javascript:void(0);" onclick="RemoveSession();">ログアウト</a>
                    </div>
                }
            }
        </li>
    </ul>
    <!-- /Header Menu -->

    <!-- Mobile Menu -->
    <div class="dropdown mobile-user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>       
    </div>
    <!-- /Mobile Menu -->
</div>
<!-- /Header -->
