<style>
    .new_side_menu ul a.active {
        background-color: #ffebda;
        color: #000;
        text-decoration: underline;
    }
</style>
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block">
  <div class="nav-bar-contains">
        <ul class="nav2">
            @{
                string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
                string url = System.IO.Path.GetFileName(fullPath);
                if (url.ToLower().Contains("login") || string.IsNullOrEmpty(url))
                {
                    <li>
                        <a href="/Registration/Login" class="active"><i class="la la-user"></i> <span title="ログイン (Login)">ログイン (Login)</span></a>
                    </li>
                    <li>
                        <a href="/Registration/userregistration" class=""><i class="la la-user"></i> <span title="登録 (Registration)">登録 (Registration)</span></a>
                    </li>
                }
                else if (url.ToLower().Contains("userregistration"))
                {
                    <li>
                        <a href="/Registration/Login" class=""><i class="la la-user"></i> <span title="ログイン (Login)">ログイン (Login)</span></a>
                    </li>
                    <li>
                        <a href="/Registration/userregistration" class="active"><i class="la la-user"></i> <span title="登録 (Registration)">登録 (Registration)</span></a>
                    </li>
                }else{
                    <li><a href="javascript:void();">要員管理システム</a></li>
                    <li><a href="javascript:void();" title="年度データー(Yearly Data)">年度データー(Yearly Data)</a>
                        <ul>
                            <li><a href="/Forecasts/CreateForecast?forecastType=imprt" title="予算策定・編集 (Budget)">予算策定・編集</a></li>
                            <li><a href="/Forecasts/CreateForecast?forecastType=edit" title="年度データの編集 (Edit)">年度データの編集</a>
                                @* <ul>
                                    <li><a href="#">b2</a></li>
                                    <li><a href="#">b2</a></li>
                                </ul> *@
                            </li>
                        </ul>
                    </li>
                    <li><a href="/Forecasts/GetHistories" title="変更履歴 (Change History)">変更履歴 (History)</a></li>
                    <li><a href="/Forecasts/ActualCosts" title="実績（Actual Cost）">実績（Actual Cost）</a></li>
                    <li><a href="javascript:void();" title="集計(Total)">集計(Total)</a>
                        <ul>
                            <li><a href="/Forecasts/GetTotal" title="開発区分別 集計">開発区分別 集計</a></li>
                            <li><a href="/Forecasts/Apportionment" title="品証 按分 ( QA Ratio)">品証 按分 ( QA Ratio)</a></li>
                            <li><a href="/Forecasts/GetSukeyWithQA" title="開発区分別 集計">開発区分別 集計</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void();" title="マスター設定 (Mast Setting)">マスター設定 (Master)</a>
                        <ul>
                            <li><a href="/Sections/CreateSection" title="区分マスター (Section Mast)">区分マスター (Section)</a></li>
                            <li><a href="/Departments/CreateDepartment" title="部署バスター (Dept. Mast)">部署バスター (Dept.)</a></li>
                            <li><a href="/InCharges/CreateInCharge" title="担当マスター(Inchg Mast)">担当マスター(Inchg)</a></li>
                            <li><a href="/Roles/CreateRoles" title="役割マスター( Role Mast)">役割マスター( Role)</a></li>
                            <li><a href="/Explanations/CreateExplanation" title="説明マスター (Expl Mast)">説明マスター (Expl)</a></li>
                            <li><a href="/Companies/CreateCompany" title="会社マスター (Company Mast)">会社マスター (Company)</a></li>
                            <li><a href="/Salaries/CreateSalary" title="グレードマスター (Grade Mast)">グレードマスター (Grade)</a></li>
                            <li><a href="/Employees/CreateNewEmployee" title="人員マスター (Name Mast)">人員マスター (Name)</a></li>
                            <li><a href="/Users/CreateUsers" title="利用者マスター（User Mast)">利用者マスター（User)</a></li>
                        </ul>
                    </li>
                }
            }                                    
            <!--nav-->
        </ul>
        <!--contents-->
</div>
</div>

