
<header id="header">
    <nav>
        <ul>
            @{
                string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
                string url = System.IO.Path.GetFileName(fullPath);
                if (url.ToLower().Contains("login") || string.IsNullOrEmpty(url))
                {
                    <li class="parent_li"><a href="/Registration/Login" class="active"><i class="la la-user"></i> <span title="ログイン">ログイン</span></a></li>
                    <li class="parent_li"><a href="/Registration/userregistration"><i class="la la-user"></i> <span title="登録">登録</span></a></li>
                }
                else if (url.ToLower().Contains("userregistration"))
                {
                    <li><a href="/Registration/Login"><i class="la la-user"></i> <span title="ログイン">ログイン</span></a></li>
                    <li><a href="/Registration/userregistration" class="active"><i class="la la-user"></i> <span title="登録 ">登録</span></a></li>
                }
                else
                {
                    <li class="has-child parent_li">
                        <a href="javascript:void(0);">予算</a>
                        <ul>
                            @if (ViewBag.UserRole != "visitor")
                            {
                                <li><a href="/Forecasts/CreateBudget" title="予算・策定">策定</a></li>
                            }
                            <li><a href="/Forecasts/EditBudget" title="予算・編集">編集</a></li>
                        </ul>
                    </li>
                    <li class="has-child parent_li">
                        <a href="javascript:void(0);">年度データ</a>
                        <ul>
                            <li><a href="/Forecasts/CreateForecast?forecastType=edit" title="年度データの編集">編集</a></li>
                            <li><a href="/Forecasts/GetHistories" title="変更履歴">変更履歴</a></li>
                            <li><a href="/Forecasts/ApproveForecast" title="年度データの承認">承認</a></li>
                            <li><a href="/Forecasts/ApproveHistories" title="承認履歴 (承認履歴ファイル保存名)">承認履歴 (承認履歴ファイル保存名)</a></li>
                        </ul>
                    </li>
                    <li class="parent_li"><a href="/Forecasts/ActualCosts" title="実績">実績</a></li>

                    <li class="has-child parent_li">
                        <a href="javascript:void(0);" title="合計">合計</a>
                        <ul>
                            <li><a href="/Forecasts/Total" title="コスト表">コスト表</a></li>
                            @if (ViewBag.UserRole != "visitor")
                            {
                                <li><a href="/Forecasts/CreateDynamicTable" title="ダイナミックテーブルフォーマット">表形式</a></li>
                                <li><a href="/Forecasts/DynamicTableView" title="集計表VIEWフォーマット設定​">ビューフォーマット</a></li>
                            }
                        </ul>
                    </li>

                    <li class="parent_li"><a href="/Forecasts/QaProportion" title="按分">按分</a></li>

                    <li class="has-child parent_li">
                        <a href="javascript:void(0);">マスター設定</a>
                        <ul>
                            <li><a href="/Sections/CreateSection" title="区分マスター">区分マスター</a></li>
                            <li><a href="/Departments/CreateDepartment" title="部署マスター">部署マスター</a></li>
                            <li><a href="/InCharges/CreateInCharge" title="担当マスター">担当マスター</a></li>
                            <li><a href="/Roles/CreateRoles" title="役割マスター">役割マスター </a></li>
                            <li><a href="/Explanations/CreateExplanation" title="説明マスター">説明マスター</a></li>
                            <li><a href="/Companies/CreateCompany" title="会社マスター">会社マスター</a></li>
                            <li><a href="/Salaries/CreateSalary" title="グレードマスター">グレードマスター</a></li>
                            <li><a href="/Employees/CreateNewEmployee" title="人員マスター">人員マスター</a></li>
                            <li><a href="/Users/EditUsers" title="利用者マスター">利用者マスター</a></li>                           
                        </ul>
                    </li>
                }
            }
        </ul>
    </nav>

    @{
        if (url.ToLower().Contains("createnewemployee"))
        {
            <div class="sidebar_filterSearch pl-4 pt-2 pb-2 mt-2">
                <div class="row">
                    <div class="col-md-8 p-0"><h4>絞り込み</h4></div>
                    <div class="col-md-4 p-0"><button class="btn-xs btn-danger p-1 rounded  w-75" id="clearFilter">クリア</button></div>                    
                </div>
                <div class="row"><label>キーワードから探す</label></div>
                <div class="row pl-2">
                    <label class="m-1">要員名</label>
                </div>
                <div class="row pl-2">
                    <div class="col-md-8 p-0"><input type="text" id="inputEmpName" name="inputEmpName" class="rounded" placeholder="" /></div>
                    <div class="col-md-4 p-0"><button class="btn-xs btn-danger p-1 rounded  w-75" id="filterEmp">検索</button></div>
                </div>

                <div class="row  mt-2"><label>並べ替え</label></div>
                <div class="row">
                    <div class="col-md-4 p-0">
                        <input type="radio" id="sortEmp" name="sortEmp" value="FullName" />
                        <label class="m-1">要員名</label>
                    </div>
                    <div class="col-md-4 p-0">
                        <input type="radio" id="sortEmp" name="sortEmp" value="id" />
                        <span class="m-1">ID</span>
                    </div>
                    <div class="col-md-4 p-0">
                        <button class="btn-xs btn-danger p-1 rounded  w-75" id="orderEmp">並べ替え</button>
                    </div>
                </div>
            </div>
        }
        else if (url.ToLower().Contains("editusers") && (ViewBag.UserRole == "admin" || ViewBag.UserRole == "editor"))
        {
            <div class="row pl-4 pt-1 mt-1">
                <div class="col-md-8 p-0"><h4>絞り込み</h4></div>
                <div class="col-md-4 p-0"><button class="btn-xs btn-danger p-1 rounded  w-75" id="clearFilter">クリア</button></div>                
            </div>
            <div class="sidebar_filterSearch pl-4 pb-2 mt-1">
                <div class="row"><label class="m-0">キーワードから探す</label></div>
                <div class="row mb-2">
                    <div class="col-md-4 p-0">
                        <input type="radio" id="searchUser" name="searchUser" value="UserName" />
                        <strong class="m-1">ユーザID</strong>
                    </div>
                    <div class="col-md-4">
                        <input type="radio" id="searchUser" name="searchUser" value="Email" />
                        <strong class="m-1">メアド(mail)</strong>
                    </div>
                </div>
                <div class="row pl-1">
                    <div class="col-md-8 p-0"><input type="text" id="inputEmpName" name="inputEmpName" class="rounded" placeholder="" /></div>
                    <div class="col-md-4 p-0"><button class="btn-xs btn-danger p-1 rounded  w-75" id="filterEmp">検索</button></div>
                </div>                
            </div>
            <div class="sidebar_filterSearch pl-4 pb-2 mt-1">
                <div class="row mb-1"><label class="m-0">登録情報から探す</label></div>
                <div class="row">
                    <div class="col-md-4 p-0">
                        <strong class="m-1">
                            役割
                        </strong>
                        
                    </div>
                    <div class="col-md-8 p-0">
                        <select id="searchRole" name="searchRole" class="w-75" style=""></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 p-0">
                        <strong class="m-1">
                            役職
                        </strong>
                        
                    </div>
                    <div class="col-md-8 p-0">
                        <select id="searchTitle" name="searchTitle" class="w-75" style=""></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 p-0">
                        <strong class="m-1">
                            部署
                        </strong>
                        
                    </div>
                    <div class="col-md-8 p-0">
                        <select id="searchDepartment" name="searchDepartment" class="w-75" style=""></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 p-0">
                        <strong class="m-1">
                            ステータス
                        </strong>
                        
                    </div>
                    <div class="col-md-8 p-0">
                        <select id="searchStatus" name="searchStatus" class="w-75" style=""></select>
                    </div>
                </div>
                <div class="row pl-1 mt-2">
                    <div class="col-md-8 p-0"></div>
                    <div class="col-md-4 p-0"><button class="btn-xs btn-danger p-1 rounded  w-75" id="filterUserBtn">検索</button></div>
                </div>
            </div>

            //Filter Sort Section
            <div class="sidebar_filterSearch pl-4 pb-2 mt-1">
                <div class="row mb-1"><label class="m-0">並べ替え</label></div>
                <div class="row p-0">
                    <div class="col-md-4 pl-0">
                        <input type="radio" id="orderUser" name="orderUser" value="UserName" />
                        <strong class="">ユーザID</strong>
                    </div>
                    <div class="col-md-3 pl-0">
                        <input type="radio" id="orderUser" name="orderUser" value="Email" />
                        <strong class="m-1">メアド</strong>
                    </div>
                    <div class="col-md-3 pl-0">
                        <input type="radio" id="orderUser" name="orderUser" value="role" />
                        <strong class="m-1">役割</strong>
                    </div>
                </div>
                <div class="row p-0">
                    <div class="col-md-4 pl-0">
                        <input type="radio" id="orderUser" name="orderUser" value="Title" />
                        <strong class="">役職</strong>
                    </div>
                    <div class="col-md-3 pl-0">
                        <input type="radio" id="orderUser" name="orderUser" value="DepartmentName" />
                        <strong class="m-1">部署</strong>
                    </div>
                    <div class="col-md-3 pl-0">
                        <input type="radio" id="orderUser" name="orderUser" value="RoleId" />
                        <strong class="m-1">ステータス</strong>
                    </div>
                </div>
                <div class="row pl-1 mt-2">
                    <div class="col-md-8 p-0"></div>
                    <div class="col-md-4 p-0"><button class="btn-xs btn-danger p-1 rounded  w-75" id="sortUserBtn">並べ替え</button></div>
                </div>
            </div>
        }
    }

</header>
    
