
    <header id="header">
		<nav>
            <ul>
                @{
                    string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
                    string url = System.IO.Path.GetFileName(fullPath);
                    if (url.ToLower().Contains("login") || string.IsNullOrEmpty(url))
                    {
                        <li class="parent_li"><a href="/Registration/Login" class="active"><i class="la la-user"></i> <span title="ログイン (Login)">ログイン (Login)</span></a></li>
                        <li class="parent_li"><a href="/Registration/userregistration"><i class="la la-user"></i> <span title="登録 (Registration)">登録 (Registration)</span></a></li>
                    }
                    else if (url.ToLower().Contains("userregistration"))
                    {
                        <li><a href="/Registration/Login"><i class="la la-user"></i> <span title="ログイン (Login)">ログイン (Login)</span></a></li>
                        <li><a href="/Registration/userregistration" class="active"><i class="la la-user"></i> <span title="登録 (Registration)">登録 (Registration)</span></a></li>
                    }
                    else
                    {
                        <li class="parent_li" style="height: 40px;"><a href="javascript:void();">要員管理システム</a></li>
                        <li class="has-child parent_li">
                            <a href="javascript:void();">年度データー(Yearly Data)</a>
                            <ul>
                                <li><a href="/Forecasts/CreateBudget" title="予算策定・編集 (Budget)">予算策定・編集 (Budget)</a></li>
                                <li><a href="/Forecasts/CreateForecast?forecastType=edit" title="年度データの編集 (Edit)">年度データの編集 (Edit)</a></li>
                                <li><a href="/Forecasts/GetHistories" title="変更履歴 (Change History)">変更履歴 (Change History)</a></li>

                                <li><a href="/Forecasts/ApproveForecast" title="年度データの承認(Approval)">年度データの承認(Approval)</a></li>
                                <li><a href="/Forecasts/ApproveHistories" title="承認履歴(Approval History)">承認履歴(Approval History)</a></li>
                                <li><a href="/Forecasts/QaProportion" title="按分(QA Proration)">按分(QA Proration)</a></li>
                            </ul>
                        </li>
                        <li class="parent_li"><a href="/Forecasts/Total" title="Total">Total</a></li>
                        <li class="parent_li"><a href="/Forecasts/ActualCosts" title="実績（Actual Cost）">実績（Actual Cost）</a></li>

                        <li class="has-child parent_li">
                            <a href="javascript:void();">品証按分 </a>
                            <ul>
                                <li><a href="/Forecasts/GetTotal" title=">開発区分別 集計">開発区分別 集計</a></li>
                                <li><a href="/Forecasts/Apportionment" title="品証 按分 ( QA Ratio)">品証 按分 ( QA Ratio)</a></li>
                                <li><a href="/Forecasts/GetSukeyWithQA" title="開発区分別 集計">開発区分別 集計</a></li>
                            </ul>
                        </li>
                        <li class="has-child parent_li">
                            <a href="javascript:void();">マスター設定 (Mast Setting)</a>
                            <ul>
                                <li><a href="/Sections/CreateSection" title="区分マスター (Section Mast)">区分マスター (Section Mast)</a></li>
                                <li><a href="/Departments/CreateDepartment" title="部署バスター (Dept. Mast)">部署バスター (Dept. Mast)</a></li>
                                <li><a href="/InCharges/CreateInCharge" title="担当マスター(Inchg Mast)">担当マスター(Inchg Mast)</a></li>
                                <li><a href="/Roles/CreateRoles" title="役割マスター( Role Mast)">役割マスター( Role Mast)</a></li>
                                <li><a href="/Explanations/CreateExplanation" title="説明マスター (Expl Mast)">説明マスター (Expl Mast)</a></li>
                                <li><a href="/Companies/CreateCompany" title="会社マスター (Company Mast)">会社マスター (Company Mast)</a></li>
                                <li><a href="/Salaries/CreateSalary" title="グレードマスター (Grade Mast)">グレードマスター (Grade Mast)</a></li>
                                <li><a href="/Employees/CreateNewEmployee" title="人員マスター (Name Mast)">人員マスター (Name Mast)</a></li>
                                <li><a href="/Users/CreateUsers" title="利用者マスター（User Mast)">利用者マスター（User Mast)</a></li>
                            </ul>
                        </li>
                    }
                }
            </ul>
		</nav>
		
	</header>
