<style>
    .sidebar-menu ul a.active {
        background-color: #ffebda;
        color: #000;
        text-decoration: underline;
    }
</style>

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span title="要員管理システム">要員管理システム</span>
                </li>
                @{
                    string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
                    string url = System.IO.Path.GetFileName(fullPath);
                    if (url.ToLower().Contains("login") || string.IsNullOrEmpty(url))
                    {
                        <li>
                            <a href="/Registration/Login" class="active"><i class="la la-user"></i> <span title="ログイン (Login)">ログイン (Login)</span></a>
                        </li>
                    }
                    else
                    {
                        /***************************\
                            Add Employee through Modal
                        \***************************/
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="la la-files-o"></i>
                                <span title="年度データー(Yearly Data)">年度データー(Yearly Data)</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">
                                @{
                                    string forecastViewType = Request.QueryString["forecastType"];                                    

                                    if (url.ToLower().Contains("createforecast") && forecastViewType.ToLower() == "imprt")
                                    {
                                        <li><a href="/Forecasts/CreateForecast?forecastType=imprt" class="active" title="Import Yearly Data">予算策定・編集 (Budget)</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/Forecasts/CreateForecast?forecastType=imprt" title="Import Yearly Data">予算策定・編集 (Budget)</a>
                                        </li>
                                    }

                                    if (url.ToLower().Contains("createforecast") && forecastViewType.ToLower() == "edit")
                                    {
                                        <li><a href="/Forecasts/CreateForecast?forecastType=edit" class="active" title="年度データの編集 (Edit)">年度データの編集 (Edit)</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/Forecasts/CreateForecast?forecastType=edit" title="年度データの編集 (Edit)">年度データの編集 (Edit)</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>

                        if (url.ToLower().Contains("gethistories"))
                        {
                            <li>
                                <a href="/Forecasts/GetHistories" class="active"><i class="la la-files-o"></i><span title="変更履歴 (Change History)">変更履歴 (Change History)</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Forecasts/GetHistories"><i class="la la-files-o"></i> <span title="変更履歴 (Change History)">変更履歴 (Change History)</span></a>
                            </li>
                        }
                         if (url.ToLower().Contains("actualcosts"))
                        {
                            <li>
                                <a href="/Forecasts/ActualCosts" class="active"><i class="la la-files-o"></i><span title="実績（Actual Cost）">実績（Actual Cost）</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Forecasts/ActualCosts"><i class="la la-files-o"></i> <span title="実績（Actual Cost）">実績（Actual Cost）</span></a>
                            </li>
                        } 
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="la la-files-o"></i>
                                <span title="マスター設定 (Mast Setting)"> マスター設定 (Mast Setting)</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">
                                @{
                                    if (url.ToLower().Contains("createsection"))
                                    {
                                        <li><a href="/Sections/CreateSection" class="active" title="区分マスター (Section Mast)">区分マスター (Section Mast)</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/Sections/CreateSection" title="区分マスター (Section Mast)">区分マスター (Section Mast)</a>
                                        </li>
                                    }
                                    if (url.ToLower().Contains("createdepartment"))
                                    {
                                        <li><a href="/Departments/CreateDepartment" class="active" title="部署バスター (Dept. Mast)">部署バスター (Dept. Mast)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Departments/CreateDepartment" title="部署バスター (Dept. Mast)">部署バスター (Dept. Mast)</a></li>
                                    }
                                    if (url.ToLower().Contains("createincharge"))
                                    {
                                        <li><a href="/InCharges/CreateInCharge" class="active" title="担当マスター(Inchg Mast)">担当マスター(Inchg Mast)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/InCharges/CreateInCharge" title="担当マスター(Inchg Mast)">担当マスター(Inchg Mast)</a></li>
                                    }

                                    if (url.ToLower().Contains("createroles"))
                                    {
                                        <li><a href="/Roles/CreateRoles" class="active" title="役割マスター( Role Mast)">役割マスター( Role Mast)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Roles/CreateRoles" title="役割マスター( Role Mast)">役割マスター( Role Mast)</a></li>
                                    }
                                    if (url.ToLower().Contains("createexplanation"))
                                    {
                                        <li><a href="/Explanations/CreateExplanation" class="active" title="説明マスター (Expl Mast)">説明マスター (Expl Mast)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Explanations/CreateExplanation" title="説明マスター (Expl Mast)">説明マスター (Expl Mast)</a></li>
                                    }
                                    if (url.ToLower().Contains("createcompany"))
                                    {
                                        <li><a href="/Companies/CreateCompany" class="active" title="会社マスター (Company Mast)">会社マスター (Company Mast)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Companies/CreateCompany" title="会社マスター (Company Mast)">会社マスター (Company Mast)</a></li>
                                    }
                                    if (url.ToLower().Contains("createsalary"))
                                    {
                                        <li><a href="/Salaries/CreateSalary" class="active" title="グレードマスター (Grade Mast)">グレードマスター (Grade Mast)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Salaries/CreateSalary" title="グレードマスター (Grade Mast)">グレードマスター (Grade Mast)</a></li>
                                    }
                                    if (url.ToLower().Contains("createnewemployee"))
                                    {
                                        <li><a href="/Employees/CreateNewEmployee" class="active" title="人員マスター (Name Mast)">人員マスター (Name Mast)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Employees/CreateNewEmployee" title="人員マスター (Name Mast)">人員マスター (Name Mast)</a></li>
                                    }
                                    if (url.ToLower().Contains("createusers"))
                                    {
                                        <li><a href="/Users/CreateUsers" class="active" title="利用者マスター（User Mast">利用者マスター（User Mast)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Users/CreateUsers" title="利用者マスター（User Mast">利用者マスター（User Mast)</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>