
@{
    ViewBag.Title = "利用者情報の設定(Edit User Information)";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/users_ver02.css" />
    <link href="/Content/budget_edit.css" rel="stylesheet" type="text/css" />
}

<div class="content container-fluid">
    <!-----------------Employee Master: Employee Registration Form----------------->
    @if (Convert.ToBoolean(ViewBag.linkFlag))
    {
        <div class="row">
            <div class="col-12">
                <div class="admin_div">
                    @* <h5 class="text-center"></h5> *@
                    <table id="admin_table">
                        <thead>
                            <tr>
                                <th colspan="7" class="user_name_list_header">管理者情報 (Admin Information)</th>
                            </tr>
                            <tr>
                                <th class="employee_list_theader">ユーザーID (User Id)</th>
                                <th class="employee_list_theader">役割 (User Role)</th>
                                <th class="employee_list_theader">役職 (Title)</th>
                                <th class="employee_list_theader">部署 (Department)</th>
                                <th class="employee_list_theader">メアド (Email)</th>
                                <th class="employee_list_theader">パスワー (Password)</th>
                                <th class="employee_list_theader">操作 (Action)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <br /><br />
    }


    <!-----------------Employee Master: Employee list are showing on this part----------------->
    <table id="employeeList_datatable" class="table table-striped table-bordered" style="width:100%">
        <thead id="employeelist_thead">
            <tr>
                <th colspan="8" class="user_name_list_header">他のユーザー (Other Users)</th>
            </tr>
            <tr>
                <th class="employee_list_theader">ユーザーID (User Id)</th>
                <th class="employee_list_theader">役割 (User Role)</th>
                <th class="employee_list_theader">役職 (Title)</th>
                <th class="employee_list_theader">部署 (Department)</th>
                <th class="employee_list_theader">メアド (Email)</th>
                <th class="employee_list_theader">Status</th>
                <th class="employee_list_theader">パスワー (Password)</th>
                <th class="employee_list_theader">操作 (Action)</th>
            </tr>
        </thead>
        <tbody id="employeelist_tbody"></tbody>
        @*<tfoot>
            <tr>
                <th>user name</th>
                <th>role</th>
                <th>title</th>
                <th>department</th>
                <th>email</th>
                <th>status</th>
            </tr>
        </tfoot>*@
    </table>
    <br />
</div>
<br><br>
<br><br>

<input type="hidden" id="employee_id_hidden" />
<input type="hidden" id="hid_changed_user_name" />
<input type="hidden" id="hid_changed_user_role" />
<input type="hidden" id="hid_changed_user_status" />

<input type="hidden" value="" id="user_id_hidden" />
@{
    if (Convert.ToBoolean(ViewBag.linkFlag))
    {        
        //user update modal
        <div class="modal custom-modal fade" id="modal_update_user" role="dialog">            
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header edit_user_header">
                            <h3>利用者情報の更新 (Edit Users)</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label id="input_master"></label>

                            <div class="row">
                                <div class="col-md-4"><label class="input_title">ユーザーID (User)</label></div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="edit_user_name" placeholder="名前 (User Name)">                 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">役職 (Title)</label></div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="edit_user_title" placeholder="役職 (Title)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">役割 (Role)</label></div>
                                <div class="col-md-8">
                                    <select id="user_role_list" name="user_role_list" style=""></select>
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">部署 (Dept)</label></div>
                                <div class="col-md-8">
                                    <select id="user_department_edit" style=""></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">メアド (Email)</label></div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="edit_user_email" placeholder="メアド (Email)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">状態 (Status)</label></div>
                                <div class="col-md-8">
                                    <select id="user_status_edit" style="">   
                                        <option value=''>select status</option>                                                                             
                                        <option value='1'>有効(Active)</option>
                                        <option value='3'>承認待ち(waiting)</option>
                                        <option value='0'>無効(Inactive)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">パスワー (Pass)</label></div>
                                <div class="col-md-8">                                    
                                    <input type="password" class="form-control" id="edit_user_pass" placeholder="パスワー (Pass)">
                                    <span toggle="#edit_user_pass" class="fa fa-fw fa-eye field-icon toggle-password" id="show_password"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <div class="edit_user_action">
                                        <a href="javascript:void(0);" class="user_edit_undo_btn">取消(Undo）</a>
                                        <a href="javascript:void(0);" class="user_edit_update_btn">更新​ (Update)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    }
    else 
    {                
        <div class="modal fade" id="modal_update_user">            
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_change_history_label">
                            利用者情報の更新 (Edit Users)
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label id="input_master"></label>
                        <input type="hidden" value="" id="user_id_hidden" />
                        
                        <div class="row">
                            <div class="col-md-4"><label class="input_title">ユーザーID (User)</label></div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="edit_user_name" placeholder="名前 (User Name)">                 
                                @* <input type="text" value="" placeholder="名前 (User Name)" id="userName" required> *@
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">役職 (Title)</label></div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="edit_user_title" placeholder="役職 (Title)">
                                @* <input type="text" value="" placeholder="役職 (Title)" id="userTitle" required> *@
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4"><label class="input_title">役割 (Role)</label></div>
                            <div class="col-md-8">
                                <select id="user_role_list" name="user_role_list" style="" disabled></select>
                                @* <select id="userRole" name="userRole" disabled></select> *@
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">部署 (Dept)</label></div>
                            <div class="col-md-8">
                                <select id="user_department_edit" style="" disabled></select>
                                @* <select id="userDepartment" name="userDepartment"></select> *@
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">メアド (Email)</label></div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="edit_user_email" placeholder="メアド (Email)">
                                @* <input type="text" value="" placeholder="メアド (Email)" id="userEmail"> *@
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">状態 (Status)</label></div>
                            <div class="col-md-8">
                                <select id="user_status_edit" style="" disabled>      
                                    <option value=''>select status</option>                                                                           
                                    <option value='1'>有効(Active)</option>
                                    <option value='3'>承認待ち(waiting)</option>
                                    <option value='0'>無効(Inactive)</option>
                                </select>

                                @* <select id="userStatus" name="userStatus" disabled>
                                    <option value='1'>有効(Active)</option>
                                    <option value='3'>承認待ち(waiting)</option>
                                    <option value='0'>無効(Inactive)</option>
                                </select> *@
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">パスワー (Pass)</label></div>
                            <div class="col-md-8">                                
                                <input type="password" class="form-control" id="edit_user_pass" placeholder="パスワー (Pass)">
                                <span toggle="#edit_user_pass" class="fa fa-fw fa-eye field-icon toggle-password" id="show_password"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="edit_user_action">
                                    <a href="javascript:void(0);" class="user_edit_undo_btn">取消(Undo）</a>
                                    <a href="javascript:void(0);" class="user_edit_update_btn">更新​ (Update)</a>
                                </div>
                            </div>
                        </div>

                    </div>                    
                </div>
            </div>
        </div>
    }
}

<!-----------------Modal: Change User Status----------------->
<div class="modal custom-modal fade" id="user_status_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Change User Status</h3>
                    <p>Are you sure want to change the status?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="btn_status_change">Status Change</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/users_ver02.js"></script>    
    
    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>    
}
