
@{
    ViewBag.Title = "利用者情報の設定";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/user_edit.css" />    
}

<div class="content container-fluid">
    <!-----------------Employee Master: Employee Registration Form----------------->
    @if (ViewBag.UserRole == "admin")
    {
        <div class="row">
            <div class="col-12">
                <div class="admin_div">                    
                    <table id="admin_table" style="width:100%">
                        <thead id="admin_thead">
                            <tr>
                                <th colspan="7" class="admin_tr_thead">管理者情報</th>
                            </tr>
                            <tr>
                                <th class="admin_tr_thead">ユーザーID</th>
                                <th class="admin_tr_thead">役割</th>
                                <th class="admin_tr_thead">役職</th>
                                <th class="admin_tr_thead">部署</th>
                                <th class="admin_tr_thead">メアド</th>
                                <th class="admin_tr_thead">パスワード</th>
                                <th class="admin_tr_thead">操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <br /><br />
    }


    <!-----------------Employee Master: Employee list are showing on this part----------------->
    <table id="user_list" class="table table-striped table-bordered" style="width:100%">
        <thead id="user_thead">
            <tr>
                <th colspan="8" class="user_list_header">他のユーザー</th>
            </tr>
            <tr>
                <th class="user_list_header">ユーザーID</th>
                <th class="user_list_header">役割</th>
                <th class="user_list_header">役職</th>
                <th class="user_list_header">部署</th>
                <th class="user_list_header">メアド</th>
                <th class="user_list_header">状態</th>
                <th class="user_list_header">パスワード</th>
                <th class="user_list_header">操作</th>
            </tr>
        </thead>
        <tbody id="user_list_body"></tbody>        
    </table>
    <br />
</div>
<br><br>
<br><br>

<input type="hidden" id="employee_id_hidden" />
<input type="hidden" id="hid_changed_user_name" />
<input type="hidden" id="hid_changed_user_role" />
<input type="hidden" id="hid_changed_user_status" />

<input type="hidden" value="" id="user_id_hidden" />
@{
    if (ViewBag.UserRole == "admin")
    {        
        //Admin User Edit Modal
        <div class="modal custom-modal fade" id="modal_update_user" role="dialog">            
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header edit_user_header">
                            <h3>利用者情報の更新</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label id="input_master"></label>

                            <div class="row">
                                <div class="col-md-4"><label class="input_title">ユーザーID</label></div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="edit_user_name" placeholder="名前">                 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">役職</label></div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="edit_user_title" placeholder="役職">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">役割</label></div>
                                <div class="col-md-8">
                                    <select id="user_role_list" name="user_role_list" style=""></select>
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">部署</label></div>
                                <div class="col-md-8">
                                    <select id="user_department_edit" style=""></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">メアド</label></div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="edit_user_email" placeholder="メアド">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">状態</label></div>
                                <div class="col-md-8">
                                    <select id="user_status_edit" style="">   
                                        <option value=''>select status</option>                                                                             
                                        <option value='1'>有効</option>
                                        <option value='3'>承認待ち</option>
                                        <option value='0'>無効</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><label class="input_title">パスワード</label></div>
                                <div class="col-md-8">                                    
                                    <input type="password" class="form-control" id="edit_user_pass" placeholder="パスワード">
                                    <span toggle="#edit_user_pass" class="fa fa-fw fa-eye field-icon toggle-password" id="show_password"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <div class="edit_user_action">
                                        <a href="javascript:void(0);" class="user_edit_undo_btn">取消</a>
                                        <a href="javascript:void(0);" class="user_edit_update_btn">更新​</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    }    
    else 
    {   
        //Other Users Edit Modal             
        <div class="modal fade" id="modal_update_user">            
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_change_history_label">
                            利用者情報の更新
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label id="input_master"></label>
                        <input type="hidden" value="" id="user_id_hidden" />
                        
                        <div class="row">
                            <div class="col-md-4"><label class="input_title">ユーザーID</label></div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="edit_user_name" placeholder="名前">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">役職</label></div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="edit_user_title" placeholder="役職">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4"><label class="input_title">役割</label></div>
                            <div class="col-md-8">
                                <select id="user_role_list" name="user_role_list" style="" disabled></select>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">部署</label></div>
                            <div class="col-md-8">
                                <select id="user_department_edit" style="" disabled></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">メアド</label></div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="edit_user_email" placeholder="メアド (Email)">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">状態</label></div>
                            <div class="col-md-8">
                                <select id="user_status_edit" style="" disabled>      
                                    <option value=''>select status</option>                                                                           
                                    <option value='1'>有効</option>
                                    <option value='3'>承認待ち</option>
                                    <option value='0'>無効</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><label class="input_title">パスワード</label></div>
                            <div class="col-md-8">                                
                                <input type="password" class="form-control" id="edit_user_pass" placeholder="パスワード">
                                <span toggle="#edit_user_pass" class="fa fa-fw fa-eye field-icon toggle-password" id="show_password"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="edit_user_action">
                                    <a href="javascript:void(0);" class="user_edit_undo_btn">取消</a>
                                    <a href="javascript:void(0);" class="user_edit_update_btn">更新</a>
                                </div>
                            </div>
                        </div>

                    </div>                    
                </div>
            </div>
        </div>
    }
}

@section Scripts{

    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/user_edit.js"></script>    
    
    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>    
}
