
@{
    ViewBag.Title = "説明の登録、編集、削除 (Explanation Registration)";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/explanations.css" />    
}

<div class="content container-fluid">
    <!-----------------Explanation Master: Explanation list are showing on this part----------------->
    <div id="exp_list" style="display: block;">
        <div class="row">
            <div class="col-md-10">
                <div class="table-responsive">
                    <label id="list_master">
                        登録した説明を消去するには、チェックボックスにチェックを入れ、削除ボタンをクリックしてください。 
                    </label>
                    <table class="" id="exp_list_tbl">
                        <thead>
                            <tr>
                                <th colspan="6" class="explanation_th">説明 リスト(Explanation List)</th>
                            </tr>
                            <tr>
                                <th class="exp_list_theader explanation_th" >複数選択</th>
                                <th class="exp_list_theader explanation_th">説明 (Explanation)</th>
                            </tr>
                        </thead>
                        <tbody id="explanations_list_tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>

        @if (ViewBag.UserRole == "admin" || ViewBag.UserRole == "editor" )
        {            
            <div class="add_edit_delete_explanation" style="display: block;">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <button class="btn delete_role_btn" type="button">削除 (delete)​</button>
                            </div>
                            
                            <div class="col-md-3">
                                <button class="btn edit_explanation_btn" type="button">編集​ (edit)​</button>
                            </div>
                            <div class="col-md-3" >
                                <button class="btn add_explanation_btn" type="button">追加 (add)</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
    <input type="hidden" id="hid_explanation_id" />
</div>

<!-----------------Modal: Add Role----------------->
<div class="modal custom-modal fade" id="add_explanation_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                
                <div class="form-header">
                    <h3 id='add_modal_header'>追加 説明 (add explanation)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <label id='add_modal_body_title'>新規登録する場合は、「新規説明をここに入力」テキストボックスに説明名を記載し、保存ボタンをクリックしてください。</label>
                    <table id="exp_reg_tbl">
                        <thead style="border:none;">
                            <tr></tr>
                            <tr>
                                <th class="explanation_th">説明 (Explanation)</th>
                                <th class="explanation_th">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="exp_reg_frm_td">
                                    <input type="text" value="" placeholder="新規説明をここに入力" id="explanation_name">                                           
                                </td>
                                <td id="exp_reg_frm_td">
                                    <a href="javascript:void(0);" class="" id="undo_explation_add_btn">取消(undo)</a>
                                    <a href="javascript:void(0);" class="" id="exp_reg_save_btn">保存（save）</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>              
                </div>
                <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Edit Role----------------->
<div class="modal custom-modal fade" id="edit_explanation_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                
                <div class="form-header">
                    <h3 id='add_modal_header'>説明を編集する (edit explanation)</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <label id='add_modal_body_title'>登録した役割を編集する場合は、編集するテキストボックスを選択し、変更する役割名を記載し、更新ボタンをクリックしてください</label>
                    <table id="exp_reg_tbl">
                        <thead style="border:none;">
                            <tr></tr>
                            <tr>
                                <th class="explanation_th">説明 (Explanation Name)</th>
                                <th class="explanation_th">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="exp_reg_frm_td">
                                    <input type="text" value="" placeholder="新規説明をここに入力" id="explanation_name_edit">                                           
                                </td>
                                <td id="exp_reg_frm_td">
                                    <a href="javascript:void(0);" class="" id="undo_explation_edit_btn">取消(undo)</a>
                                    <a href="javascript:void(0);" class="" id="exp_reg_save_btn_edit">更新​ (Update)</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>              
                </div>
                <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary modal_return_btn" data-dismiss="modal" >戻る</button>                        
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal: Delete Roles----------------->
<div class="modal custom-modal fade" id="inactive_explanation_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3 class="add_edit_del_header">説明削除 (Delete Explanations)</h3>
                    <ol class="explanation_count" style="text-align:left;"></ol>
                    <p>本当に削除しますか？</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">キャンセル</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="explanations_inactive_confirm_btn">削除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/explanations.js"></script>
    
    <!-- user login/logout notifications script -->
    <script src="~/signalr/hubs"></script>
    <script src="/Scripts/user_notifications.js"></script>    
}